<div class="container">
  <h2>Orders</h2>

  <div class="container">
    <div class="row mb-4 mt-3 p-3 bg-light rounded">
      <div class="col-md-4">
        <label for="exampleFormControlInput1" class="labelText d-block"
          >From Date</label
        >
        <input
          type="date"
          [(ngModel)]="searchObj.fromDate"
          (change)="getOrders()"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>
      <div class="col-md-4">
        <label for="exampleFormControlInput2" class="labelText d-block"
          >To Date</label
        >
        <input
          type="date"
          [(ngModel)]="searchObj.toDate"
          (change)="getOrders()"
          class="form-control"
          id="exampleFormControlInput2"
        />
      </div>
      <div class="col-md-4">
        <label for="exampleFormControlInput2" class="form-label">Search</label>

        <input
          type="text"
          (input)="searchFilter($event)"
          class="form-control"
          placeholder="Search"
          aria-label="Search Filter"
          aria-describedby="basic-addon2"
        />
      </div>
    </div>
  </div>
  <div *ngIf="filteredOrderList.length > 0">
    <div *ngFor="let order of filteredOrderList" class="cardDesign my-1">
      <div class="row">
        <div
          class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center w-full"
        >
          <div class="">
            <div class="labelText">Order Id</div>
            <div class="labelData">{{ order?.order_id }}</div>
          </div>
          <div class="">
            <div class="labelText">Customer Id</div>
            <div class="labelData">{{ order?.customerId }}</div>
          </div>
          <div class="">
            <div class="labelText">Customer Name</div>
            <div class="labelData">{{ order?.customerName }}</div>
          </div>
          <div class="">
            <div class="labelText">Date</div>
            <div class="labelData">
              {{ order?.orderDate | date : "dd/MM/yyyy" }}
            </div>
          </div>
          <div class="">
            <div class="labelText">Type</div>
            <div class="labelData">{{ order?.orderType }}</div>
          </div>
          <div class="">
            <div class="labelText">Price</div>
            <div class="labelData">{{ order?.amount }}</div>
          </div>
          <div class="">
            <div class="labelText">Status</div>
            <div class="labelData">{{ order?.orderstatus }}</div>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      *ngIf="nextOn"
      class="btn btn-primary btn-sm mt-2"
      (click)="getMore()"
    >
      Load More
    </button>
  </div>

  <div class="center" *ngIf="filteredOrderList.length === 0">
    No Records Found
  </div>
</div>
