@use '/src/styles/theme/mixins' as mixin;
@use '/src/styles.scss' as color;

.custom-tabs {
    ::ng-deep .mat-mdc-tab.mdc-tab--active {
        @include mixin.active-mat-tab(#fff, 6px);
    }

    ::ng-deep .mat-mdc-tab-labels {
        width: fit-content;
    }

    ::ng-deep .mat-mdc-tab-label-container {
        border-bottom-style: 1rem solid !important;
    }

}

.reloadIcon {
    position: absolute;
    right: 1rem;
    top: 5px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    // mat-icon {
    //     animation: spin-on-hover 1s linear infinite paused;
    // }

    // &:hover mat-icon {
    //     animation-play-state: running;
    // }
}

.custom-button-toggle {
    width: fit-content;
}

.chip-badge {
    background: rgba(0, 0, 0, 0.1);
    color: inherit;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: 6px;
    font-weight: 600;
}

.pagination-controls {
    button {
        // color: color.$primary-color;
    }
}

@keyframes spin-on-hover {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

::ng-deep .mat-mdc-tab-body-content {
    overflow: hidden !important;
}