<div class="container-fluid position-relative">
    <div class="mb-2 reloadIcon" (click)="reloadPage()">
        <i class="bi bi-bootstrap-reboot"></i>
    </div>
    <!-- Main Tabs -->
    <div class="row bg-light rounded py-2 my-3 ">
        <div class="col-4 col-md-3 col-lg-2 bgpadding1" *ngFor="let view of orderTypeList"
            [ngClass]="{ tileSelected: selectedTab === view.path }" (click)="gotToTab(view.path)">
            <div class="tileLabel header4 countTile">{{ view.name }}</div>
        </div>

    </div>

    <!-- Sub Tabs -->
    <!-- <div class="row" *ngIf="getSubTab().length">
  <div class="col-4 col-md-3 col-lg-2 bgpadding1" *ngFor="let sub of getSubTab()"
    [ngClass]="{ tileSelected: selectedSubTab === sub.path || selectedSubTab === sub.name }"
    (click)="goToSubTab(sub.path || sub.name)">
    <div class="tileLabel header4 countTile">{{ sub.name }}</div>
  </div>
</div> -->

</div>

<div class="bgpadding2">

    <div class="row" *ngIf="selectedTab === 'adminOrders'">
        <div class="col-4">
            <div class="btn-group cl6" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle tileLabel"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{groupSelected: selectedGroup == 'dailyBulk'}">
                    <span class="tileLabel">B2B Polling Orders</span>
                    <span class="groupedTile one">{{orderStatusCountObj?.dailyBulk?.placed}}</span>
                    <span class="groupedTile two">{{orderStatusCountObj?.dailyBulk?.accepted}}</span>
                    <span class="groupedTile three">{{orderStatusCountObj?.dailyBulk?.preparing}}</span>
                    <span class="groupedTile four">{{orderStatusCountObj?.dailyBulk?.cancelled}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('dailyBulk')">
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('placed')">Placed<span
                            class="badge badge-dark"> {{orderStatusCountObj?.dailyBulk?.placed}}</span></span>
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('accepted')">Accepted<span
                            class="badge badge-dark"> {{orderStatusCountObj?.dailyBulk?.accepted}}</span></span>
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('preparing')">Preparing<span
                            class="badge badge-dark"> {{orderStatusCountObj?.dailyBulk?.preparing}}</span></span>
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('cancelled')">Cancelled<span
                            class="badge badge-dark"> {{orderStatusCountObj?.dailyBulk?.cancelled}}</span></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="btn-group cl6" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{groupSelected: selectedGroup == 'poll_delivery'}">
                    <span class="tileLabel">B2B Polling Bulk Delivery Status</span>
                    <span class="groupedTile one">{{orderStatusCountObj?.dailyBulk?.readyForDelivery}}</span>
                    <span class="groupedTile two">{{orderStatusCountObj?.dailyBulk?.deliveryBoyAssigned}}</span>
                    <span class="groupedTile three">{{orderStatusCountObj?.dailyBulk?.handedOverToDeliveryBoy}}</span>
                    <span class="groupedTile four">{{orderStatusCountObj?.dailyBulk?.onTheWay}}</span>
                    <span class="groupedTile five">{{orderStatusCountObj?.dailyBulk?.delivered}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('poll_delivery')">
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('readyForDelivery')">Ready
                        For
                        Delivery<span class="badge badge-dark">
                            {{orderStatusCountObj?.dailyBulk?.readyForDelivery}}</span></span>
                    <span class="dropdown-item"
                        (click)="getLatestBulkDailyOrderStatusList('deliveryBoyAssigned')">Delivery
                        Boy Assigned<span class="badge badge-dark">
                            {{orderStatusCountObj?.dailyBulk?.deliveryBoyAssigned}}</span></span>
                    <span class="dropdown-item"
                        (click)="getLatestBulkDailyOrderStatusList('handedOverToDeliveryBoy')">Handed to Delivery
                        Boy<span class="badge badge-dark">
                            {{orderStatusCountObj?.dailyBulk?.handedOverToDeliveryBoy}}</span></span>
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('onTheWay')">On The Way<span
                            class="badge badge-dark"> {{orderStatusCountObj?.dailyBulk?.onTheWay}}</span></span>
                    <span class="dropdown-item" (click)="getLatestBulkDailyOrderStatusList('delivered')">Delivered<span
                            class="badge badge-dark"> {{orderStatusCountObj?.dailyBulk?.delivered}}</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab === 'bulkOrders'">
        <div class="col-4">
            <div class="btn-group cl6" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{b2bgroupSelected: selectedGroup == 'b2b'}">
                    <span class="tileLabel">B2B Event Bulk Order</span>
                    <span class="groupedTile one">{{orderStatusCountObj?.b2bBulk?.waitingForApproval}}</span>
                    <span class="groupedTile two">{{orderStatusCountObj?.b2bBulk?.placed}}</span>
                    <span class="groupedTile three">{{orderStatusCountObj?.b2bBulk?.accepted}}</span>
                    <span class="groupedTile four">{{orderStatusCountObj?.b2bBulk?.inprogress}}</span>
                    <span class="groupedTile four">{{orderStatusCountObj?.b2bBulk?.preparing}}</span>
                    <span class="groupedTile five">{{orderStatusCountObj?.b2bBulk?.declined}}</span>
                    <span class="groupedTile six">{{orderStatusCountObj?.b2bBulk?.cancelled}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('b2b')">
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_waitingForApproval')">Waiting
                        For
                        Approval<span class="badge badge-dark">
                            {{orderStatusCountObj?.b2bBulk?.waitingForApproval}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_placed')">Placed<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.placed}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_accepted')">Accepted<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.accepted}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_inprogress')">Preparing<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.preparing}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_declined')">Declined<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.declined}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_cancelled')">Cancelled<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.cancelled}}</span></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="btn-group cl6" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{groupSelected: selectedGroup == 'bulk_delivery'}">
                    <span class="tileLabel">B2B Event Bulk Delivery Status</span>
                    <span class="groupedTile one">{{orderStatusCountObj?.b2bBulk?.readyForDelivery}}</span>
                    <span class="groupedTile two">{{orderStatusCountObj?.b2bBulk?.deliveryBoyAssigned}}</span>
                    <span class="groupedTile three">{{orderStatusCountObj?.b2bBulk?.handedOverToDeliveryBoy}}</span>
                    <span class="groupedTile four">{{orderStatusCountObj?.b2bBulk?.onTheWay}}</span>
                    <span class="groupedTile five">{{orderStatusCountObj?.b2bBulk?.delivered}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('bulk_delivery')">
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_readyForDelivery')">Ready For
                        Delivery<span class="badge badge-dark">
                            {{orderStatusCountObj?.b2bBulk?.readyForDelivery}}</span></span>
                    <span class="dropdown-item"
                        (click)="getLatestb2bOrderStatusList('b2b_deliveryBoyAssigned')">Delivery
                        Boy Assigned<span class="badge badge-dark">
                            {{orderStatusCountObj?.b2bBulk?.deliveryBoyAssigned}}</span></span>
                    <span class="dropdown-item"
                        (click)="getLatestb2bOrderStatusList('b2b_handedOverToDeliveryBoy')">Handed
                        to Delivery Boy<span class="badge badge-dark">
                            {{orderStatusCountObj?.b2bBulk?.handedOverToDeliveryBoy}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_onTheWay')">On The Way<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.onTheWay}}</span></span>
                    <span class="dropdown-item" (click)="getLatestb2bOrderStatusList('b2b_completed')">Delivered<span
                            class="badge badge-dark"> {{orderStatusCountObj?.b2bBulk?.delivered}}</span></span>
                </div>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="selectedTab === 'employeePoll'">
        <div class="col-4">
            <div class="btn-group cl6" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle tileLabel"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{groupSelected: selectedGroup == 'empPolls'}">
                    <span class="tileLabel">Employee Polls</span>
                    <span class="groupedTile one">{{orderStatusCountObj?.empVote?.today}}</span>
                    <span class="groupedTile two">{{orderStatusCountObj?.empVote?.tomorrow}}</span>
                    <span class="groupedTile three">{{orderStatusCountObj?.empVote?.dayAfterTomorrow}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('empPolls')">
                    <span class="dropdown-item" (click)="getEmployeePollList('today')">Today<span
                            class="badge badge-dark">
                            {{orderStatusCountObj?.empVote?.today}}</span></span>
                    <span class="dropdown-item" (click)="getEmployeePollList('tomorrow')">Tomorrow<span
                            class="badge badge-dark"> {{orderStatusCountObj?.empVote?.tomorrow}}</span></span>
                    <span class="dropdown-item" (click)="getEmployeePollList('dayAfterTomorrow')">Day After
                        Tomorrow<span class="badge badge-dark">
                            {{orderStatusCountObj?.empVote?.dayAfterTomorrow}}</span></span>
                </div>
            </div>
        </div>
    </div>


    <div class="bgpadding2">
        <div *ngIf="filteredList.length > 0">
            <div class="navigationBtns">
                <button class="btn btn-dark btn-sm me-4" (click)="previous(page)"
                    [disabled]="page === 1">Previous</button>
                <span class="labelText">Showing {{pageFirstEntry}} to {{pageLastEntry}}</span>
                <button class="btn btn-dark btn-sm ms-4" (click)="next(page)"
                    [disabled]="paginationOver && page === lastPage">Next</button>
            </div>
            <div *ngIf="filteredList.length > 0" class="mt-3">
                <ul *ngFor="let order of filteredList " class="list-group">
                    <li class="list-group-item">
                        <app-bulk-order-card [orderInput]="order"
                            *ngIf="(order.orderType === 'bulkMeals' || order.orderType === 'individualMeals' || order.orderType === 'bulkSnacks' || order.orderType === 'individualSnacks' || order.orderType === 'predefinedSnackbox' || order.orderType === 'customSnackbox') && b2bSelectedStatus && selectedTab === 'bulkOrders'"></app-bulk-order-card>
                        <app-daily-bulk-card *ngIf="order.orderType === 'dailyBulk' && selectedTab === 'adminOrders'"
                            [orderInput]="order"></app-daily-bulk-card>
                        <app-emp-poll-card *ngIf="order.orderType === 'empPolls' && selectedTab === 'employeePoll'" [day]="day"
                            [orderInput]="order"></app-emp-poll-card>
                    </li>
                </ul>
            </div>
        </div>

        <div class="center" *ngIf="filteredList.length === 0">
            No Records Found for this filter
        </div>
    </div>
</div>