<div class="container py-2">
  <h3>Menu Items</h3>
  <div class="container">
    <div class="row mb-4 mt-3 p-3 bg-light rounded">
      <div class="col-md-3">
        <label class="labelText">Date-Time Range</label>
        <select
          class="form-select"
          [(ngModel)]="searchObj.time"
          (change)="getChartData()"
        >
          <option selected disabled value="">Select Date-Time Range</option>
          <option *ngFor="let item of timeArray" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-hover">
    <highcharts-chart
      *ngIf="initialData.length > 0"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [update]="updateFlag"
      [oneToOne]="oneToOneFlag"
      style="width: 100%; height: 400px; display: block"
    >
    </highcharts-chart>

    <div class="h-100 d-flex justify-content-center align-items-center pt-2">
      <p *ngIf="initialData.length <= 0">No Data Found</p>
    </div>
  </div>
</div>
