<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Employee List</h3>
    </div>

    <div class="col-md-4">
      <input
        type="text"
        (input)="searchFilter($event)"
        class="form-control"
        placeholder="Search"
        aria-label="Search Filter"
        aria-describedby="basic-addon2"
      />
    </div>
    <div class="col-md-2 text-md-end">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Add Emploee
      </button>
    </div>
  </div>
  <div *ngIf="filteredEmployeeList.length > 0">
    <div *ngFor="let employee of filteredEmployeeList" class="cardDesign my-1">
      <div class="row">
        <div
          class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center w-full"
        >
          <div class="">
            <div class="labelText">Employee Id</div>
            <div class="labelData">{{ employee?.employeeId }}</div>
          </div>
          <div class="">
            <div class="labelText">Employee Name</div>
            <div class="labelData">{{ employee?.employeeName }}</div>
          </div>
          <div class="">
            <div class="labelText">Employee Phone No</div>
            <div class="labelData">{{ employee?.employeePhoneNo }}</div>
          </div>
          <div class="">
            <div class="labelText">Employee Email</div>
            <div class="labelData">{{ employee?.employeeEmail }}</div>
          </div>
          <div class="">
            <div class="labelText">Cafeterion Id</div>
            <div class="labelData">{{ employee?.cafeteria_id }}</div>
          </div>
          <div class="">
            <div class="labelText">Cafeterion Name</div>
            <div class="labelData">{{ employee?.cafeteria_name }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary btn-sm mt-2" (click)="getMore()">Load
            More</button> -->
  </div>

  <div class="center" *ngIf="filteredEmployeeList.length === 0">
    No Records Found
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Employee</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (submit)="saveEmployee()" [formGroup]="employeeForm" novalidate>
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-lg-4">
                <label for="organization" class="labelText d-block"
                  >Organization</label
                >
                <select
                  class="form-select"
                  [(ngModel)]="employeeObj.organization_id"
                  (change)="setOrgDetails()"
                  formControlName="organization_id"
                >
                  <option selected disabled value="">
                    Select Organization
                  </option>
                  <option *ngFor="let option of orglist" [value]="option._id">
                    {{ option.organization_name }}
                  </option>
                </select>
              </div>
              <div class="col-lg-4">
                <label for="cafeteria" class="labelText d-block"
                  >Cafeteria</label
                >
                <select
                  [disabled]="!orgDetails"
                  class="form-select"
                  [(ngModel)]="employeeObj.cafeteria_id"
                  formControlName="cafeteria_id"
                >
                  <option selected disabled value="">Select Cafeteria</option>
                  <option
                    *ngFor="let option of orgDetails?.cafeteriaList"
                    [value]="option._id"
                  >
                    {{ option.cafeteria_name }}
                  </option>
                </select>
              </div>
              <div class="col-lg-4 has_">
                <label class="labelText">Employee Id</label>
                <input
                  [(ngModel)]="employeeObj.employeeId"
                  formControlName="employeeId"
                  type="text"
                  class="form-control"
                  placeholder="Enter Employee Id"
                />
                <div
                  class="error-text"
                  *ngIf="f['employeeId'].touched && f['employeeId'].invalid"
                >
                  Employee ID is required
                </div>
              </div>
              <div class="col-lg-4">
                <label class="labelText">Employee Name</label>
                <input
                  [(ngModel)]="employeeObj.employeeName"
                  formControlName="employeeName"
                  type="text"
                  class="form-control"
                  placeholder="Enter Employee Name"
                />
                <div
                  class="error-text"
                  *ngIf="f['employeeName'].touched && f['employeeName'].invalid"
                >
                  Employee Name is required
                </div>
              </div>
              <div class="col-lg-4">
                <label class="labelText">Employee Email</label>
                <input
                  [(ngModel)]="employeeObj.employeeEmail"
                  formControlName="employeeEmail"
                  type="email"
                  class="form-control"
                  placeholder="Enter Employee Email"
                />
                <div
                  class="error-text"
                  *ngIf="
                    f['employeeEmail'].touched && f['employeeEmail'].invalid
                  "
                >
                  Employee Email is required
                </div>
              </div>
              <div class="col-lg-4">
                <label class="labelText">Employee Mobile Number</label>
                <input
                  [(ngModel)]="employeeObj.employeePhoneNo"
                  formControlName="employeePhoneNo"
                  type="number"
                  class="form-control"
                  placeholder="Enter Employee Mobile Number"
                />
              </div>
              <div
                class="error-text"
                *ngIf="
                  f['employeePhoneNo'].touched && f['employeePhoneNo'].invalid
                "
              >
                Employee Mobile Number is required
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="employeeForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
