<div class="bgpadding1">
    <div class="right">
        <button *ngIf="!editMode && access" type="button" class="btn btn-primary btn-sm"
            (click)="editMode = true">Edit</button>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="labelText">Compliance Status: <span class="labelData">{{profileApproval}}</span></div>
            <div *ngIf="!editMode">
                <div class="labelText">Fssai No: <span class="labelData">{{compliance.fssai}}</span></div>
                <div class="labelText">Fssai Expiry Date: <span class="labelData">{{compliance.fssaiExpiryDate}}</span>
                </div>
            </div>
            <div *ngIf="editMode">
                <div class="labelText">Fssai No:
                    <input type="text" class="form-control" placeholder="Fssai No" [(ngModel)]="compliance.fssai" />
                </div>
                <div class="labelText">Fssai Expiry Date:
                    <input type="date" class="form-control" placeholder="Fssai Expiry Date"
                        [(ngModel)]="compliance.fssaiExpiryDate" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <!-- <div *ngIf="editMode && !compliance.fssaiFileUrl">
                <app-pdfupload [documentname]="fssailic" [documentUrl]="compliance.fssaiFileUrl"
                    (upload)=uploadDoc($event)></app-pdfupload>
            </div> -->
            <ng-container *ngIf="compliance.fssaiFileUrl">
                <div *ngIf="compliance.fssaiFileUrl" class="pdf-preview">
                    <iframe [src]="compliance.fssaiFileUrl" type="application/pdf"></iframe>
                    <button class="cancel-btn" (click)="DeleteFile('fssailic')">Delete</button>
                </div>
            </ng-container>
        </div>
        
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="labelText" *ngIf="!editMode">Adhaar No: <span class="labelData">{{compliance.adhaar}}</span>
            </div>
            <div class="labelText" *ngIf="editMode">Adhaar No:
                <input type="text" class="form-control" placeholder="Adhaar No" [(ngModel)]="compliance.adhaar" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <!-- <div *ngIf="editMode && !compliance.adhaarFileUrl">
                <app-pdfupload [documentname]="aadhar" [documentUrl]="compliance.adhaarFileUrl"
                    (upload)=uploadDoc($event)></app-pdfupload>
            </div> -->
            <ng-container *ngIf="compliance.adhaarFileUrl">
                <div *ngIf="compliance.adhaarFileUrl" class="pdf-preview">
                    <iframe [src]="compliance.adhaarFileUrl" type="application/pdf"></iframe>
                    <button class="cancel-btn" (click)="DeleteFile('aadhar')">Delete</button>
                </div>
            </ng-container>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="labelText" *ngIf="!editMode">Trade Licence No: <span class="labelData">{{compliance.adhaar}}</span>
            </div>
            <div class="labelText" *ngIf="editMode">Trade Licence No:
                <input type="text" class="form-control" placeholder="Trade Licence No" [(ngModel)]="compliance.adhaar" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <!-- <div *ngIf="editMode && !compliance.adhaarFileUrl">
                <app-pdfupload [documentname]="aadhar" [documentUrl]="compliance.adhaarFileUrl"
                    (upload)=uploadDoc($event)></app-pdfupload>
            </div> -->
            <ng-container *ngIf="compliance.adhaarFileUrl">
                <div *ngIf="compliance.adhaarFileUrl" class="pdf-preview">
                    <iframe [src]="compliance.adhaarFileUrl" type="application/pdf"></iframe>
                    <button class="cancel-btn" (click)="DeleteFile('aadhar')">Delete</button>
                </div>
            </ng-container>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div *ngIf="!editMode" class="labelText">
                Gst Number: <span class="labelData">{{compliance.gstNumber}}</span>
            </div>
            <div *ngIf="editMode" class="labelText">
                Gst Number: (If annual turnover of rupees more than 12 lakhs?)
                <input type="text" class="form-control" placeholder="Gst Number" [(ngModel)]="compliance.gstNumber" />
            </div>
            <div *ngIf="!editMode">
                <div class="mt-2 me-2" *ngIf="profileApproval ==='pending' || profileApproval ==='approved'">
                    <div class="labelData">Reject/Suspend Comment</div>
                    <input type="text" class="form-control" [(ngModel)]="comment" placeholder="House No./streetName">
                </div>
                <div class="inline mt-2 me-2"
                    *ngIf="(profileApproval ==='pending' || profileApproval ==='suspended') && access?.complianceApprove">
                    <button type="button" class="btn btn-primary btn-sm"
                        (click)="updateProfileApproval('approved')">Approve</button>
                </div>
                <div class="inline mt-2 me-2" *ngIf="profileApproval ==='pending' && access?.complianceReject">
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="updateProfileApproval('rejected')">Reject</button>
                </div>
                <div class="inline mt-2 me-2" *ngIf="profileApproval ==='approved' && access?.complianceSuspend">
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="updateProfileApproval('suspended')">Suspend</button>
                </div>
                <div class="inline mt-2 me-2"
                    *ngIf="(profileApproval ==='rejected' || profileApproval ==='suspended') && access?.compliancePending">
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="updateProfileApproval('pending')">Pending</button>
                </div>
            </div>
            <div *ngIf="editMode">
                <div class="inline">
                    <button type="button" class="btn btn-primary btn-sm me-2" (click)="saveImages()">Save</button>
                </div>
                <div class="inline">
                    <button type="button" class="btn btn-danger btn-sm" (click)="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>