<div class="px-4 py-3 ">
    <h2>Reviews</h2>

    <div class="mt-2" *ngIf="feedbackList.length>0">
        <div class="row cardDesign list-group" *ngFor="let feedback of feedbackList; let i = index">
            <div class="list-group-item">
                <div class="row">
                    <div style="cursor: pointer;"
                        class=" bgTopDownpadding1 d-flex align-items-center justify-content-between p-2"
                        (click)="toggleFeedback(i)">
                        <div class="d-flex align-items-center gap-4 flex-wrap">
                            <div class="d-flex align-items-center ">
                                <div class="labelText">User Name : </div>
                                <div class="labelData"> {{feedback.feedbackFrom_name}}
                                </div>
                            </div>
                            <div class="d-flex align-items-center ">
                                <div class="labelText">Outlet Name : </div>
                                <div class="labelData"> {{feedback.outletName}}
                                </div>
                            </div>
                        </div>
                        <span class="right">
                            <i class="bi bi-chevron-down" *ngIf="!expandedItems[i]"></i>
                            <i class="bi bi-chevron-up" *ngIf="expandedItems[i]"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="expandedItems[i]">
                        <ng-container *ngFor="let item of feedback.itemlist;index as k">
                            <div class="cardDesignfeddback">
                                <ng-container *ngIf="item.itemContains.length>0">

                                    <div class="feedbackCard">
                                        <div>
                                            <div class="labelText">Menu Name</div>
                                            <div class="labelData">{{item.itemName}}
                                            </div>
                                        </div>
                                        <div class="d-flex w-100 align-items-center">
                                            <hr class="flex-grow-1">
                                            <span class="mx-2">Menu Contains</span>
                                            <hr class="flex-grow-1">
                                        </div>
                                        <ng-container *ngFor="let itemContent of item.itemContains; index as ic">
                                            <div class="cardDesign">
                                                <div class="row">
                                                    <div class="col-4 col-md-4 col-lg-4">

                                                        <div class="labelText">Contain Name</div>
                                                        <div class="labelData">{{itemContent.name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-md-4 col-lg-4">

                                                        <div class="labelText">Ratings</div>
                                                        <div class="labelData">{{itemContent.starRatingKitchen}}
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf="itemContent.kitchenFeedback">
                                                        <div class="col-4 col-md-4 col-lg-4">

                                                            <div class="labelText">Feedback</div>
                                                            <div class="labelData">{{itemContent.kitchenFeedback}}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="item.itemContains.length==0">
                                    <div class="d-flex flex-row items-center gap-4">
                                        <div>
                                            <div class="labelText">Menu Name</div>
                                            <div class="labelData">{{item.itemName}}
                                            </div>
                                        </div>
                                        <div>

                                            <div class="labelText">Ratings</div>
                                            <div class="labelData">{{item.starRatingKitchen}}
                                            </div>
                                        </div>
                                        <div *ngIf="item.kitchenFeedback">
                                            <div class="labelText">Ratings</div>
                                            <div class="labelData">{{item.kitchenFeedback}}</div>

                                        </div>
                                    </div>

                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm mt-2 me-2" (click)="getMore()">Load
            More</button>
    </div>
    <div class="center labelText mt-2" *ngIf="feedbackList.length==0">
        No Feedback found
    </div>
</div>