<nav class="navbar fixed-top" [class.py-0]="!isOrgAdmin">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="flex: 1">
      <span class="menu-burger" (click)="openEnd()"><i class="bi bi-list"></i></span>
      <span class="company-name">
        <ng-container *ngIf="!isOrgAdmin">
          <img class="deskdyneLogo" src="assets/images/DeskDyne-Logo-black.png" alt="deskdyneLogo" />
        </ng-container>
        <ng-container *ngIf="isOrgAdmin">
          <img class="deskdyneLogo" *ngIf="orgDetails.organizationLogoUrl"
            [src]="imageUrl + orgDetails.organizationLogoUrl" alt="orgLogo" />
          <span *ngIf="!orgDetails.organizationLogoUrl">{{ orgDetails.organization_name }}</span>
        </ng-container>
      </span>
    </span>
    <!-- <span class="breadCrumbText">{{ breadCrumbText }}</span> -->
    <img placement="bottom-right" class="profileImg pointer mr-2" *ngIf="adminProfile.imageUrl"
      [src]="imageUrl + adminProfile.imageUrl" [ngbPopover]="popOverBody" popoverTitle="Admin Profile" />
    <span *ngIf="!adminProfile.imageUrl" [style.background]="getAvatarColor(adminProfile.name)"
      class="initials-avatar pointer" [ngbPopover]="popOverBody" popoverTitle="Admin Profile">
      {{ getInitials(adminProfile.name) }}
    </span>
    <span class="profile-info ml-2" [ngbPopover]="popOverBody" popoverTitle="Admin Profile">
      <span class="name">{{ adminProfile.name }}</span>
      <span class="role">{{ adminProfile.role }}</span>
    </span>
  </div>
</nav>

<ng-template class="offcanvas" #content let-offcanvas>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">
      <ng-container *ngIf="!isOrgAdmin">
        <div class="d-flex justify-content-center align-items-center">
          <img class="centered-logo" src="assets/images/deskdyneLogo.png" alt="deskdyneLogo" />
        </div>
      </ng-container>
      <ng-container *ngIf="isOrgAdmin">
        {{ orgDetails.organization_name }}
      </ng-container>
    </h1>
  </div>
  <div class="offcanvas-body">
    <ng-container>
      <div *ngFor="let link of finalNavOption; let i = index">
        <div *ngIf="link.showParent">
          <div class="orgbutton d-flex align-items-center justify-content-between"
            [ngClass]="{ 'active-link': selectedIndex === i }" (click)="selectLink(link, i)">
            <div class="d-flex align-items-center flex-wrap gap-2">
              <img *ngIf="selectedIndex === i" [src]="'assets/images/SideNavbar/' + link.image + '.svg'"
                alt="Active Icon" class="sidebar-icon" />
              <img *ngIf="selectedIndex !== i" [src]="'assets/images/SideNavbar/' + link.image + '.svg'"
                alt="Inactive Icon" class="sidebar-icon" />
              <span>{{ link.name }}</span>
            </div>
            <div class="badge" *ngIf="link.showBadge && (link.count | async) ">
              <span>{{link.count | async}}</span>
            </div>
            <div *ngIf="link.children">
              <i class="bi" [ngClass]="openChildSectionIndex === i ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            </div>
          </div>
          <div *ngIf="link.children && openChildSectionIndex === i">
            <div *ngFor="let childLink of link.children; let j = index">
              <div *ngIf="childLink.showChild" class="childMenuStyle" type="button"
                (click)="selectChildLink(childLink.route, i, j)" [ngClass]="{
        'active-link': openChildSectionIndex === i && childSelectedIndex === j
      }">
                <i class="bi bi-circle child-dot"></i>
                {{ childLink.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #popOverBody>
  <div class="popover-wrapper">
    <div class="">
      <span class="bold">Admin Name: </span>
      <span class="grey">{{ adminProfile.name }}</span>
    </div>
    <div class="mt-2">
      <span class="bold">Admin ID: </span>
      <span class="grey">{{ adminProfile.loginId }}</span>
    </div>
    <div class="mt-2">
      <span class="bold">phoneNo: </span>
      <span class="grey">{{ adminProfile.phoneNo }}</span>
    </div>
    <div class="mt-2">
      <span class="bold">Email: </span>
      <span class="grey">{{ adminProfile.email }}</span>
    </div>
    <div class="mt-2">
      <button class="btn btn-primary" (click)="logout()">logout</button>
    </div>
  </div>
</ng-template>