.navbar {
  padding-left: 0;
}

.name {
  color: white;
  padding-right: 10px;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-burger {
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  padding-bottom: 4px;
}

.img-span {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(97, 82, 82, 0.5882352941);

  i {
    font-size: 25px;
    color: white;
    line-height: 30px;
  }
}

.popover-wrapper {
  padding: 5px;

  .btn-primary {
    background-color: #6571ff;
    width: 100%;
  }
}

.logout:hover {
  background-color: #f9fafb;
}

.accordion-body {
  padding-left: 45px;
  padding-top: 0;
}

.accordion-button {
  padding-bottom: 0;
}

.outlet-wrapper {
  margin-top: 55px;
}

.childMenuStyle {
  border-bottom: 0.5px solid gray;
  padding: 7px 0;
  margin-left: 17px;
  color: white;
}

@media only screen and (max-width: 600px) {

  .name,
  .company-name {
    display: none;
  }
}

.orgbutton {
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  border-bottom: 0.5px solid gray;
  padding: 7px 10px;
}

.orgbuttonchild {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  /* Restored the font-size property */
  padding: 0;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  width: 100%;
  /* Ensures buttons stretch if needed */
}

.orgbutton:focus {
  outline: none;
}

.active-link {
  color: #000;
  background-color: #f4ecc5;
}

.offcanvas-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* Use your brand color */
  padding: 10px;
  width: 100%;
}

.offcanvas-title {
  color: white;
  font-size: 2rem;
  /* Adjust for larger screens */
  margin: 0;
  text-align: center;
  flex: 1;
  /* Ensures it spans the available space */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .offcanvas-title {
    font-size: 1.5rem;
    /* Smaller font for tablets */
  }
}

@media (max-width: 480px) {
  .offcanvas-title {
    font-size: 1.2rem;
    /* Smaller font for mobile devices */
  }
}

.plusMinus {
  border: 0.5px solid;
  padding: 0px 4px;
  border-radius: 100%;
}

.badge {
  background-color: #f9fafb;
  border-radius: 50%;
  color: #000;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 0px;
  line-height: 20px;
}