<div class="bulk-header-container" *ngIf="organization?.cafeteriaList?.length > 0">
    <!-- Cafeteria Pill Selector -->
    <div class="cafeteria-selection-area">
        <div class="selector-label">Select Cafeteria</div>
        <div class="cafeteria-pills">
            <button *ngFor="let cafeteria of organization.cafeteriaList" 
                    class="cafe-pill"
                    [class.active]="selectedCafeteria?._id === cafeteria._id" 
                    (click)="onCafeteriaChange({value: cafeteria})">
                <mat-icon>storefront</mat-icon>
                {{ cafeteria.cafeteria_name }}
            </button>
        </div>
    </div>

    <!-- Action Row -->
    <div class="header-actions">
        <div class="action-buttons-group">
            <button mat-flat-button color="primary" class="btn-action" *ngIf="!isCategoryActiveFlag"
                (click)="openCategoryModal()" [disabled]="!isMenuAvailableFlag">
                <mat-icon>check_circle</mat-icon>
                Activate Menu
            </button>
            <button mat-flat-button color="warn" class="btn-action warn" *ngIf="isCategoryActiveFlag"
                (click)="openCategoryModal()" [disabled]="!isMenuAvailableFlag">
                <mat-icon>block</mat-icon>
                De-Activate Menu
            </button>
            <button mat-flat-button color="primary" class="btn-action" *ngIf="!isVendorAssignedFlag" 
                (click)="assignVendor()" [disabled]="!isMenuAvailableFlag">
                <mat-icon>person_add</mat-icon>
                Assign Vendor
            </button>
            <button mat-flat-button color="warn" class="btn-action warn" *ngIf="isVendorAssignedFlag" 
                (click)="changeVendor()" [disabled]="!isMenuAvailableFlag">
                <mat-icon>edit</mat-icon>
                Change Vendor
            </button>
            <button mat-flat-button color="primary" class="btn-action" (click)="copyMenu()">
                <mat-icon>content_copy</mat-icon>
                Copy Menu
            </button>
            <button mat-flat-button color="primary" class="btn-action" (click)="exportMenu()">
                <mat-icon>cloud_download</mat-icon>
                Download Menu
            </button>
        </div>
    </div>
</div>
