<div class="add-vendor d-flex align-items-center pb-4 gap-3">
  <button mat-flat-button (click)="goBack()"><mat-icon>arrow_back</mat-icon>Back</button>
  <div class="heading">View Organization</div>
</div>
<mat-tab-group [(selectedIndex)]="selectedMainTabIndex" (selectedIndexChange)="onMainTabChange($event)"
  class="custom-tabs">
  <mat-tab *ngFor="let view of orgViewList; let mainIndex = index" [label]="view.name">
    <ng-container *ngIf="selectedMainTabIndex === mainIndex">
      <mat-tab-group *ngIf="view.subTabs?.length" [(selectedIndex)]="selectedSubTabIndex"
        (selectedIndexChange)="onSubTabChange($event)" class="custom-tabs">
        <mat-tab *ngFor="let sub of view.subTabs; let subIndex = index" [label]="sub.name">
          <ng-container *ngIf="selectedSubTabIndex === subIndex">
            <mat-tab-group *ngIf="sub.childTabs?.length" [(selectedIndex)]="selectedChildTabIndex" class="custom-tabs">
              <mat-tab *ngFor="let child of sub.childTabs; let childIndex = index" [label]="child.name">
                <ng-container *ngIf="selectedChildTabIndex === childIndex" [ngSwitch]="child.path">
                  <app-org-bulk-menu *ngSwitchCase="'bulkMealsMenu'" [orgObj]="organization"></app-org-bulk-menu>
                  <app-org-individual-menu *ngSwitchCase="'individualMealsMenu'"
                    [orgObj]="organization"></app-org-individual-menu>
                  <app-org-bulk-snackbox-menu *ngSwitchCase="'bulkSnacksMenu'"
                    [orgObj]="organization"></app-org-bulk-snackbox-menu>
                  <app-org-individual-snackbox-menu *ngSwitchCase="'individualSnacksMenu'"
                    [orgObj]="organization"></app-org-individual-snackbox-menu>
                  <app-org-predefined-snackbox-menu *ngSwitchCase="'predefinedSnackBoxMenu'"
                    [orgObj]="organization"></app-org-predefined-snackbox-menu>
                  <app-org-customized-snackbox-menu *ngSwitchCase="'customizedSnackBoxMenu'"
                    [orgObj]="organization"></app-org-customized-snackbox-menu>
                  <!-- employee -->
                  <app-employee-bulk-meal-menu *ngSwitchCase="'employeebulkMealsMenu'" [orgObj]="organization">
                  </app-employee-bulk-meal-menu>
                  <app-employee-individual-meal-menu *ngSwitchCase="'employeeindividualMealsMenu'"
                    [orgObj]="organization">
                  </app-employee-individual-meal-menu>
                  <app-employee-bulk-snack-menu *ngSwitchCase="'employeebulkSnacksMenu'" [orgObj]="organization">
                  </app-employee-bulk-snack-menu>
                  <app-employee-individual-snack-menu *ngSwitchCase="'employeeindividualSnacksMenu'"
                    [orgObj]="organization">
                  </app-employee-individual-snack-menu>
                  <app-employee-predefined-foodbox-menu *ngSwitchCase="'employeepredefinedSnackBoxMenu'"
                    [orgObj]="organization">
                  </app-employee-predefined-foodbox-menu>
                  <app-employee-customized-foodbox-menu *ngSwitchCase="'employeecustomizedSnackBoxMenu'"
                    [orgObj]="organization">
                  </app-employee-customized-foodbox-menu>
                </ng-container>
              </mat-tab>
            </mat-tab-group>
            <ng-container *ngIf="!sub.childTabs?.length" [ngSwitch]="sub.path">
              <app-cake-menu *ngSwitchCase="'cakeMenu'" [orgObj]="organization"></app-cake-menu>
              <app-sweet-menu *ngSwitchCase="'sweetMenu'" [orgObj]="organization"></app-sweet-menu>
              <app-lux-menu *ngSwitchCase="'luxMenu'" [orgObj]="organization"></app-lux-menu>
              <!-- employee -->
              <app-employee-cake-menu *ngSwitchCase="'employeecakeMenu'"
                [orgObj]="organization"></app-employee-cake-menu>
              <app-employee-sweet-menu *ngSwitchCase="'employeesweetMenu'" [orgObj]="organization">
              </app-employee-sweet-menu>
              <app-employee-lux-menu *ngSwitchCase="'employeeluxMenu'" [orgObj]="organization">
              </app-employee-lux-menu>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
      <ng-container *ngIf="!view.subTabs?.length" [ngSwitch]="view.path">
        <app-org-details *ngSwitchCase="'orgDetails'" [orgObj]="organization"></app-org-details>
        <app-mealawe-outlet *ngSwitchCase="'mealAweOutlet'" [orgObj]="organization"></app-mealawe-outlet>
        <app-daily-order-menu *ngSwitchCase="'dailyOrderMenu'" [orgObj]="organization"></app-daily-order-menu>
        <app-consumption-order *ngSwitchCase="'consumptionOrder'" [orgObj]="organization"></app-consumption-order>
        <app-employee-list *ngSwitchCase="'employeeList'" [orgObj]="organization"></app-employee-list>
        <app-outlet-employee *ngSwitchCase="'outletEmployee'" [orgObj]="organization"></app-outlet-employee>
        <app-vc-employee *ngSwitchCase="'vcEmployee'" [orgObj]="organization"></app-vc-employee>
        <app-guest-employee-list *ngSwitchCase="'guestEmployeeList'" [orgObj]="organization"></app-guest-employee-list>
        <app-organization-compliance *ngSwitchCase="'organizationCompliance'"
          [OrgObj]="organization"></app-organization-compliance>
        <app-employee-wallet *ngSwitchCase="'employeeWallet'" [orgObj]="organization"></app-employee-wallet>
        <app-qr-employee *ngSwitchCase="'qrEmployee'" [orgObj]="organization"></app-qr-employee>
      </ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>