<div class="vendor-header">
  <div>
    <h4 class="m-0 fw-semibold">App Version Control</h4>
  </div>
  <div class="header-actions">
    <button mat-raised-button color="primary" *appHasPermission="'APP_VERSION:ADD'" (click)="addVariable()">
      <mat-icon>add</mat-icon> Add App Version
    </button>
  </div>
</div>

<div class="container-fluid pb-4">

  <!-- List Section -->
  <div>
    <div *ngIf="allAppVersions && allAppVersions.length === 0" class="center">
      No App Versions Found
    </div>

    <div *ngFor="let variable of allAppVersions" class="cardDesign">
      <div class="container-fluid">
        <div class="row align-items-center">

          <!-- App Name -->
          <div class="col-md-5 mb-2 mb-md-0">
            <div class="labelText">Application Name</div>
            <div class="labelData">{{ variable.appName }}</div>
          </div>

          <!-- Version -->
          <div class="col-md-3 mb-2 mb-md-0">
            <div class="labelText">Version</div>
            <div class="labelData">{{ variable.appVersion }}</div>
          </div>

          <!-- Update Type -->
          <div class="col-md-2 mb-2 mb-md-0">
            <div class="labelText">Type</div>
            <div class="labelData">
              <span class="badge" [ngClass]="variable.isForceUpdate ? 'bg-danger text-white' : 'bg-info text-white'">
                {{ variable.isForceUpdate ? 'Forceful' : 'Negligible' }}
              </span>
            </div>
          </div>

          <!-- Actions -->
          <div class="col-md-2 d-flex align-items-center justify-content-end p-0">
            <button mat-icon-button color="primary" class="edit" *appHasPermission="'APP_VERSION:EDIT'"
              (click)="editVariable(variable)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <!-- Release Notes -->
          <div class="col-md-12 mt-2" *ngIf="variable.releaseNotes">
            <div class="labelText">Release Notes</div>
            <div class="labelData text-muted small" style="white-space: pre-line;">{{ variable.releaseNotes }}</div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>