<div class="vendor-header">
  <div>
    <h4 class="m-0 fw-semibold">App Version Control</h4>
  </div>
  <div class="header-actions">
    <button mat-raised-button color="primary" *appHasPermission="'APP_VERSION:ADD'" (click)="addVariable()">
      <mat-icon>add</mat-icon> Add App Version
    </button>
  </div>
</div>

<div class="container-fluid pb-4">

  <!-- Edit Mode Section -->
  <div *ngIf="editMode" class="bgpadding3 mb-4">
    <div class="labelText mb-3" *ngIf="addnewVariable">Add New App Version</div>
    <div class="labelText mb-3" *ngIf="!addnewVariable">Update App Version</div>

    <div class="row g-3">
      <div class="col-sm-12 col-md-6">
        <label class="labelData mb-2" for="variableName">Application Name</label>
        <input type="text" class="form-control" id="variableName" [(ngModel)]="variableObj.appName"
          placeholder="Enter application name" />
      </div>
      <div class="col-sm-12 col-md-6">
        <label class="labelData mb-2" for="variableValue">Version</label>
        <input class="form-control" type="text" id="variableValue" [(ngModel)]="variableObj.appVersion"
          placeholder="Enter version" name="addonType" />
      </div>
    </div>

    <div class="mt-4 d-flex gap-2">
      <ng-container *appHasPermission="'APP_VERSION:ADD'">
        <button *ngIf="addnewVariable" mat-raised-button color="primary"
          (click)="submitnewVariable(variableObj)">
          Submit
        </button>
      </ng-container>

      <ng-container *appHasPermission="'APP_VERSION:EDIT'">
        <button *ngIf="!addnewVariable" mat-raised-button color="primary"
          (click)="updateVariable(variableObj)">
          Update
        </button>
      </ng-container>

      <button mat-stroked-button color="warn" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

  <!-- List Section -->
  <div *ngIf="!editMode">
    <div *ngIf="allAppVersions && allAppVersions.length === 0" class="center">
      No App Versions Found
    </div>

    <div *ngFor="let variable of allAppVersions" class="cardDesign">
      <div class="container-fluid">
        <div class="row align-items-center">

          <!-- App Name -->
          <div class="col-md-5 mb-2 mb-md-0">
            <div class="labelText">Application Name</div>
            <div class="labelData">{{ variable.appName }}</div>
          </div>

          <!-- Version -->
          <div class="col-md-5 mb-2 mb-md-0">
            <div class="labelText">Version</div>
            <div class="labelData">{{ variable.appVersion }}</div>
          </div>

          <!-- Actions -->
          <div class="col-md-2 d-flex align-items-center justify-content-end p-0">
            <button mat-icon-button color="primary" class="edit" *appHasPermission="'APP_VERSION:EDIT'"
              (click)="editVariable(variable)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>