<div class="bgpadding1">
    <div class="right addBtn" (click)="addVariable()">+</div>
    <div class="labelText">App Version Control</div>

    <div *ngIf="editMode" class="bgpadding3">
        <div class="labelText" *ngIf="addnewVariable">Add New App Version</div>
        <div class="labelText" *ngIf="!addnewVariable">Update App Version</div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="labelData" for="variableName">Application Name</label>
                <input type="text" class="form-control" id="variableName" [(ngModel)]="variableObj.appName"
                    placeholder="name">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="labelData" for="variableValue">Version</label>
                <div>
                    <div>
                        <input class="form-control" type="text" [(ngModel)]="variableObj.appVersion" name="addonType">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="inline me-2" *ngIf="addnewVariable">
                <button type="button" class="btn btn-primary btn-sm" (click)="submitnewVariable(variableObj)">Submit</button>
            </div>
            <div class="inline me-2" *ngIf="!addnewVariable">
                <button type="button" class="btn btn-primary btn-sm" (click)="updateVariable(variableObj)">Update</button>
            </div>
            <div class="inline me-2">
                <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>

    <div *ngIf="!editMode" class="bgpadding3">
        <div *ngFor="let variable of allAppVersions" class="cardDesign">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-4 labelData">{{variable.appName}}</div>
                <div class="col-4 col-md-4 col-lg-4 labelData">{{variable.appVersion}}</div>
                <div class="col-2 col-md-2 col-lg-4 alignRight">
                    <i class="bi bi-pencil-square bgsidepadding5" (click)="editVariable(variable)"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="center" *ngIf="!editMode && allAppVersions.length === 0">
        No Records Found
    </div>
</div>