<div class="bgpadding1">
    <div class="row mt-2">      
        <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedStatus === 'AuditLogs'}"
        (click)="getAuditLogs()" >
            <div class="tileLabel header4 countTile">Audit Logs</div>
        </div>
        <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedStatus === 'DBLogs'}"
        (click)="getMLDBLogs()" >
            <div class="tileLabel header4 countTile">DB Logs</div>
        </div>
        <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedStatus === 'logs'}"
        (click)="getServerLogs('logs','app.out.log')" >
            <div class="tileLabel header4 countTile">Logs</div>
        </div>
        <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedStatus === 'errorlogs'}"
        (click)="getServerLogs('errorlogs','app.err.log')" >
            <div class="tileLabel header4 countTile">Error Logs</div>
          </div>
    </div>
    <div>
        <p class="labelText" *ngFor="let log of serverLogsList">{{log}}</p>
    </div>

    <div class="bgpadding1" *ngIf="selectedStatus === 'DBLogs'">
        <div class="row mt-2">
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '100'}"
                (click)="getLineBasedLogs('100')" >
                <div class="tileLabel header4 countTile">100 Lines</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '500'}"
                (click)="getLineBasedLogs('500')" >
                <div class="tileLabel header4 countTile">500 Lines</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '1000'}"
                (click)="getLineBasedLogs('1000')" >
                <div class="tileLabel header4 countTile">1000 Lines</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '1hr'}"
                (click)="getTimeBasedLogs('1hr')" >
                <div class="tileLabel header4 countTile">1 hr.</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '2hr'}"
                (click)="getTimeBasedLogs('2hr')" >
                <div class="tileLabel header4 countTile">2 hr.</div>
            </div>
        </div>
            <div class="row mt-2">
                <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '5hr'}"
                    (click)="getTimeBasedLogs('5hr')" >
                    <div class="tileLabel header4 countTile">5 hr.</div>
                </div>
                <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '1Day'}"
                    (click)="getTimeBasedLogs('1Day')" >
                    <div class="tileLabel header4 countTile">1 Day</div>
                </div>
                <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '2Day'}"
                    (click)="getTimeBasedLogs('2Day')" >
                    <div class="tileLabel header4 countTile">2 Days</div>
                </div>
            </div>
        <div class="mt-2">Range</div>
        <div class="row mt-2">
            <div class="col-6 col-md-6 col-lg-3 date-input-container">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </div>
            <div class="col-6 col-md-6 col-lg-3 date-input-container">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </div>
            <div class="col-6 col-md-6 col-lg-3">
                <button class="btn btn-primary btn-sm submit-btn" (click)="getDayRangeBasedLogs(startDate,endDate)">fetch</button>
            </div>
        </div>
        <ng-container *ngIf="logsList.length>0 ">  
            <ng-container *ngFor="let log of logsList">
                <div class="logContainer">
                 <div class="row">  
                    <div class="col-12 col-md-6 col-lg-8"> 
                        <span class="labelText"> Message :</span>
                        <span class="valueText">{{log.logMsg}}</span>
                    </div>                  
                    <div class="col-6 col-md-1 col-lg-1">
                        <span  class="labelText">Type :</span>
                        <span class="valueText">{{log.type}}</span>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <span  class="labelText">Date and Time :</span>
                        <span class="valueText">{{log.timestamp |  date:'dd-MMM-yyyy HH:mm a'}}</span>
                    </div>                     
                </div> 
                </div>
            </ng-container >      
        </ng-container>
    </div>

    <div class="bgpadding1" *ngIf="selectedStatus === 'AuditLogs'">
        <div>Audit Logs</div>
        <div class="row mt-2">
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '100'}"
                (click)="getLineBasedAuditLogs('100')" >
                <div class="tileLabel header4 countTile">100 Lines</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '500'}"
                (click)="getLineBasedAuditLogs('500')" >
                <div class="tileLabel header4 countTile">500 Lines</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '1000'}"
                (click)="getLineBasedAuditLogs('1000')" >
                <div class="tileLabel header4 countTile">1000 Lines</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '1hr'}"
                (click)="getTimeBasedAuditLogs('1hr')" >
                <div class="tileLabel header4 countTile">1 hr.</div>
            </div>
            <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '2hr'}"
                (click)="getTimeBasedAuditLogs('2hr')" >
                <div class="tileLabel header4 countTile">2 hr.</div>
            </div>
        </div>
            <div class="row mt-2">
                <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '5hr'}"
                    (click)="getTimeBasedAuditLogs('5hr')" >
                    <div class="tileLabel header4 countTile">5 hr.</div>
                </div>
                <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '1Day'}"
                    (click)="getTimeBasedAuditLogs('1Day')" >
                    <div class="tileLabel header4 countTile">1 Day</div>
                </div>
                <div class="col-6 col-md-6 col-lg-2" [ngClass]="{tileSelected: selectedDBStatus === '2Day'}"
                    (click)="getTimeBasedAuditLogs('2Day')" >
                    <div class="tileLabel header4 countTile">2 Days</div>
                </div>
            </div>
        <div class="mt-2">Range</div>
        <div class="row mt-2">
            <div class="col-6 col-md-6 col-lg-3 date-input-container">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </div>
            <div class="col-6 col-md-6 col-lg-3 date-input-container">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </div>
            <div class="col-6 col-md-6 col-lg-3">
                <button class="btn btn-primary btn-sm submit-btn" (click)="getDayRangeBasedAuditLogs(startDate,endDate)">fetch</button>
            </div>
        </div>
        <ng-container *ngIf="logsList.length>0 ">  
            <ng-container *ngFor="let log of logsList">
                <div class="logContainer">
                 <div class="row">  
                    <div class="col-12 col-md-6 col-lg-4"> 
                        <span class="labelText"> urlInfo :</span>
                        <span class="valueText">{{log.urlInfo}}</span>
                    </div>   
                    <div class="col-6 col-md-1 col-lg-1">
                        <span  class="labelText">Method :</span>
                        <span class="valueText">{{log.urlMethod}}</span>
                    </div>
                    <div class="col-12 col-md-4 col-lg-1"> 
                        <span class="labelText"> IP :</span>
                        <span class="valueText">{{log.ipInfo}}</span>
                    </div>                
                    <div class="col-6 col-md-1 col-lg-2">
                        <span  class="labelText">UserInfo :</span>
                        <span class="valueText" *ngIf="log.userInfo">{{log.userInfo.type}},{{log.userInfo.loginId}}</span>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <span  class="labelText">Date and Time :</span>
                        <span class="valueText">{{log.timestamp |  date:'dd-MMM-yyyy HH:mm a'}}</span>
                    </div>                     
                </div> 
                </div>
            </ng-container >      
        </ng-container>
    </div>
</div>