@import '/src/styles.scss';

.banner-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.banner-item {
    position: relative;
    cursor: move;
    border: 1px solid $border-color;
    padding: 4px;
    border-radius: 4px;
    background: $background-color;
}

.banner-item .remove-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: white;
    border-radius: 50%;
}