<div class="vendor-header">
    <div>
        <h4 class="m-0 fw-semibold">Excel Reports</h4>
    </div>
</div>

<div class="container-fluid">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" class="custom-tabs pb-3">
        <mat-tab label="allEventBulk">
            <ng-template mat-tab-label>Bulk Event</ng-template>
        </mat-tab>
        <mat-tab label="dailyBulk">
            <ng-template mat-tab-label>Admin Daily</ng-template>
            <div class="pt-3">
                <app-daily-admin-excel-export></app-daily-admin-excel-export>
            </div>
        </mat-tab>
        <mat-tab label="subscriptionPackage">
            <ng-template mat-tab-label>Mealawe Virtual Cafe</ng-template>
        </mat-tab>
        <mat-tab label="empPoll">
            <ng-template mat-tab-label>Emp Poll</ng-template>
        </mat-tab>
    </mat-tab-group>

    <div class="row pt-3 pb-2 g-3 align-items-end" *ngIf="searchObj.orderType !== 'dailyBulk'">
        <div class="col-12 col-md-9">
            <app-common-outlet-cafe-select [config]="headerConfig"
                (submitted)="filterSubmitted($event)"></app-common-outlet-cafe-select>
        </div>
        <div class="col-12 col-md-3">
            <button mat-raised-button color="primary" class="w-100 py-2 mb-1" (click)="searchOrder()"
                [disabled]="!searchObj.org_id || !searchObj.fromDate || !searchObj.toDate">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <mat-icon>download</mat-icon>
                    <span>Download Excel</span>
                </div>
            </button>
        </div>
    </div>
</div>