@use '/src/styles/theme/mixins' as mixin;
@use '/src/styles.scss' as color;

.cardDesign {
  @include mixin.vertical-line();
  @include mixin.card-design(color.$primary-offset-color1);
}

.event-card {
  @include mixin.card-design(color.$primary-offset-color1);
}

.rows {
  @include mixin.vertical-line();
  margin: 26px 10px;
}

.rows:last-child>hr {
  display: none;
}

.desc {
  max-width: 47%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.green {
  background-color: #ecfdf3 !important;
  color: #166534 !important;
}

.red {
  background-color: #fef2f2 !important;
  color: #b91c1c !important;
}

.empty-event {
  background-color: white;
  height: 50px;
}