@use '/src/styles/theme/mixins' as mixin;
@use '/src/styles.scss' as color;

.card {
    @include mixin.card-design(white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: none;
    height: 100%;
}

.labelText {
    @include mixin.labelText;
    color: #6c757d;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
}

.labelData {
    @include mixin.labelData;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.userImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
}