
<div class="page-container">
  <mat-card class="p-3">
    <mat-card-title>Select Cafeteria</mat-card-title>
    <mat-radio-group color="primary">
      <div *ngFor="let cafeteria of orgObj.cafeteriaList">
        <mat-radio-button [id]="cafeteria._id" name="CafeteriaName" [value]="cafeteria"
                [(ngModel)]="selectedCafeteria" (change)="onCafeteriaChange($event)" >{{cafeteria.cafeteria_name}}</mat-radio-button>
      </div>
    </mat-radio-group>
  </mat-card>
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="24px">
    <mat-card fxFlex class="p-3">
      <mat-card-title>Upload Employee List</mat-card-title>
      <div class="upload-box text-center mt-3">
        <p>Drag and drop Employee List file here</p>
        <p class="or-text">or</p>
        <input #fileInput type="file" accept=".xlsx, .xls" class="hidden-file-input" (change)="onFileChange($event)" />
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          <mat-icon>upload</mat-icon>
          Browse File
        </button>
        <div class="file-name" *ngIf="fileName">
          <mat-icon class="file-icon">description</mat-icon>
          {{ fileName }}
        </div>
      </div>
      <mat-hint class="hint mt-2">
        Excel Format: Emp Name, Emp Id, Emp Ph No, Emp Email
      </mat-hint>
    </mat-card>
    <mat-card fxFlex class="p-3">
      <mat-card-title class="d-flex justify-content-between align-items-center mb-2">
        <div>Manual Employee Entry</div>
        <button mat-raised-button color="primary" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">
          Add Multiple Employee
        </button>
      </mat-card-title>
      <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="entry-grid" *ngFor="let employee of addMultipleEmploeeList; index as i">
          <div class="form-group">
            <label class="form-label"> Employee Name</label>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="employee.employeeName"  appOnlyAlpha required  maxlength="40" minlength="3" #empName="ngModel"/>
               <mat-error *ngIf="empName.invalid && (empName.dirty || empName.touched)">
                    <ng-container *ngIf="empName.errors?.['required']">
                           Employee Name  is required.
                    </ng-container>
                    <ng-container *ngIf="empName.errors?.['maxlength']">
                          Maximum 10 digits allowed.
                    </ng-container>
                    <ng-container  *ngIf="empName.errors?.['appOnlyAlpha']">
                        Only Alpha are allowed.
                    </ng-container>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Employee ID</label>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="employee.employeeId" maxlength="10" minlength="1" appOnlyNumber #empId="ngModel"/>
               <mat-error *ngIf="empId.invalid && (empId.dirty || empId.touched)">
                    <ng-container *ngIf="empId.errors?.['required']">
                           Employee Id  is required.
                    </ng-container>
                    <ng-container *ngIf="empId.errors?.['maxlength']">
                          Maximum 10 digits allowed.
                    </ng-container>
                    <ng-container *ngIf="empId.errors?.['minlength']">
                          Minimum 2 digits allowed.
                    </ng-container>
                    <ng-container  *ngIf="empId.errors?.['appOnlyNumber']">
                        Only Number are allowed.
                    </ng-container>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Employee Phone No</label>
            <mat-form-field appearance="outline">
              <input matInput type="number" [(ngModel)]="employee.employeePhoneNo" #empPhoneNo="ngModel" required maxlength="10"  appOnlyNumber/>
              <mat-error *ngIf="empPhoneNo.invalid && (empPhoneNo.dirty || empPhoneNo.touched)">
                    <ng-container *ngIf="empPhoneNo.errors?.['required']">
                           Employee Phone No  is required.
                    </ng-container>
                    <ng-container *ngIf="empPhoneNo.errors?.['maxlength']">
                          Maximum 10 digits allowed.
                    </ng-container>
                
                    <ng-container  *ngIf="empPhoneNo.errors?.['appOnlyNumber']">
                        Only Number are allowed.
                    </ng-container>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Employee Email</label>
            <mat-form-field appearance="outline">
              <input matInput type="email" [(ngModel)]="employee.employeeEmail"  #empEmail="ngModel" required />
              <mat-error *ngIf="empEmail.invalid && (empEmail.dirty || empEmail.touched)">
                    <ng-container *ngIf="empEmail.errors?.['required']">
                           Employee Id  is required.
                    </ng-container>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="button-container d-flex justify-content-end align-items-center gap-2">
            <ng-container *ngIf="i > 0 && i == addMultipleEmploeeList.length - 1">
              <button mat-icon-button color="primary" (click)="addMoreEmployee()">
                <mat-icon>add</mat-icon>
              </button>
            </ng-container>
            <button mat-icon-button color="primary" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="showRemoveForm" (click)="removeEmployeeForm(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
        <div  class="d-flex gap-2">
          <button mat-raised-button color="primary"  (click)="submitMultipleEmployee()">Submit</button>
          <button mat-stroked-button color="warn" (click)="cancelMultipleEmployee()">
            Cancel
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="!showMultipleEmployeeForm">
        <div class="no-address" *ngIf="employeeList.length == 0">
          <p>No employee added yet.</p>
          <small>Click on <strong>"Add Multiple Employee"</strong> to add a new
            employee.</small>
        </div>
      </ng-container>
      <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList" class="w-100">
          <div  *ngIf="employee.cafeteria_id == selectedCafeteriaId" class="w-100">
              <div class="d-flex w-100 gap-3 mt-2 flex-wrap">
      
                <div  class="item">
                  <div class="labelText">Employee ID</div>
                  <div class="labelData">{{ employee.employeeId }}</div>
                </div>
       
                <div  class="item">
                  <div class="labelText">Employee Name</div>
                  <div class="labelData">{{ employee.employeeName }}</div>
                </div>
            

                <div  class="item">
                  <div class="labelText">Phone No</div>
                  <div class="labelData">{{ employee.employeePhoneNo }}</div>
                </div>
            
    
                <div  class="item">
                  <div class="labelText">Employee Email</div>
                  <div class="labelData">{{ employee.employeeEmail }}</div>
                </div>
            

                <div  class="item">
                  <div class="labelText">Cafeteria</div>
                  <div class="labelData">{{ employee.cafeteria_name }}</div>
                </div>

                <div class="col d-flex justify-content-end align-items-center gap-2">
                  <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                    <mat-icon>edit</mat-icon>
                  </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            
              </div>
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name" formControlName="employeeName">
                    <div class="error-text" *ngIf="form.controls.employeeName.errors?.required && showError">
                        *Employee name is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeId">
                    <div class="error-text" *ngIf="form.controls.employeeId.errors?.required && showError">
                        *Employee ID is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        formControlName="employeePhoneNo">
                    <div class="error-text" *ngIf="form.controls.employeePhoneNo.errors?.required && showError">
                        *Employee Phone No is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        formControlName="employeeEmail">
                    <div class="error-text" *ngIf="form.controls.employeeEmail.errors?.required && showError">
                        *Employee Email is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateEmployee(empId,form.value); modal.close('add')">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <div class="modal-title delete-modal-title" id="modal-basic-title">Delete Vendor</div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="selectParent">
            <p>Do You Realy Want To Delete Employee : <span class="deletedEmployee"> {{deleteEmployeeName}}</span></p>
        </div>
        <button class="btn btn-danger confirmDeleteStyle" (click)="deleteConfirmed(deletedEmployee)">Yes</button>
        <button class="btn btn-primary confirmDeleteStyle" (click)="modal.dismiss('cancel')">NO</button>
    </div>

</ng-template>


<!-- <div class="container-fluid">
    <div class="labelText">Select Cafeteria</div>
    <div *ngFor="let cafeteria of orgObj.cafeteriaList">
        <div>
            <input type="radio" [id]="cafeteria._id" name="CafeteriaName" [value]="cafeteria"
                [(ngModel)]="selectedCafeteria" (change)="onCafeteriaChange($event)">
            <label class="ps-1" [for]="cafeteria._id">{{cafeteria.cafeteria_name}}</label>
        </div>
    </div>
    <div class="btn btn-primary btn-sm" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">Add Multiple Employee
    </div>
    <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="file-input-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <span class="styled-heading mb-4">Upload Employee List</span>
                    <div class="error-text">*Excel Format : Emp Name, Emp Id, Emp Ph No, Emp Email</div>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="fileInput"
                            accept=".xlsx, .xls" />
                        <label class="custom-file-label" for="fileInput">{{ fileName || 'Choose file'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let employee of addMultipleEmploeeList; index as i">
            <div class="right addMultipleEmployee" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">+</div>
            <ng-container *ngIf="i>0 && i == addMultipleEmploeeList.length-1">
                <div class="right addMultipleEmployee" (click)="addMoreEmployee()">+</div>
            </ng-container>
            <div class="right removeBtn addMultipleEmployee" (click)="removeEmployeeForm(i)" *ngIf="showRemoveForm"> -
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name"
                        [(ngModel)]="employee.employeeName">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" [(ngModel)]="employee.employeeId">
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        [(ngModel)]="employee.employeePhoneNo">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        [(ngModel)]="employee.employeeEmail">
                </div>
            </div>
        </div>
        <div class="inline bgpadding1" *ngIf="showMultipleEmployeeForm">
            <button type="button" class="btn btn-primary btn-sm" (click)="submitMultipleEmployee()">Submit</button>
            <button type="button" class="btn btn-danger btn-sm cancel"
                (click)="showMultipleEmployeeForm=false; showAddMoreForm=true; showRemoveForm=false">Cancel</button>
            <div class="error-text" *ngIf="disableSubmit">
                *Please fill all above fields</div>
        </div>
    </ng-container>
    <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList; index as i">
            <div class="cardDesign" *ngIf="employee.cafeteria_id==selectedCafeteriaId">
                <div>
                    <i class="bi bi-trash right" (click)="deleteEmployee(employee)"></i>
                    <i class="bi bi-pencil-square right margin-right" (click)="editEmployee(employee)"></i>
                </div>
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Id</div>
                        <div class="labelData">{{employee.employeeId}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-3">
                        <div class="labelText">Employee Name</div>
                        <div class="labelData">{{employee.employeeName}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText"> Employee Phone No</div>
                        <div class="labelData">{{employee.employeePhoneNo}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-3">
                        <div class="labelText">Employee Email</div>
                        <div class="labelData">{{employee.employeeEmail}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Cafeteria</div>
                        <div class="labelData">{{employee.cafeteria_name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div> -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name" formControlName="employeeName">
                    <div class="error-text" *ngIf="form.controls.employeeName.errors?.required && showError">
                        *Employee name is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeId">
                    <div class="error-text" *ngIf="form.controls.employeeId.errors?.required && showError">
                        *Employee ID is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        formControlName="employeePhoneNo">
                    <div class="error-text" *ngIf="form.controls.employeePhoneNo.errors?.required && showError">
                        *Employee Phone No is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        formControlName="employeeEmail">
                    <div class="error-text" *ngIf="form.controls.employeeEmail.errors?.required && showError">
                        *Employee Email is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateEmployee(empId,form.value); modal.close('add')">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <div class="modal-title delete-modal-title" id="modal-basic-title">Delete Vendor</div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="selectParent">
            <p>Do You Realy Want To Delete Employee : <span class="deletedEmployee"> {{deleteEmployeeName}}</span></p>
        </div>
        <button class="btn btn-danger confirmDeleteStyle" (click)="deleteConfirmed(deletedEmployee)">Yes</button>
        <button class="btn btn-primary confirmDeleteStyle" (click)="modal.dismiss('cancel')">NO</button>
    </div>

</ng-template>