<div class="container-fluid">
    <div class="labelText">Select Cafeteria</div>
    <div *ngFor="let cafeteria of orgObj.cafeteriaList">
        <div>
            <input type="radio" [id]="cafeteria._id" name="CafeteriaName" [value]="cafeteria"
                [(ngModel)]="selectedCafeteria" (change)="onCafeteriaChange($event)">
            <label class="ps-1" [for]="cafeteria._id">{{cafeteria.cafeteria_name}}</label>
        </div>
    </div>
    <div class="btn btn-primary btn-sm" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">Add Multiple Employee
    </div>
    <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="file-input-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <span class="styled-heading mb-4">Upload Employee List</span>
                    <div class="error-text">*Excel Format : Emp Name, Emp Id, Emp Ph No, Emp Email</div>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="fileInput"
                            accept=".xlsx, .xls" />
                        <label class="custom-file-label" for="fileInput">{{ fileName || 'Choose file'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let employee of addMultipleEmploeeList; index as i">
            <div class="right addMultipleEmployee" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">+</div>
            <ng-container *ngIf="i>0 && i == addMultipleEmploeeList.length-1">
                <div class="right addMultipleEmployee" (click)="addMoreEmployee()">+</div>
            </ng-container>
            <div class="right removeBtn addMultipleEmployee" (click)="removeEmployeeForm(i)" *ngIf="showRemoveForm"> -
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name"
                        [(ngModel)]="employee.employeeName">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" [(ngModel)]="employee.employeeId">
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        [(ngModel)]="employee.employeePhoneNo">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        [(ngModel)]="employee.employeeEmail">
                </div>
            </div>
        </div>
        <div class="inline bgpadding1" *ngIf="showMultipleEmployeeForm">
            <button type="button" class="btn btn-primary btn-sm" (click)="submitMultipleEmployee()">Submit</button>
            <button type="button" class="btn btn-danger btn-sm cancel"
                (click)="showMultipleEmployeeForm=false; showAddMoreForm=true; showRemoveForm=false">Cancel</button>
            <div class="error-text" *ngIf="disableSubmit">
                *Please fill all above fields</div>
        </div>
    </ng-container>
    <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList; index as i">
            <div class="cardDesign" *ngIf="employee.cafeteria_id==selectedCafeteriaId">
                <div>
                    <i class="bi bi-trash right" (click)="deleteEmployee(employee)"></i>
                    <i class="bi bi-pencil-square right margin-right" (click)="editEmployee(employee)"></i>
                </div>
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Id</div>
                        <div class="labelData">{{employee.employeeId}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-3">
                        <div class="labelText">Employee Name</div>
                        <div class="labelData">{{employee.employeeName}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText"> Employee Phone No</div>
                        <div class="labelData">{{employee.employeePhoneNo}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-3">
                        <div class="labelText">Employee Email</div>
                        <div class="labelData">{{employee.employeeEmail}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Cafeteria</div>
                        <div class="labelData">{{employee.cafeteria_name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name" formControlName="employeeName">
                    <div class="error-text" *ngIf="form.controls.employeeName.errors?.required && showError">
                        *Employee name is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeId">
                    <div class="error-text" *ngIf="form.controls.employeeId.errors?.required && showError">
                        *Employee ID is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        formControlName="employeePhoneNo">
                    <div class="error-text" *ngIf="form.controls.employeePhoneNo.errors?.required && showError">
                        *Employee Phone No is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        formControlName="employeeEmail">
                    <div class="error-text" *ngIf="form.controls.employeeEmail.errors?.required && showError">
                        *Employee Email is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateEmployee(empId,form.value); modal.close('add')">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <div class="modal-title delete-modal-title" id="modal-basic-title">Delete Vendor</div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="selectParent">
            <p>Do You Realy Want To Delete Employee : <span class="deletedEmployee"> {{deleteEmployeeName}}</span></p>
        </div>
        <button class="btn btn-danger confirmDeleteStyle" (click)="deleteConfirmed(deletedEmployee)">Yes</button>
        <button class="btn btn-primary confirmDeleteStyle" (click)="modal.dismiss('cancel')">NO</button>
    </div>

</ng-template>