<h2 mat-dialog-title class="m-0 fs-5">Set Location</h2>

<mat-dialog-content class="fullheight pt-3">
    <div class="search-row">
        <button mat-stroked-button color="primary" class="current-location-btn" (click)="goToCurrentLocation()">
            <mat-icon>my_location</mat-icon> Current
        </button>
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Search Location</mat-label>
            <input matInput #searchLocationInput [(ngModel)]="searchText" id="searchLocation" type="text"
                placeholder="Search for a location..." autocomplete="off" />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="map-container">
        <div [id]="mapid" class="map"></div>
    </div>
    <div class="selected-location" *ngIf="location">
        <mat-icon class="location-icon">place</mat-icon>
        <span>{{ location }}</span>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirmSelection()" [disabled]="!selectedLocationData">
        Confirm Location
    </button>
</mat-dialog-actions>