<div class="container-fluid py-4">
    <!-- FILTERS CARD -->
    <mat-card class="mb-3 filter-card">
        <div class="row g-3 align-items-end p-3">
            <!-- Date range -->
            <div class="col-12 col-md-4">
                <form [formGroup]="dateForm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="From" formControlName="dateFrom" />
                            <input matEndDate placeholder="To" formControlName="dateTo" />
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </form>
            </div>

            <!-- Submit button -->
            <div class="col-12 col-md-3 d-flex justify-content-md-end">
                <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!dateForm.valid || !eventObj">
                    Apply
                </button>
            </div>

        </div>
    </mat-card>
    <div class="mt-2" *ngIf="feedbackList.length > 0">
        <div class="row cardDesign list-group" *ngFor="let feedback of feedbackList; let i = index">
            <app-org-order [order]="feedback"></app-org-order>
        </div>
        <!-- Paginator -->
        <mat-paginator [length]="feedbackList.length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[10, 20, 50, 100]" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
    <mat-card class="center labelText mt-2 py-2 rounded-4" *ngIf="feedbackList.length == 0">
        No Reviews found
    </mat-card>