<span class="right btn-danger btn-sm pointer right" (click)="editOrg()">EDIT</span>
<div class="row">
    <div class="col-12 col-md-4 col-lg-12">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-3">
                <div class="labelText">Outlet Name</div>
                <div class="labelData">{{outletObj.outletName}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-3">
                <div class="labelText">Outlet Type</div>
                <div class="labelData">{{outletObj.outletType}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-6">
                <div class="labelText">Outlet Description</div>
                <div class="labelData">{{outletObj.outletDescription}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Company Name</div>
                <div class="labelData">{{outletObj.companyDetails.organization_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">City</div>
                <div class="labelData">{{outletObj.companyDetails.city}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Location</div>
                <div class="labelData">{{outletObj.companyDetails.location}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Cafeteria Name</div>
                <div class="labelData">{{outletObj.cafeteriaDetails.cafeteria_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Cafeteria City</div>
                <div class="labelData">{{outletObj.cafeteriaDetails.cafeteria_city}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Landmark</div>
                <div class="labelData">{{outletObj.cafeteriaDetails.landmark}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Cafeteria Name</div>
                <div class="labelData">{{outletObj.cafeteriaDetails.location}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Cafeteria City</div>
                <div class="labelData">{{outletObj.cafeteriaDetails.address1}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Location</div>
                <div class="labelData">{{outletObj.cafeteriaDetails.address2}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12" *ngIf="outletObj.ownerDetails.owner_name">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Owner Name</div>
                <div class="labelData">{{outletObj.ownerDetails.owner_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Owner PhNo</div>
                <div class="labelData">{{outletObj.ownerDetails.owner_phoneNo}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Owner EmailId</div>
                <div class="labelData">{{outletObj.ownerDetails.owner_emailId}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12" *ngIf="outletObj.managerDetails.manager_name">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Manager Name</div>
                <div class="labelData">{{outletObj.managerDetails.manager_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Manager phoneNo</div>
                <div class="labelData">{{outletObj.managerDetails.manager_phoneNo}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Manager EmailId</div>
                <div class="labelData">{{outletObj.managerDetails.manager_emailId}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12" *ngIf="outletObj.cashierDetails.cashier_name">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Company Name</div>
                <div class="labelData">{{outletObj.cashierDetails.cashier_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">City</div>
                <div class="labelData">{{outletObj.cashierDetails.cashier_phoneNo}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Location</div>
                <div class="labelData">{{outletObj.cashierDetails.cashier_emailId}}</div>
            </div>
        </div>
    </div>
</div>