@use '/src/styles/theme/mixins' as mixin;

.cardDesign-2 {
  margin: 2px 0;
  padding: 10px;
  border-radius: 11px;
}

.input-group {
  width: 17%;
}

.search-icon {
  margin-top: -5px;
}

.search-input {
  @include mixin.mat-form-field-responsive(); 
}