@use '/src/styles/theme/mixins' as mixin;
@use '/src/styles.scss' as color;

.vendor-header {
  @include mixin.responsive-header;
  background-color: transparent;
}

.header-actions {
  @include mixin.responsive-flex-wrapper(1rem);
  flex-grow: 1;
  justify-content: flex-end;

  .input-wrapper {
    min-width: 200px;

    @media(max-width: 768px) {
      width: 100%;
      display: block !important;
    }
  }
}


.cardDesign-2 {
  margin: 2px 0;
  padding: 10px;
  border-radius: 11px;
}

.input-group {
  width: 17%;
}

.search-icon {
  margin-top: -5px;
}

.search-input {
  @include mixin.mat-form-field-responsive();
}