<div class="container-fluid">
    <span class="addBtn" (click)="addImage()" >+</span>

    <div *ngIf="editMode" class="bgpadding3">
        <div class="labelText" *ngIf="addnewImage">Add New Config Image</div>
        <div class="labelData" *ngIf="!addnewImage">Update Config Image</div>
        <div class="row">
            <div class="col-12">
                <label for="imageName">Image Name</label>
                <input type="text" class="form-control" id="imageName" [(ngModel)]="imageObj.imageName"
                    placeholder="name">
            </div>
            <div class="col-12 bgToppadding1">
                <input #f type="file" class="uploadInput" accept="image/*" capture="camera"
                    (change)="handleFileInput($event)">
                <img (click)="f.click()" [src]="imageUrl?imageUrl:'assets/images/dummyUpload.png'"
                    class="uploadedImage" />
                <div class="uploadIcon" (click)="f.click()">Upload <i class="bi bi-upload"></i></div>
            </div>
        </div>
        <div class="mt-2">
            <div class="inline me-2" *ngIf="addnewImage">
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="submitnewVariable(imageObj)">Submit</button>
            </div>
            <div class="inline me-2" *ngIf="!addnewImage">
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="updateConfigImage(imageObj)">Update</button>
            </div>
            <div class="inline">
                <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>

    <div *ngIf="!editMode">
        <div class="row">
            <div class="col-6 col-md-3 col-lg-2 cardDesign cardMargin" *ngFor="let image of allImages">
                <div class="right"><i class="bi bi-pencil-square pointer bgsidepadding5"
                        (click)="editConfigImage(image)" ></i></div>
                <div>{{image.imageName}}</div>

                <div class="img-div">
                    <img [src]="serverUrl + image.imageUrl" />
                </div>
                <div>{{image.imageUrl}}</div>
            </div>
        </div>
    </div>

    <div class="center" *ngIf="!editMode && allImages.length === 0">
        No Records Found
    </div>
</div>