.addMultipleConsumption {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: #15a292;
    margin-top: 24px;
    cursor: pointer;
}

.bi-pencil-square {
    margin-right: 20px !important;
}