<div class="page-container">
    <mat-card class="p-3">
        <mat-card-title>Select Cafeteria</mat-card-title>
        <mat-radio-group color="primary" [(ngModel)]="selectedCafeteria">
            <mat-radio-button *ngFor="let cafeteria of orgObj.cafeteriaList" [id]="cafeteria._id" name="CafeteriaName" [value]="cafeteria" (change)="onCafeteriaChange($event)">{{cafeteria.cafeteria_name}}</mat-radio-button>
        </mat-radio-group>
    </mat-card>
     <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="24px"></div>
    <mat-card fxFlex class="p-3">
        <mat-card-title class="d-flex justify-content-between align-items-center mb-2">
            <div>Entry Consumption Menu</div>
            <button mat-raised-button color="primary" (click)="addConsumptionOrder()"
                *ngIf="!showMultipleConsumptionForm">
                Add Consumption Menu
            </button>
        </mat-card-title>
        <ng-container *ngIf="showMultipleConsumptionForm">
            <form #f="ngForm">
                <div class="consumption-card" *ngFor="let consumptionItem of addMultipleConsumptionList; index as i">
                    <div class="row  gap-1 align-items-center">
                        <div class="col form-field">
                            <label for="">Item Name</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="Item Name" [(ngModel)]="consumptionItem.itemName"
                                    #itemName="ngModel" name="itemName{{i}}" required maxlength="40" minlength="3"
                                    required appOnlyAlpha />
                                <mat-error *ngIf="itemName.invalid && (itemName.dirty || itemName.touched)">
                                    <ng-container *ngIf="itemName.errors?.['required']">
                                        Item Name is required.
                                    </ng-container>
                                    <ng-container *ngIf="itemName.errors?.['maxlength']">
                                        Maximum 40 digits allowed.
                                    </ng-container>
                                    <ng-container *ngIf="itemName.errors?.['appOnlyNumber']">
                                        Only Alpha are allowed.
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col form-field">
                            <label for="">Price (Incl. GST)</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="number" placeholder="Price"
                                    [(ngModel)]="consumptionItem.mealPrice" name="itemPrice{{i}}" #itemNumber="ngModel"
                                    required appOnlyNumber />
                                <mat-error *ngIf="itemNumber.invalid && (itemNumber.dirty || itemNumber.touched)">
                                    <ng-container *ngIf="itemNumber.errors?.['required']">
                                        Price No is required.
                                    </ng-container>
                                    <ng-container *ngIf="itemNumber.errors?.['appOnlyNumber']">
                                        Only Number are allowed.
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col form-field">
                            <label for="">MG</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="number" placeholder="Min Guarantees"
                                    [(ngModel)]="consumptionItem.minGuarantees" name="itemMg{{i}}" #itemMg="ngModel"
                                    required appOnlyNumber>
                                <mat-error *ngIf="itemMg.invalid && (itemMg.dirty || itemMg.touched)">
                                    <ng-container *ngIf="itemMg.errors?.['required']">
                                        Min Guarantees is required.
                                    </ng-container>
                                    <ng-container *ngIf="itemMg.errors?.['appOnlyNumber']">
                                        Only Number are allowed.
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col button-container  d-flex  justify-content-end">
                            <ng-container *ngIf="i>0 && i == addMultipleConsumptionList.length-1">
                                <button mat-icon-button color="primary" (click)="addMoreEmployee()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </ng-container>
                            <button mat-icon-button color="primary" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" *ngIf="showRemoveForm" (click)="removeEmployeeForm(i)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <button mat-raised-button color="primary" (click)="submitMultipleConsumption()"
                        [disabled]="f.invalid">Submit</button>
                    <button mat-stroked-button color="warn" class="ms-2"
                        (click)="showMultipleConsumptionForm=false; showAddMoreForm=true; showRemoveForm=false">
                        Cancel
                    </button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="!showMultipleConsumptionForm">
            <div class="mt-2" *ngFor="let consumptionItem of consumptionList">
                <div class="menu-card" *ngFor="let mealTypeItem of consumptionItem.mealTypeList">
                    <div class="d-flex flex-wrap gap-4 pt-3 pb-3"
                        *ngIf="consumptionItem.cafeteria_id == selectedCafeteriaId">
                        <div class="col">
                            <div class="labelText">Item Name</div>
                            <div class="labelData">{{ mealTypeItem.itemName }}</div>
                        </div>
                        <div class="col">
                            <div class="labelText">Price (Incl. GST)</div>
                            <div class="labelData">{{ mealTypeItem.mealPrice }}</div>
                        </div>
                        <!-- <div class="col">
                            <div class="labelText">Type</div>
                            <div class="labelData">{{ mealTypeItem.selctedmealtype }}</div>
                        </div> -->
                        <div class="col">
                            <div class="labelText">Min Guarantees</div>
                            <div class="labelData">{{ mealTypeItem.minGuarantees }}</div>
                        </div>
                        <div class="info col d-flex gap-2 align-items-center justify-content-end">
                            <mat-icon class="action-icon" color="primary"
                                (click)="editConsumption(mealTypeItem, consumptionItem.cafeteria_orignal_id)">edit</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </mat-card>
    </div>
    <ng-template #content let-modal>
        <div class="dialog-header p-4">
            <div mat-dialog-title>Update Consumption Menu</div>
            <button mat-icon-button aria-label="Close dialog" class="close-button" (click)="modal.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-dialog-content>
            <form [formGroup]="MealForm" class="form-grid p-3">
                <div class="form-group">
                    <label class="form-label">Item Name </label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="itemName" />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label class="form-label">Price</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="number" formControlName="mealPrice" />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label class="form-label">Min Guarantees</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="number" formControlName="minGuarantees" />
                    </mat-form-field>
                </div>
                <!-- <mat-label class="mt-8">Select MealType</mat-label>
                <mat-chip-listbox multiple formControlName="selctedmealtype" class="chip-list">
                    <mat-chip-option *ngFor="let chip of mealTimeList" [value]="chip.mealType">
                        {{ chip.mealType }}
                    </mat-chip-option>
                </mat-chip-listbox> -->
            </form>
        </mat-dialog-content>
        <mat-dialog-actions class="actions d-flex justify-content-end gap-2 p-3">
            <button mat-stroked-button (click)="modal.close()">Cancel</button>
            <button mat-flat-button color="primary" (click)="updateMealTypeList()">Update</button>
        </mat-dialog-actions>
    </ng-template>