<h2 mat-dialog-title>
    {{ data.mode ==='add' ?'Add Employee' :'Update Employee' }}
</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content pt-2">
    <div class="row">
        <div class="col-12 col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee ID</mat-label>
                <input matInput formControlName="employeeId" />
                <mat-error *ngIf="form.get('employeeId')?.hasError('required')">
                    Employee ID is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee Name</mat-label>
                <input matInput formControlName="employeeName" />
                <mat-error *ngIf="form.get('employeeName')?.hasError('required')">
                    Employee name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee Phone No</mat-label>
                <input matInput type="tel" formControlName="employeePhoneNo" />
                <mat-error *ngIf="form.get('employeePhoneNo')?.hasError('required')">
                    Phone number is required
                </mat-error>
                <mat-error *ngIf="form.get('employeePhoneNo')?.hasError('pattern')">
                    Enter valid 10 digit phone
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee Email</mat-label>
                <input matInput type="email" formControlName="employeeEmail" />
                <mat-error *ngIf="form.get('employeeEmail')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="form.get('employeeEmail')?.hasError('email')">
                    Enter a valid email
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()">
        {{ data.mode ==='add' ?'Save' :'Update' }}
    </button>
</mat-dialog-actions>