<div class="modal-header">
    <h4 class="modal-title">Crop Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="goback(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <img [src]="uploadedImageUrl" alt="" id="cropper">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="goback(false)">Close</button>
    <button type="button" class="btn btn-primary" (click)="done()">Ok</button>
</div>