<div class="modal-header">
    <h5 class="modal-title">
        {{ isEdit ? 'Update' : 'Add' }} Image Group Config
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
    <form #configForm="ngForm" (ngSubmit)="saveConfig()">
        <div class="mb-3">
            <label for="groupName" class="form-label">Name</label>
            <input id="groupName" type="text" class="form-control" [(ngModel)]="formData.name" name="name" required
                placeholder="Enter group name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Select Images</label>
            <div class="d-flex flex-wrap gap-2">
                <div *ngFor="let img of allImages" class="image-option"
                    [class.selected]="formData.imageData?.includes(img.imageUrl)" (click)="toggleImageSelection(img._id,img.imageUrl)">
                    <img [src]="serverUrl + img.imageUrl" />
                    <small>{{ img.name }}</small>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="isSaveDisabled" (click)="saveConfig()">
        {{ isEdit ? 'Update' : 'Create' }}
    </button>
</div>