<h2 mat-dialog-title class="dialog-header">
    <div class="header-content">
        <mat-icon>delete_sweep</mat-icon>
        <span>Deleted Outlets</span>
    </div>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="dialog-body">
    <div *ngIf="isLoading" class="loading-state">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Loading deleted outlets...</p>
    </div>

    <ng-container *ngIf="!isLoading">
        <div *ngIf="deletedOutletList.length > 0; else emptyState" class="deleted-list">
            <div class="deleted-item" *ngFor="let outlet of deletedOutletList">
                <div class="outlet-avatar">
                    <span>{{ getInitials(outlet?.outletName) }}</span>
                </div>
                <div class="outlet-info">
                    <h4>{{ outlet?.outletName }}</h4>
                    <p>
                        <mat-icon>business</mat-icon>
                        {{ outlet?.organizationDetails?.organization_name || 'No Organization' }}
                    </p>
                </div>
                <button mat-flat-button color="primary" class="restore-btn" (click)="restoreOutlet(outlet)">
                    <mat-icon>restore</mat-icon>
                    Restore
                </button>
            </div>
        </div>

        <ng-template #emptyState>
            <div class="empty-state">
                <mat-icon>restore_from_trash</mat-icon>
                <h3>No Deleted Outlets</h3>
                <p>There are no soft-deleted outlets to restore.</p>
            </div>
        </ng-template>
    </ng-container>
</mat-dialog-content>