<div class="row">
    <ng-container *ngIf="!editMode">
        <div class="col-6 labelText" *ngIf="walletDetails">
            Current wallet balance : {{walletDetails.wallet_balance}}
        </div>
        <div class="col-6">
            <button  class="btn btn-primary btn-sm me-2" (click)="changeBalance('add')">Add Money</button>
            <button  class="btn btn-danger btn-sm" (click)="changeBalance('deduct')">Deduct Money</button>
        </div>
    </ng-container>
    <ng-container *ngIf="editMode">
        <div class="col-2">
            <label for="moneyAmt" *ngIf="actionType === 'add'">Amount to Be Added</label>
            <label for="moneyAmt" *ngIf="actionType === 'deduct'">Amount to Be Deducted</label>
            <input type="number" id="moneyAmt" class="form-control" [(ngModel)]="walletObj.rewardsPoints">
        </div>
        <div class="col-4">
            <label for="remarks">Remarks</label>
            <input type="text" id="remarks" class="form-control" [(ngModel)]="walletObj.remark">
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-sm me-2" (click)="updateWallet('add')" *ngIf="actionType === 'add'">Add</button>
            <button class="btn btn-success btn-sm me-2" (click)="updateWallet('deduct')" *ngIf="actionType === 'deduct'">Deduct</button>
            <button class="btn btn-danger btn-sm" (click)="editMode = !editMode">Cancel</button>
        </div>
    </ng-container>
    <div *ngIf="walletList.length > 0 && !editMode">
        <div *ngFor="let wallet of walletList" class="cardDesign">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <span class="labelText">Name : </span>{{wallet.customerName}}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <span class="labelText">Status : </span>{{wallet.status}}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <span class="labelText">Transaction Points : </span>{{wallet.transaction_points}}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <span class="labelText">Earlier Wallet Balance : </span>{{wallet.wallet_balance}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <span class="labelText"> Transaction Type : </span>{{wallet.transactionType}}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <span class="labelText">Credited On : </span>{{wallet.created_at | date: 'd/M/yy'}}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="labelText">Remark : </span>{{wallet.remark}}
                </div>
            </div>
        </div>
        <button  type="button" class="btn btn-success btn-sm"
        (click)="getMore()">Load More</button>    

        <div class="center" *ngIf="walletList.length === 0 && !editMode">
            No Records Found
        </div>
    </div>
</div>