<div class="row" *ngIf="showless"> 
    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">OrderNo.</div>
                <div class="labelData">{{orderInput.orderNo}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-6">
                <div class="labelText">Org Name</div>
                <div class="labelData">{{orderInput.org_name}}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-5">
                <div class="labelText">User Name</div>
                <div class="labelData">{{orderInput.user_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-7">
                <div class="labelText">User PhNo</div>
                <div class="labelData">{{orderInput.user_phoneNo}}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">Status</div>
                <div class="labelData" [ngClass]="orderInput.orderstatus === 'placed' || orderInput.orderstatus === 'accepted' || orderInput.orderstatus === 'delivered' || orderInput.orderstatus === 'preApproved' ? 'green' : orderInput.orderstatus === 'declined' || orderInput.orderstatus === 'cancelled' ? 'red' : 'yellow'">{{orderInput.orderstatus}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-6">
                <div class="labelText">Order Type</div>
                <div class="labelData">{{orderInput.orderType}}</div>
            </div>
        </div>
    </div>    

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">User Role</div>
                <div class="labelData">{{orderInput.user_role}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Approver Role</div>
                <div class="labelData">{{orderInput.approver_role}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-4" *ngIf="orderInput._id">
                <div class="inline right view" (click)="viewOrder(orderInput)"><i class="bi bi-file-plus"></i></div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.approver_name">
                <div class="labelText">Approver Name</div>
                <div class="labelData">{{orderInput.approver_name}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-6" *ngIf="orderInput.approver_phoneNo">
                <div class="labelText">Approver PhNo</div>
                <div class="labelData">{{orderInput.approver_phoneNo}}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
                <div class="labelText">Order Date</div>
                <div class="labelData">{{orderInput.orderDate | date: 'MMM d, y'}}</div>
            </div>
            
        </div>
    </div> 

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">Delivery Date</div>
            <div class="labelData">{{orderInput.deliveryDate | date: 'MMM d, y'}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-6" *ngIf="orderInput.approver_phoneNo">
                <div class="labelText">Delivery Slot</div>
                <div class="labelData">{{orderInput.slotStartTime | date : 'shortTime' }}-{{orderInput.slotEndTime |
                    date :
                    'shortTime' }}</div>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.deliveryTaskState">
                <div class="bold labelText">Delivery Task State</div>
                <div class="labelData">{{orderInput.deliveryTaskState}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput?.deliveryVendor">
                <div class="labelText">Partner</div>
                <div class="labelData">{{orderInput.deliveryVendor}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-4" *ngIf="orderInput.pickupEta">
                <div class="bold labelText">Pickup-Eta</div>
                <div class="labelData">{{orderInput.pickupEta}} mins</div>
            </div>
            <div class="col-6 col-md-4 col-lg-4" *ngIf="orderInput.dropoffEta">
                <div class="bold labelText">Dropoff-Eta</div>
                <div class="labelData">{{orderInput.dropoffEta}} mins</div>
            </div>
            <div class="col-6 col-md-4 col-lg-4" *ngIf="orderInput.runnerName">
                <div class="bold labelText">Runner Name</div>
                <div class="labelData">{{orderInput.runnerName}}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.runnerPhone">
                <div class="bold labelText">Runner Phone</div>
                <div class="labelData">{{orderInput.runnerPhone}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.deliveryTaskId">
                <div class="labelText">DeliveryTaskId</div>
                <div class="labelData">{{orderInput.deliveryTaskId}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">ShadowFaxId</div>
                <div class="labelData">{{orderInput.sfx_order_id}}</div>
            </div>
        </div>
    </div>
</div>

<div class="bgpadding1" *ngIf="!showless">
    <!-- <div class="right pointer less" (click)="showLess()">-</div> -->
    <i class="bi bi-file-minus right pointer less" (click)="showLess()"></i>
    <div class="right pointer me-1" *ngIf="order.orderstatus !== 'completed'" (click)="toggleEditMode()">
        <i class="bi bi-pencil-square" *ngIf="!editMode"></i>
        <i class="bi bi bi-x" *ngIf="editMode"></i>
    </div>
    <div class="header3 bold">Order No. {{order.orderNo}} Information</div>
    <div class="header3 order-sub-header" (click)="showOrderDetails = ! showOrderDetails">Order Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showOrderDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showOrderDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showOrderDetails">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">OrderNo</div>
            <div class="labelData">{{order.orderNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order Status</div>
            <div class="labelData"
            [ngClass]="orderInput.orderstatus === 'placed' || orderInput.orderstatus === 'accepted' || orderInput.orderstatus === 'completed' || orderInput.orderstatus === 'preApproved' ? 'green' : orderInput.orderstatus === 'declined' || orderInput.orderstatus === 'cancelled' ? 'red' : 'yellow'">
                {{order.orderstatus}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order Type</div>
            <div class="labelData">{{order.orderType}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order CreatedBy</div>
            <div class="labelData">{{order.user_role}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order Date</div>
            <div class="labelData">{{order.orderDate | date: 'MMM d, y'}}</div>
        </div>
       
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Special Request</div>
            <div class="labelData">{{order.specialRequest}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-6">
            <span class="bold labeltext">Items:</span>
            <span class="labelData">
                <div *ngFor="let item of order.itemList; index as i">
                    {{item.itemName}} - QTY :
                    <!-- <span *ngIf="item.itemServingType !== 'perQuantity' "> -->
                    {{item.count}}
                    <!-- </span> -->
                    <!-- <span *ngIf="item.itemServingType === 'perQuantity' ">
                                <span *ngIf="item.servingQuantityUnit === 'Inch' ">{{item.count}} x
                                    {{item.servingQuantity}}{{item.servingQuantityUnit}}</span>
                                <span *ngIf="item.servingQuantityUnit !== 'Inch' ">{{item.count * item.servingQuantity}}
                                    {{item.servingQuantityUnit}}</span>
                            </span> -->
                    - Price: &#8377; {{item.itemPrice*item.count}}
                </div>
            </span>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-12 labelText">
                    Total Item Price: &#8377;{{order.orderAmount + order.taxes}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-12 labelText">
                    Amt Paid To Kitchen: &#8377;{{order.itemAmount}}
                </div>
            </div>
        
            <div class="col-sm-12 col-md-4 col-lg-3 labelText" *ngIf="itemPriceEdit">
                <input type="number" [(ngModel)]="order.itemAmount">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 labelText" *ngIf="!order.amtAfterCommisionPaidToKitchen && editMode">
                <button *ngIf="!itemPriceEdit" class="btn btn-primary btn-sm" (click)="editItemPrice()">Edit
                    Price</button>
                <div *ngIf="itemPriceEdit">
                    <button class="btn btn-primary btn-sm me-2" (click)="confirmEditItemPrice()">Confirm</button>
                    <button class="btn btn-danger btn-sm" (click)="cancelEditItemPrice()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Delivery Date</div>
            <div class="labelData">{{order.deliveryDate | date: 'MMM d, y'}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Delivery Slot</div>
            <div class="labelData">{{order.slotStartTime | date : 'shortTime' }}-{{order.slotEndTime |
                date :
                'shortTime' }}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div *ngIf="!packagingPriceEdit">
                <div class="labelText">Packaging Cost</div>
                <div class="labelData">{{order.packagingCost}}</div>
                <button class="btn btn-primary btn-sm" (click)="packagingPriceEdit = !packagingPriceEdit"
                    *ngIf="editMode">Edit</button>
            </div>
        
            <div *ngIf="packagingPriceEdit">
                <input type="number" [(ngModel)]="order.packagingCost">
                <div class="mt-1">
                    <button class="btn btn-primary btn-sm me-2" (click)="confirmEditPackagingPrice()">Confirm</button>
                    <button class="btn btn-danger btn-sm" (click)="cancelEditPackagingPrice()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div *ngIf="!addDeliveryCost">
                <div class="labelText">Delivery Cost</div>
                <div class="labelData" *ngIf="order.deliveryCost">{{order.deliveryCost}}</div>
                <button class="btn btn-primary btn-sm" (click)="addDeliveryCost = !addDeliveryCost"
                    *ngIf="!order.deliveryCost && editMode">Add Delivery Cost</button>
                <button class="btn btn-primary btn-sm" (click)="addDeliveryCost = !addDeliveryCost"
                    *ngIf="order.deliveryCost && editMode">Edit</button>
            </div>
            <div *ngIf="addDeliveryCost">
                <input type="number" [(ngModel)]="order.deliveryCost">
                <div class="mt-1"><button class="btn btn-primary btn-sm me-2" (click)="confirmDeliveryCost()">Confirm</button>
                    <button class="btn btn-danger btn-sm" (click)="cancelDeliveryCost()">Cancel</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="header3 order-sub-header" (click)="showKitchenDetails = !showKitchenDetails">Organization Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showKitchenDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showKitchenDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showKitchenDetails">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Org Name</div>
            <div class="labelData">{{order.org_name}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Org City</div>
            <div class="labelData">{{order.org_city}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Org Location</div>
            <div class="labelData">{{order.org_location}}</div>
        </div>
    </div>

    <div class="header3 order-sub-header" (click)="showKitchenDetails = ! showKitchenDetails">Vendor Kitchen Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showKitchenDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showKitchenDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showKitchenDetails">
         <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Vendor Firm Name</div>
            <div class="labelData">{{order.vendorFirmName}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Vendor Name</div>
            <div class="labelData">{{order.vendorName}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Vendor PhoneNo</div>
            <div class="labelData">{{order.vendorPhoneNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3" *ngIf="order.amtAfterCommisionPaidToKitchen">
            <div class="labelText">Amount Paid to Kitchen</div>
            <div class="labelData">&#8377; {{order.amtAfterCommisionPaidToKitchen}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3" *ngIf="order.kitchenDiscount">
            <div class="labelText">Kitchen Discount</div>
            <div class="labelData">&#8377; {{order.kitchenDiscount}}</div>
        </div>
    </div>

    <div class="header3 order-sub-header" (click)="showCustomerDetails = !showCustomerDetails">Customer Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showCustomerDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showCustomerDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showCustomerDetails">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">User Name</div>
            <div class="labelData">{{order.user_name}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">User Phone</div>
            <div class="labelData">{{order.user_phoneNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">User Email</div>
            <div class="labelData">{{order.user_email}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Approver Name</div>
            <div class="labelData">{{order.approver_name}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Approver Phone</div>
            <div class="labelData">{{order.approver_phoneNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Approver Email</div>
            <div class="labelData">{{order.approver_email}}</div>
        </div>
        <!-- <div class="col-6 col-md-12 col-lg-12" *ngIf="order.customerLocation">
            <span class="labelText">Customer Geolocation : </span>latitude- {{order.customerLocation.geolocation.lat}},
            longitude- {{order.customerLocation.geolocation.lng}}
        </div> -->
    </div>
    <div class="header3 order-sub-header" (click)="showDeliveryDetails = ! showDeliveryDetails">Delivery Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showDeliveryDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showDeliveryDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showDeliveryDetails">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="labelText">Set Delivery Manually</div>
            <div class="labelData">{{order.startManualDelivery}}</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="order.deliveryTaskId">
            <div class="labelText">Delivery Vendor</div>
            <div class="labelData">{{order.deliveryVendor}}</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="order.deliveryTaskId">
            <div class="labelText">DeliveryTaskId</div>
            <div class="labelData">{{order.deliveryTaskId}}</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="order.sfx_order_id">
            <div class="labelText">ShadowFaxId</div>
            <div class="labelData">{{order.sfx_order_id}}</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.deliveryTaskState">
            <div class="labelText">Delivery Task State</div>
            <div class="labelData">{{order.deliveryTaskState}}</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.pickupEta">
            <div class="labelText">Pickup-Eta</div>
            <div class="labelData">{{order.pickupEta}} mins</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.dropoffEta">
            <div class="labelText">Dropoff-Eta</div>
            <div class="labelData">{{order.dropoffEta}} mins</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.runnerName">
            <div class="labelText">Runner Name</div>
            <div class="labelData">{{order.runnerName}}</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.runnerPhone">
            <div class="labelText">Runner Phone</div>
            <div class="labelData">{{order.runnerPhone}}</div>
        </div>
    </div>
    <div class="header3 order-sub-header" (click)="showPaymentDetails = ! showPaymentDetails">Payment Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showPaymentDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showPaymentDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showPaymentDetails">
        <div class="col-12 col-md-4 col-lg-6">
            <div class="bgTopDownpadding2 mt-1">
                <div class="bilingDiv">
                    <div class="receiptText">
                        <div size="12">Receipt:</div>
                    </div>
                    <div class="header5 receipt3 receipt-parent">
                        <div class="left-div">Order Amount</div>
                        <div class="right-div dark">&#8377;
                            <span>{{order.orderAmount}}</span>
                        </div>
                    </div>
                    <div class="header5 receipt-parent">
                        <div class="left-div">Taxes</div>
                        <div class="right-div">&#8377; {{order.taxes}}</div>
                    </div>

                    <div class="header5 receipt-parent discount">
                        <div class="left-div">Total</div>
                        <div class="right-div bold">
                            &#8377;{{order.orderAmount + order.taxes}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header3 order-sub-header" (click)="showStatusHistory = ! showStatusHistory">Status History
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showStatusHistory"></i>
            <i class="bi bi-chevron-up" *ngIf="showStatusHistory"></i>
        </span>
    </div>
    <div class="row" *ngIf="showStatusHistory">
        <div class="col-sm-12 col-md-4 col-lg-3" *ngFor="let history of order.statusHistory; index as i">
            <div class="labelText">{{history.orderstatus}}</div>
            <div class="labelText">{{history.updatedOn | date: 'd-MMM-yyyy h:mm a'}}</div>
            <div class="labelData">{{history.updatedBy}}</div>
            <div class="labelData">{{history.updateByType}}</div>
        </div>
    </div>

    <div class="row bgTopDownpadding1" *ngIf="(order.beforePackingImageUrl || order.afterPackingImageUrl)">
        <div class="col-sm-6 col-md-6 col-lg-4 orderImage">
            <img [src]="imageUrl + order.beforePackingImageUrl" *ngIf="order.beforePackingImageUrl">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 orderImage">
            <img [src]="imageUrl + order.afterPackingImageUrl" *ngIf="order.afterPackingImageUrl">
        </div>
    </div>

    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="order.orderstatus === 'waitingForApproval' || order.orderstatus === 'placed'">
            <button class="btn btn-primary btn-sm" (click)="acceptRejectOrder('accepted')">Accept Order</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="orderStage === 2">
            <button class="btn-danger btn-sm btn" (click)="acceptRejectOrder('preparing')">Preparing</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="orderStage === 3">
            <button class="btn-danger btn-sm btn" (click)="acceptRejectOrder('readyForDelivery')">Ready To Deliver</button>
        </span>
    </span>
    <span class="me-2"
            *ngIf="(orderStage === 4 && !order.deliveryTaskState) || order.deliveryTaskState === 'cancelled' ">
            <button class="btn btn-primary btn-sm" (click)="startDeliveryProcess()">Start Any Delivery Process</button>
        </span>
        <span class="me-2" 
            *ngIf="(orderStage === 4 && !order.deliveryTaskState) || order.deliveryTaskState === 'cancelled' ">
            <button class="btn btn-primary btn-sm" (click)="startPidgeDeliveryProcess()">Start Pidge Delivery
                Process</button>
        </span>
        <!-- <span class="me-2"
            *ngIf="(orderStage === 4 && !order.deliveryTaskState) || order.deliveryTaskState === 'cancelled' ">
            <button class="btn btn-primary btn-sm" (click)="startDunzoDeliveryProcess()">Start Dunzo Delivery Process</button>
        </span> -->
        <span class="me-2"
            *ngIf="(orderStage === 4 && !order.deliveryTaskState) || order.deliveryTaskState === 'cancelled' ">
            <button class="btn btn-primary btn-sm" (click)="startPorterDeliveryProcess()">Start Porter Delivery
                Process</button>
        </span>
        <span class="me-2"
                *ngIf="orderStage === 4 && (order.deliveryTaskState !== 'cancelled' && order.deliveryVendor === 'Pidge')">
                <button class="btn btn-primary btn-sm" (click)="cancelPidge3PLOrder()">Cancel Pidge Delivery
                    Process</button>
            </span>
        <span class="me-2"
            *ngIf="(orderStage === 4 && !order.deliveryTaskState) || order.deliveryTaskState === 'cancelled' ">
            <button class="btn btn-primary btn-sm" (click)="startShadowFaxDeliveryProcess()">Start ShadowFax Delivery
                Process</button>
        </span>
        <!-- <span class="me-2"
            *ngIf="orderStage === 4 && order.deliveryTaskState && (order.deliveryTaskState !== 'cancelled' && order.deliveryVendor === 'Dunzo')">
            <button class="btn btn-primary btn-sm" (click)="cancelDunzoDelivery()">Cancel Dunzo Delivery Process</button>
        </span> -->
        <span class="me-2"
            *ngIf="orderStage === 4 && (order.deliveryTaskState !== 'cancelled' && order.deliveryVendor === 'Porter')">
            <button class="btn btn-primary btn-sm" (click)="cancelPorterDelivery()">Cancel Porter Delivery Process</button>
        </span>
        <span class="me-2"
            *ngIf="orderStage === 4 && (order.deliveryTaskState !== 'cancelled' && order.deliveryVendor === 'ShadowFax')">
            <button class="btn btn-primary btn-sm" (click)="cancelShadowFaxDelivery()">Cancel ShadowFax Delivery Process</button>
        </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="orderStage === 2">
            <button class="btn-danger btn-sm btn" (click)="tranferToAnotherKitchen()">Change Vendor</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="orderStage === 3 || orderStage === 4 || orderStage === 5 || orderStage === 6">
            <button class="btn btn-primary btn-sm" (click)="acceptRejectOrder('delivered')">Completed</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2">
            <button class="btn btn-danger btn-sm" (click)="acceptRejectOrder('cancelled')">Cancel Order</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2"
           *ngIf="(orderStage === 4 || orderStage === 5 || orderStage === 6 )"> <!-- && !order.amtPaidToKitchen && !order.amtAfterCommisionPaidToKitchen -->
            <button class="btn-danger btn-sm btn" (click)="payAmtToKitchen()">Complete order & pay Vendor</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="order.orderstatus === 'accepted'">
            <button class="btn btn-danger btn-sm" (click)="invoice('view')">View Invoice</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="order.orderstatus === 'accepted'">
            <button class="btn btn-danger btn-sm" (click)="invoice('download')">Download Invoice</button>
        </span>
    </span>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2" *ngIf="order.orderstatus === 'accepted'">
            <button class="btn btn-danger btn-sm" (click)="invoice('mail')">Mail Invoice</button>
        </span>
    </span>

    <div *ngIf="orderTransferStart" class="bgTopDownpadding1">
        <div class="header3 labelText">Search New Vendor</div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <button class="btn btn-primary btn-sm form-control" (click)="searchNearKitchen()">Search Nearby
                    Vendor</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <label class="labelText" for="kitchenId">Vendor<span class="mandatory">*</span></label>
                <input class="labelData" type="text" class="form-control" id="kitchenId"
                    [(ngModel)]="searchVendor" placeholder="Search with Vendor">
            </div>

            <div class="col-sm-12 col-md-4 col-lg-3">
                <button class="btn btn-primary btn-sm form-control" (click)="searchKitchen()">Search Vendor</button>
            </div>
        </div>
        <div class="row" *ngIf="searchedVendor._id">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <span class="labelText">Vendor Firm Name:</span>
                <span class="labelData">{{searchedVendor?.vendorFirmDetails?.vendorFirmName}}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <span class="labelText">Vendor Name:</span>
                <span class="labelData">{{searchedVendor?.vendorName}}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <span class="labelText">vendor PhoneNo:</span>
                <span class="labelData">{{searchedVendor?.vendorPhoneNo}}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <span class="labelText">Distance:</span>
                <span class="labelData">{{searchedVendor.distance}}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <span class="labelText">New Delivery Charge:</span>
                <span class="labelData">{{transferDeliveryCharges}}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <span class="labelText">Delivery Charge Difference:</span>
                <span *ngIf="transferDeliveryCharges" class="labelData"
                    [ngClass]="{'redHighlight': (transferDeliveryCharges - order.deliveryCharges) > 0,'greenHighlight': (transferDeliveryCharges - order.deliveryCharges) < 0}">
                    {{transferDeliveryCharges - order.deliveryCharges}}
                </span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span class="labelText">Address</span>
                <span class="labelData">{{searchedVendor.address.address1}}, {{searchedVendor.address.address2}},
                    Landmark: {{searchedVendor.address.landmark}}</span>
            </div>
        </div>

        <div class="row bgTopDownpadding1">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <button class="btn btn-danger btn-sm" (click)="cancelTransfer()">Cancel</button>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="searchedVendor._id">
                <button class="btn btn-primary btn-sm" (click)="confirmTransfer()">Confirm</button>
            </div>
        </div>
    </div>

</div>

<ng-template #contentkitchen let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Near by Vendor</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let kitchen of nearVendorList | sort: 'distance' : -1 ">
                <div class="row" *ngIf="order.vendorId !== kitchen._id">
                    <div class="col-sm-12 col-md-2 col-lg-2 labelData">
                        <input type="radio" [(ngModel)]="nearestVendor" name="kitchen" [value]="kitchen._id">
                    </div>
                    <div class="col-sm-12 col-md-40 col-lg-4 labelData">
                        {{kitchen.vendorName}} - {{kitchen.vendorPhoneNo}} - {{kitchen.vendorEmail}}</div>
                    <div class="col-sm-12 col-md-5 col-lg-2 labelData">
                            {{kitchen?.vendorFirmDetails?.vendorFirmName}}
                    </div>
                    <!-- <div class="col-sm-12 col-md-5 col-lg-2 labelData">Google: {{kitchen.distance}}, Dunzo:
                        {{kitchen.dunzoDistance}}</div>
                    <div class="col-sm-12 col-md-4 col-lg-2 labelData">Price: &#8377;{{kitchen.estimated_price}}
                        <span *ngIf="kitchen.estimated_price" class="labelData"
                            [ngClass]="{'redHighlight': (kitchen.estimated_price - order.deliveryCharges) > 0,'greenHighlight': (kitchen.estimated_price - order.deliveryCharges) < 0}">
                            Diff: {{kitchen.estimated_price - order.deliveryCharges}}
                        </span>
                    </div> -->
                </div>
            </li>
        </ul>
        <button class="btn btn-danger btn-sm mt-1" (click)="loadMoreKitchen()" *ngIf="showLoadMoreKitchen">Load
            More</button>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm" (click)="checkdistance()">Add</button>
            <!-- <button type="button" class="btn btn-primary btn-sm" (click)="modal.close('add')">Add</button> -->
        </div>
    </div>
</ng-template>
<ng-template #selectKitchenModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm Selection</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="lead text-center">
        Selected kitchen distance is greater than 6 KM. Do you want to pay extra to proceed?
      </p>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn bluebutton btn-sm mr-2" (click)="modal.dismiss('cancel')">Cancel</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('add')">Select</button>
    </div>
  </ng-template>