<!-- SUMMARY VIEW -->
<ng-container *ngIf="showless; else fullView">
    <mat-card class="order-summary-card mb-3">
        <mat-card-content>
            <div class="row">
                <!-- Order + Org -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Order No.</div>
                            <div class="labelData">{{ orderInput.orderNo }}</div>
                        </div>
                        <div class="col-6 col-md-7 col-lg-6">
                            <div class="labelText">Org Name</div>
                            <div class="labelData">{{ orderInput.org_name }}</div>
                        </div>
                    </div>
                </div>

                <!-- User -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-5">
                            <div class="labelText">User Name</div>
                            <div class="labelData">{{ orderInput.user_name }}</div>
                        </div>
                        <div class="col-6 col-md-7 col-lg-7">
                            <div class="labelText">User PhNo</div>
                            <div class="labelData">{{ orderInput.user_phoneNo }}</div>
                        </div>
                    </div>
                </div>

                <!-- Status + Type -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Status</div>
                            <mat-chip class="labelData status-chip" [ngClass]="getStatusClass(orderInput.orderstatus)">
                                {{ orderInput.orderstatus }}
                            </mat-chip>
                        </div>
                        <div class="col-6 col-md-7 col-lg-6">
                            <div class="labelText">Order Type</div>
                            <div class="labelData">{{ orderInput.orderType }}</div>
                        </div>
                    </div>
                </div>

                <!-- Roles + View -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-7 col-lg-4">
                            <div class="labelText">User Role</div>
                            <div class="labelData">{{ orderInput.user_role }}</div>
                        </div>
                        <div class="col-6 col-md-7 col-lg-4">
                            <div class="labelText">Approver Role</div>
                            <div class="labelData">{{ orderInput.approver_role }}</div>
                        </div>
                        <div class="col-6 col-md-7 col-lg-4" *ngIf="orderInput._id">
                            <button mat-icon-button color="primary" class="view" (click)="viewOrder(orderInput)"
                                aria-label="View order">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Approver -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.approver_name">
                            <div class="labelText">Approver Name</div>
                            <div class="labelData">{{ orderInput.approver_name }}</div>
                        </div>
                        <div class="col-6 col-md-7 col-lg-6" *ngIf="orderInput.approver_phoneNo">
                            <div class="labelText">Approver PhNo</div>
                            <div class="labelData">{{ orderInput.approver_phoneNo }}</div>
                        </div>
                    </div>
                </div>

                <!-- Order Date -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Order Date</div>
                            <div class="labelData">{{ orderInput.orderDate | date: 'MMM d, y' }}</div>
                        </div>
                    </div>
                </div>

                <!-- Delivery Date + Slot -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Delivery Date</div>
                            <div class="labelData">{{ orderInput.deliveryDate | date: 'MMM d, y' }}</div>
                        </div>
                        <div class="col-6 col-md-7 col-lg-6" *ngIf="orderInput.slotStartTime && orderInput.slotEndTime">
                            <div class="labelText">Delivery Slot</div>
                            <div class="labelData">
                                {{ orderInput.slotStartTime | date: 'shortTime' }} -
                                {{ orderInput.slotEndTime | date: 'shortTime' }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delivery Task -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.deliveryTaskState">
                            <div class="bold labelText">Delivery Task State</div>
                            <div class="labelData">{{ orderInput.deliveryTaskState }}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput?.deliveryVendor">
                            <div class="labelText">Partner</div>
                            <div class="labelData">{{ orderInput.deliveryVendor }}</div>
                        </div>
                    </div>
                </div>

                <!-- Rider / Runner -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-4" *ngIf="orderInput.pickupEta">
                            <div class="bold labelText">Pickup-Eta</div>
                            <div class="labelData">{{ orderInput.pickupEta }} mins</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" *ngIf="orderInput.dropoffEta">
                            <div class="bold labelText">Dropoff-Eta</div>
                            <div class="labelData">{{ orderInput.dropoffEta }} mins</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" *ngIf="orderInput.runnerName">
                            <div class="bold labelText">Runner Name</div>
                            <div class="labelData">{{ orderInput.runnerName }}</div>
                        </div>
                    </div>
                </div>

                <!-- Runner phone + IDs -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.runnerPhone">
                            <div class="bold labelText">Runner Phone</div>
                            <div class="labelData">{{ orderInput.runnerPhone }}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-6" *ngIf="orderInput.deliveryTaskId">
                            <div class="labelText">Delivery Task Id</div>
                            <div class="labelData">{{ orderInput.deliveryTaskId }}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">ShadowFax Id</div>
                            <div class="labelData">{{ orderInput.sfx_order_id }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>

<!-- FULL VIEW -->
<ng-template #fullView>
    <mat-card class="order-details-card bgpadding1 mb-3">
        <mat-card-header class="details-header">
            <div class="header-left">
                <mat-card-title>
                    Order No. {{ order?.orderNo }} Information
                </mat-card-title>
                <mat-card-subtitle>
                    {{ order?.org_name }} • {{ order?.orderDate | date: 'MMM d, y' }}
                </mat-card-subtitle>
            </div>

            <div class="header-actions ms-auto d-flex align-items-center gap-2">
                <!-- Edit / Close edit -->
                <button mat-icon-button color="primary" *ngIf="order?.orderstatus !== 'completed'"
                    (click)="toggleEditMode()" [attr.aria-label]="editMode ? 'Disable edit mode' : 'Enable edit mode'">
                    <mat-icon *ngIf="!editMode">edit</mat-icon>
                    <mat-icon *ngIf="editMode">close</mat-icon>
                </button>

                <!-- Collapse full view (Close) -->
                <button mat-icon-button (click)="showLess()" aria-label="Collapse">
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
        </mat-card-header>

        <mat-card-content>

            <mat-accordion multi="true">

                <!-- ORDER DETAILS -->
                <mat-expansion-panel [(expanded)]="showOrderDetails">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Order Details</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Order No</div>
                            <div class="labelData">{{ order.orderNo }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Order Status</div>
                            <mat-chip class="labelData status-chip" [ngClass]="getStatusClass(order.orderstatus)">
                                {{ order.orderstatus }}
                            </mat-chip>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Order Type</div>
                            <div class="labelData">{{ order.orderType }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Order Created By</div>
                            <div class="labelData">{{ order.user_role }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Order Date</div>
                            <div class="labelData">{{ order.orderDate | date: 'MMM d, y' }}</div>
                        </div>

                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Special Request</div>
                            <div class="labelData">{{ order.specialRequest }}</div>
                        </div>

                        <!-- Items -->
                        <div class="col-12 col-md-12 col-lg-6 mt-2">
                            <div class="labelText fw-bold mb-1">Items:</div>
                            <div class="labelData">
                                <div *ngFor="let item of order.itemList; index as i">
                                    {{ item.itemName }} - QTY: {{ item.count }} - Price: &#8377;
                                    {{ item.itemPrice * item.count }}
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-12 labelText">
                                    Total Item Price: &#8377;{{ order.orderAmount + order.taxes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 labelText">
                                    Amt Paid To Kitchen: &#8377;{{ order.itemAmount }}
                                </div>
                            </div>

                            <!-- Edit itemAmount -->
                            <div class="row mt-1" *ngIf="editMode">
                                <div class="col-12 col-md-4 col-lg-3 labelText" *ngIf="itemPriceEdit">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Item Amount</mat-label>
                                        <input matInput type="number" [(ngModel)]="order.itemAmount" />
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-8 col-lg-9 d-flex align-items-center gap-2"
                                    *ngIf="!order.amtAfterCommisionPaidToKitchen">
                                    <button mat-stroked-button color="primary" *ngIf="!itemPriceEdit"
                                        (click)="editItemPrice()">
                                        Edit Price
                                    </button>

                                    <ng-container *ngIf="itemPriceEdit">
                                        <button mat-raised-button color="primary" class="me-2"
                                            (click)="confirmEditItemPrice()">
                                            Confirm
                                        </button>
                                        <button mat-button color="warn" (click)="cancelEditItemPrice()">
                                            Cancel
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <!-- Delivery date/slot -->
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Delivery Date</div>
                            <div class="labelData">{{ order.deliveryDate | date: 'MMM d, y' }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Delivery Slot</div>
                            <div class="labelData">
                                {{ order.slotStartTime | date: 'shortTime' }} -
                                {{ order.slotEndTime | date: 'shortTime' }}
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="labelText">Delivery Charge</div>
                            <div class="labelData">
                                {{ order.deliveryCharge }}
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- ORG DETAILS -->
                <mat-expansion-panel [(expanded)]="showOrgDetails">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Organization Details</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Org Name</div>
                            <div class="labelData">{{ order.org_name }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Org City</div>
                            <div class="labelData">{{ order.org_city }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Org Location</div>
                            <div class="labelData">{{ order.org_location }}</div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- VENDOR / KITCHEN DETAILS -->
                <mat-expansion-panel [(expanded)]="showKitchenDetails">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Vendor Kitchen Details</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Vendor Firm Name</div>
                            <div class="labelData">{{ order.vendorFirmName }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Vendor Name</div>
                            <div class="labelData">{{ order.vendorName }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Vendor PhoneNo</div>
                            <div class="labelData">{{ order.vendorPhoneNo }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3" *ngIf="order.amtAfterCommisionPaidToKitchen">
                            <div class="labelText">Amount Paid to Kitchen</div>
                            <div class="labelData">&#8377; {{ order.amtAfterCommisionPaidToKitchen }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3" *ngIf="order.kitchenDiscount">
                            <div class="labelText">Kitchen Discount</div>
                            <div class="labelData">&#8377; {{ order.kitchenDiscount }}</div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- CUSTOMER DETAILS -->
                <mat-expansion-panel [(expanded)]="showCustomerDetails">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Customer Details</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">User Name</div>
                            <div class="labelData">{{ order.user_name }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">User Phone</div>
                            <div class="labelData">{{ order.user_phoneNo }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">User Email</div>
                            <div class="labelData">{{ order.user_email }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Approver Name</div>
                            <div class="labelData">{{ order.approver_name }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Approver Phone</div>
                            <div class="labelData">{{ order.approver_phoneNo }}</div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="labelText">Approver Email</div>
                            <div class="labelData">{{ order.approver_email }}</div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- DELIVERY DETAILS -->
                <mat-expansion-panel [(expanded)]="showDeliveryDetails">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Delivery Details</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="labelText">Set Delivery Manually</div>
                            <div class="labelData">{{ order.startManualDelivery }}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="order.deliveryTaskId">
                            <div class="labelText">Delivery Vendor</div>
                            <div class="labelData">{{ order.deliveryVendor }}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="order.deliveryTaskId">
                            <div class="labelText">DeliveryTaskId</div>
                            <div class="labelData">{{ order.deliveryTaskId }}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="order.sfx_order_id">
                            <div class="labelText">ShadowFaxId</div>
                            <div class="labelData">{{ order.sfx_order_id }}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.deliveryTaskState">
                            <div class="labelText">Delivery Task State</div>
                            <div class="labelData">{{ order.deliveryTaskState }}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.pickupEta">
                            <div class="labelText">Pickup-Eta</div>
                            <div class="labelData">{{ order.pickupEta }} mins</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.dropoffEta">
                            <div class="labelText">Dropoff-Eta</div>
                            <div class="labelData">{{ order.dropoffEta }} mins</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.runnerName">
                            <div class="labelText">Runner Name</div>
                            <div class="labelData">{{ order.runnerName }}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="order.runnerPhone">
                            <div class="labelText">Runner Phone</div>
                            <div class="labelData">{{ order.runnerPhone }}</div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- PAYMENT DETAILS -->
                <mat-expansion-panel [(expanded)]="showPaymentDetails">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Payment Details</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="bgTopDownpadding2 mt-1">
                                <div class="bilingDiv">
                                    <div class="receiptText">
                                        <div size="12">Receipt:</div>
                                    </div>
                                    <div class="header5 receipt3 receipt-parent">
                                        <div class="left-div">Order Amount</div>
                                        <div class="right-div dark">
                                            &#8377;<span>{{ order.orderAmount }}</span>
                                        </div>
                                    </div>
                                    <div class="header5 receipt-parent">
                                        <div class="left-div">Taxes</div>
                                        <div class="right-div">&#8377; {{ order.taxes }}</div>
                                    </div>
                                    <div class="header5 receipt-parent discount">
                                        <div class="left-div">Total</div>
                                        <div class="right-div bold">
                                            &#8377;{{ order.orderAmount + order.taxes }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- STATUS HISTORY -->
                <mat-expansion-panel [(expanded)]="showStatusHistory">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Status History</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3"
                            *ngFor="let history of order.statusHistory; index as i">
                            <div class="labelText">{{ history.orderstatus }}</div>
                            <div class="labelText">
                                {{ history.updatedOn | date: 'd-MMM-yyyy h:mm a' }}
                            </div>
                            <div class="labelData">{{ history.updatedBy }}</div>
                            <div class="labelData">{{ history.updateByType }}</div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- IMAGES -->
                <mat-expansion-panel *ngIf="order.beforePackingImageUrl || order.afterPackingImageUrl">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Order Images</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row bgTopDownpadding1">
                        <div class="col-sm-6 col-md-6 col-lg-4 orderImage">
                            <img [src]="imageUrl + order.beforePackingImageUrl" *ngIf="order.beforePackingImageUrl" />
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 orderImage">
                            <img [src]="imageUrl + order.afterPackingImageUrl" *ngIf="order.afterPackingImageUrl" />
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- TRANSFER TO ANOTHER KITCHEN -->
                <mat-expansion-panel *ngIf="orderTransferStart" [(expanded)]="showTransferPanel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Transfer To Another Vendor</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="header3 labelText">Search New Vendor</div>

                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button mat-raised-button color="primary" class="w-100" (click)="searchNearKitchen()">
                                Search Nearby Vendor
                            </button>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Vendor</mat-label>
                                <input matInput id="kitchenId" [(ngModel)]="searchVendor"
                                    placeholder="Search with Vendor" />
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 d-flex align-items-end">
                            <button mat-raised-button color="primary" class="w-100" (click)="searchKitchen()">
                                Search Vendor
                            </button>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="searchedVendor._id">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <span class="labelText">Vendor Firm Name:</span>
                            <span class="labelData">
                                {{ searchedVendor?.vendorFirmDetails?.vendorFirmName }}
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <span class="labelText">Vendor Name:</span>
                            <span class="labelData">{{ searchedVendor?.vendorName }}</span>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <span class="labelText">Vendor PhoneNo:</span>
                            <span class="labelData">{{ searchedVendor?.vendorPhoneNo }}</span>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <span class="labelText">Distance:</span>
                            <span class="labelData">{{ searchedVendor?.distance }}</span>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <span class="labelText">New Delivery Charge:</span>
                            <span class="labelData">{{ transferDeliveryCharges }}</span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <span class="labelText">Address</span>
                            <span class="labelData">
                                {{ searchedVendor?.address?.address1 }},
                                {{ searchedVendor?.address?.address2 }},
                                Landmark: {{ searchedVendor?.address?.landmark }}
                            </span>
                        </div>
                    </div>

                    <div class="row bgTopDownpadding1 mt-2">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button mat-stroked-button color="warn" (click)="cancelTransfer()">
                                Cancel
                            </button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="searchedVendor._id">
                            <button mat-raised-button color="primary" (click)="confirmTransfer()">
                                Confirm
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- ACTION BUTTONS -->
            <mat-divider class="my-3"></mat-divider>

            <div class="bgTopDownpadding1 action-buttons" *ngIf="editMode">
                <!-- Accept -->
                <button mat-raised-button color="primary" class="me-2 mb-1"
                    *ngIf="order.orderstatus === 'waitingForApproval' || order.orderstatus === 'placed'"
                    (click)="acceptRejectOrder('accepted')">
                    Accept Order
                </button>

                <!-- Preparing -->
                <button mat-raised-button color="warn" class="me-2 mb-1" *ngIf="orderStage === 2"
                    [disabled]="!order?.vendorId" (click)="acceptRejectOrder('preparing')">
                    Preparing
                </button>
                <!-- Ready To Deliver -->
                <button mat-raised-button color="warn" class="me-2 mb-1" *ngIf="orderStage === 3"
                    (click)="acceptRejectOrder('readyForDelivery')">
                    Ready To Deliver
                </button>

                <!-- Delivery process buttons (same conditions as before) -->
                <!-- <button mat-raised-button color="primary" class="me-2 mb-1"
                    *ngIf="(orderStage === 4 && !order.deliveryTaskState) || order.deliveryTaskState === 'cancelled'"
                    (click)="startDeliveryProcess()">
                    Start Any Delivery Process
                </button> -->

                <button mat-raised-button color="primary" class="me-2 mb-1"
                    *ngIf="(orderStage === 4 && !order?.startManualDelivery) " (click)="setManualDelivery()">
                    Set Manual Delivery
                </button>

                <!-- Change vendor -->
                <button mat-stroked-button color="warn" class="me-2 mb-1" *ngIf="orderStage === 2"
                    (click)="tranferToAnotherKitchen()">
                    Change Vendor
                </button>

                <!-- Complete -->
                <button mat-raised-button color="primary" class="me-2 mb-1"
                    *ngIf="orderStage === 4 || orderStage === 5 "
                    (click)="acceptRejectOrder('delivered')">
                    Delivered
                </button>

                <!-- Cancel order -->
                <button mat-raised-button color="warn" class="me-2 mb-1" *ngIf="orderStage === 1 || orderStage === 2 "
                    (click)="acceptRejectOrder('cancelled')">
                    Cancel Order
                </button>

                <!-- Pay vendor -->
                <button mat-raised-button color="accent" class="me-2 mb-1"
                    *ngIf="orderStage === 4 || orderStage === 5 || orderStage === 6" (click)="payAmtToKitchen()">
                    Complete order &amp; Add To Vendor Wallet
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- EXISTING NG-BOOTSTRAP MODALS (just buttons converted to material) -->
    <ng-template #contentkitchen let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Near by Vendor</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let kitchen of nearVendorList | sort: 'distance' : -1">
                    <div class="row" *ngIf="order.vendorId !== kitchen._id">
                        <div class="col-sm-12 col-md-2 col-lg-2 labelData">
                            <mat-radio-group [(ngModel)]="nearestVendor">
                                <mat-radio-button [value]="kitchen._id"></mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 labelData">
                            {{ kitchen.vendorName }} - {{ kitchen.vendorPhoneNo }} - {{ kitchen.vendorEmail }}
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-2 labelData">
                            {{ kitchen?.vendorFirmDetails?.vendorFirmName }}
                        </div>
                    </div>
                </li>
            </ul>
            <button mat-raised-button color="primary" class="mt-1" (click)="loadMoreKitchen()"
                *ngIf="showLoadMoreKitchen">
                Load More
            </button>
        </div>
        <div class="modal-footer">
            <button mat-stroked-button color="primary" (click)="checkdistance()">Add</button>
        </div>
    </ng-template>

    <ng-template #selectKitchenModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirm Selection</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="lead text-center">
                Selected kitchen distance is greater than 6 KM. Do you want to pay extra to proceed?
            </p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button mat-stroked-button color="primary" class="me-2" (click)="modal.dismiss('cancel')">
                Cancel
            </button>
            <button mat-raised-button color="warn" (click)="modal.close('add')">
                Select
            </button>
        </div>
    </ng-template>
</ng-template>