<div class="vendor-header">
  <div>
    <h4 class="m-0 fw-semibold">Config Variables</h4>
  </div>
  <div class="header-actions">
    <button mat-raised-button color="primary" *appHasPermission="'VARIABLE:ADD'" (click)="addVariable()">
      <mat-icon>add</mat-icon> Add Config
    </button>
  </div>
</div>

<div class="container-fluid pb-4">

  <!-- Edit Mode Section -->
  <div *ngIf="editMode" class="bgpadding3 mb-4">
    <div class="labelText mb-3" *ngIf="addnewVariable">Add New Config Variable</div>
    <div class="labelText mb-3" *ngIf="!addnewVariable">Update Config Variable</div>

    <div class="row g-3">
      <!-- Variable Name -->
      <div class="col-md-6 col-lg-3">
        <label class="labelText mb-2" for="variableName">Variable Name</label>
        <input type="text" class="form-control" id="variableName" [(ngModel)]="variableObj.configName"
          placeholder="Enter name" />
      </div>

      <!-- Variable Type -->
      <div class="col-md-6 col-lg-5">
        <label class="labelText mb-2">Variable Type</label>
        <div class="d-flex flex-wrap gap-3 align-items-center mt-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="typeString" value="String" [(ngModel)]="variableType"
              name="varType" />
            <label class="form-check-label" for="typeString">String</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="typeNumber" value="Number" [(ngModel)]="variableType"
              name="varType" />
            <label class="form-check-label" for="typeNumber">Number</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="typeTime" value="Time" [(ngModel)]="variableType"
              name="varType" />
            <label class="form-check-label" for="typeTime">Time</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="typeDate" value="Date" [(ngModel)]="variableType"
              name="varType" />
            <label class="form-check-label" for="typeDate">Date</label>
          </div>
        </div>
      </div>

      <!-- Variable Value -->
      <div class="col-md-6 col-lg-3">
        <label class="labelText mb-2" for="variableValue">Variable Value</label>

        <input *ngIf="variableType === 'String'" type="text" class="form-control" [(ngModel)]="variableObj.configData"
          placeholder="Enter text value" />

        <input *ngIf="variableType === 'Number'" type="number" class="form-control" [(ngModel)]="variableObj.configData"
          placeholder="Enter number value" />

        <input *ngIf="variableType === 'Time'" type="time" class="form-control" [(ngModel)]="variableObj.configData"
          placeholder="00:00" />

        <input *ngIf="variableType === 'Date'" type="date" class="form-control" [(ngModel)]="variableObj.configData" />
      </div>

      <!-- Variable Index -->
      <div class="col-md-6 col-lg-1">
        <label class="labelText mb-2" for="variableIndex">Index</label>
        <input type="text" class="form-control" id="variableIndex" [(ngModel)]="variableObj.configIndex"
          placeholder="#" />
      </div>
    </div>

    <div class="mt-4 d-flex gap-2">
      <ng-container *appHasPermission="'VARIABLE:ADD'">
        <button *ngIf="addnewVariable" mat-raised-button color="primary"
          (click)="submitnewVariable(variableObj)">
          Submit
        </button>
      </ng-container>

      <ng-container *appHasPermission="'VARIABLE:EDIT'">
        <button *ngIf="!addnewVariable" mat-raised-button color="primary"
          (click)="updateVariable(variableObj)">
          Update
        </button>
      </ng-container>

      <button mat-stroked-button color="warn" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

  <!-- List Section -->
  <div *ngIf="!editMode">
    <div *ngIf="allVariables && allVariables.length === 0" class="center">
      No Config Variables Found
    </div>

    <div *ngFor="let variable of allVariables" class="cardDesign">
      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-md-1 mb-2 mb-md-0">
            <div class="labelText">Index</div>
            <div class="labelData">{{ variable.configIndex }}</div>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <div class="labelText">Name</div>
            <div class="labelData">{{ variable.configName }}</div>
          </div>

          <div class="col-md-5 mb-2 mb-md-0">
            <div class="labelText">Value</div>
            <div class="labelData text-truncate" [matTooltip]="variable.configData">{{ variable.configData }}</div>
          </div>

          <!-- Actions -->
          <div class="col-md-2 d-flex align-items-center justify-content-end p-0 gap-2">
            <button mat-icon-button color="primary" *appHasPermission="'VARIABLE:EDIT'" (click)="editVariable(variable)"
              matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" *appHasPermission="'VARIABLE:DELETE'" (click)="showPopup(variable)"
              matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>