<div class="container-fluid pb-4">
  <button mat-flat-button (click)="backBtn()">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)"
    class="custom-tabs py-3">
    <mat-tab *ngFor="let view of userViewList">
      <ng-template mat-tab-label>
        {{ view.name }}
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="tab-content mt-3">
    <ng-container [ngSwitch]="selectedTab">
      <div *ngSwitchCase="'userDetails'" class="tab-pane fade show active">
        <app-customer-details [userDetails]="userDetails"></app-customer-details>
      </div>
      <div *ngSwitchCase="'wallet'" class="tab-pane fade show active">
        <app-customer-wallet [userObj]="userDetails"></app-customer-wallet>
      </div>
      <div *ngSwitchCase="'companyWallet'" class="tab-pane fade show active">
        <app-customer-company-wallet [userObj]="userDetails"></app-customer-company-wallet>
      </div>  
      <div *ngSwitchCase="'outletOrders'" class="tab-pane fade show active">
        <app-customer-outlet-orders [userDetails]="userDetails"></app-customer-outlet-orders>
      </div>
    </ng-container>
  </div>
</div>