<div class="row" *ngIf="showless">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">Meal Name</div>
                <div class="labelData">{{orderInput.itemList[0].itemName}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">POC Name</div>
                <div class="labelData">{{orderInput.pocName}}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">POC PhNo</div>
                <div class="labelData">{{orderInput.pocPhoneNo}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">POC Location</div>
                <div class="labelData">{{orderInput.pocLocation}}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-6">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-3">
                <div class="labelText">POC Role</div>
                <div class="labelData">{{orderInput.pocRole}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-3">
                <div class="labelText">Count</div>
                <div class="labelData">{{orderInput.itemList[0].count}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-3">
                <div class="labelText">Delivered Item</div>
                <div class="labelData">{{orderInput.itemList[0].deliveredItem}}</div>
            </div>
            <div class="col-6 col-md-5 col-lg-3">
                <div class="inline right view" (click)="viewOrder(orderInput)"><i class="bi bi-file-plus"></i></div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-6">
                <div class="labelText">Organization Name</div>
                <div class="labelData">{{orderInput.orgName}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-6">
                <div class="labelText">Delivery Date</div>
                <div class="labelData">{{orderInput.deliveryDate | date: 'MMM d, y'}}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-6">
        <div class="row">
            <div class="col-6 col-md-7 col-lg-3">
                <div class="labelText">Delivery Time From</div>
                <div class="labelData">{{orderInput.deliveryTimeFrom | date : 'shortTime'}}</div>
            </div>
            <div class="col-6 col-md-7 col-lg-3">
                <div class="labelText">Delivery Time To</div>
                <div class="labelData">{{orderInput.deliveryTimeTo | date : 'shortTime'}}</div>
            </div>
        </div>
    </div>

</div>

<div class="bgpadding1" *ngIf="!showless">
    <!-- <div class="right pointer less" (click)="showLess()">-</div> -->
    <i class="bi bi-file-minus right pointer less" (click)="showLess()"></i>
    <div class="right pointer me-1" (click)="toggleEditMode()">
        <i class="bi bi-pencil-square" *ngIf="!editMode"></i>
        <i class="bi bi bi-x" *ngIf="editMode"></i>
    </div>
    <div class="header3 bold">Order No. {{order.orderNo}} Information</div>
    <div class="header3 order-sub-header" (click)="showOrderDetails = ! showOrderDetails">Order Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showOrderDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showOrderDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showOrderDetails">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">OrderNo</div>
            <div class="labelData">{{order.orderNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order Status</div>
            <div class="labelData">
                {{order.orderstatus}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order Type</div>
            <div class="labelData">{{order.orderType}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Order Date</div>
            <div class="labelData">{{order.orderDate | date: 'MMM d, y'}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Delivery Date</div>
            <div class="labelData">{{order.deliveryDate | date: 'MMM d, y'}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="labelText">Delivery Slot</div>
            <div class="labelData">{{orderInput.deliveryTimeFrom | date : 'shortTime' }}-{{orderInput.deliveryTimeTo |
                date :
                'shortTime' }}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Special Request</div>
            <div class="labelData">{{order.specialRequest}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Delivery Cost</div>
            <div class="labelData">&#8377; {{order.deliveryCharge}}</div>
        </div>
        <!-- <div class="col-6 col-md-4 col-lg-3">
            <div *ngIf="!packagingPriceEdit">
                <div class="labelText">Packaging Cost</div>
                <div class="labelData">{{order.packagingCost}}</div>
                <button class="btn btn-primary btn-sm" (click)="packagingPriceEdit = !packagingPriceEdit" *ngIf="editMode">Edit</button>
            </div>
            
            <div *ngIf="packagingPriceEdit">
                <input type="number" [(ngModel)]="order.packagingCost">
                <div class="mt-1">
                    <button class="btn btn-primary btn-sm me-2" (click)="confirmEditPackagingPrice()">Confirm</button>
                    <button class="btn btn-danger btn-sm" (click)="cancelEditPackagingPrice()">Cancel</button>
                </div>
            </div>
        </div> -->
        <div class="col-6 col-md-4 col-lg-12">
            <span class="bold labeltext">Items:</span>
            <span class="labelData">
                <div *ngFor="let item of order.itemList; index as i">
                    {{item.itemName}} - QTY :
                    {{item.count}}
                    - Price: &#8377; {{order.amount}}
                </div>
            </span>
        </div>
    </div>

    <div class="header3 order-sub-header" (click)="showOrgDetails = !showOrgDetails">Organization Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showOrgDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showOrgDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showOrgDetails">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Org Name</div>
            <div class="labelData">{{order.orgName}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Org City</div>
            <div class="labelData">{{order.orgCity}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Org Location</div>
            <div class="labelData">{{order.orgLocation}}</div>
        </div>
    </div>

    <div class="header3 order-sub-header" (click)="showPOCDetails = !showPOCDetails">Customer Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showPOCDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showPOCDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showPOCDetails">
        <div class="col-6 col-md-4 col-lg-4">
            <div class="labelText">Poc Name</div>
            <div class="labelData">{{order.pocName}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="labelText">Poc Phone</div>
            <div class="labelData">{{order.pocPhoneNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="labelText">Poc Email</div>
            <div class="labelData">{{order.pocEmail}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="labelText">POC Location</div>
            <div class="labelData">Location: {{order.pocLocation}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="labelText">POC Role</div>
            <div class="labelData">Location: {{order.pocRole}}</div>
        </div>
        <!-- <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Approver Name</div>
            <div class="labelData">{{order.approver_name}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Approver Phone</div>
            <div class="labelData">{{order.approver_phoneNo}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="labelText">Approver Email</div>
            <div class="labelData">{{order.approver_email}}</div>
        </div> -->
        <!-- <div class="col-6 col-md-12 col-lg-12" *ngIf="order.customerLocation">
            <span class="labelText">Customer Geolocation : </span>latitude- {{order.customerLocation.geolocation.lat}},
            longitude- {{order.customerLocation.geolocation.lng}}
        </div> -->
    </div>
    <div class="header3 order-sub-header" (click)="showPaymentDetails = ! showPaymentDetails">Payment Details
        <span class="right">
            <i class="bi bi-chevron-down" *ngIf="!showPaymentDetails"></i>
            <i class="bi bi-chevron-up" *ngIf="showPaymentDetails"></i>
        </span>
    </div>
    <div class="row" *ngIf="showPaymentDetails">
        <div class="col-12 col-md-4 col-lg-6">
            <div class="bgTopDownpadding2 mt-1">
                <div class="bilingDiv">
                    <div class="receiptText">
                        <div size="12">Receipt:</div>
                    </div>
                    <div class="header5 receipt3 receipt-parent">
                        <div class="left-div">Order Amount</div>
                        <div class="right-div dark">&#8377;
                            <span>{{order.amount}}</span>
                        </div>
                    </div>
                    <div class="header5 receipt-parent">
                        <div class="left-div">Taxes</div>
                        <div class="right-div">&#8377; {{order.taxes}}</div>
                    </div>

                    <!-- <div class="header5 receipt-parent">
                        <div class="left-div">Discount</div>
                        <div class="right-div">(-)&#8377; {{order.discount}}</div>
                    </div>

                    <div class="header5 receipt-parent">
                        <div class="left-div">Voucher Discount</div>
                        <div class="right-div">(-)&#8377; {{order.voucherDiscount}}</div>
                    </div>

                    <div class="header5 receipt-parent">
                        <div class="left-div">Packaging Cost By User</div>
                        <div class="right-div">&#8377; {{order.packagingCostByUser}}</div>
                    </div> -->

                    <div class="header5 receipt-parent discount">
                        <div class="left-div">Total</div>
                        <div class="right-div bold">
                            &#8377;{{order.amount}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-sm" (click)="openshowEmployeeList()" >Employee List</button>
    <span class="bgTopDownpadding1" *ngIf="editMode">
        <span class="me-2">
            <button class="btn btn-primary btn-sm ms-2" (click)="createOrder()" *ngIf="showCreateBtn">Create Order</button>
        </span>
    </span>
</div>
<ng-template #showEmployeeList let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Employee List</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul *ngFor="let emp of order.excelReportlist">
            <li *ngIf="emp.employeeVote=='YES'">{{emp.employeeName}}</li>
        </ul>
    </div>
</ng-template>