<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Consumption Orders</h3>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mb-4 mt-2 p-3 bg-light rounded ">
            <div class="col-md-3">
                <label class="labelText">Organization</label>
                <select class="form-select" [(ngModel)]="filterObj.orgId" [disabled]="orgAdmin.role === 'ORGADMIN'"
                    (change)="setOrgDetails()">
                    <option selected disabled value="">Select Organization</option>
                    <option *ngFor="let option of orglist" [value]="option._id">
                        {{ option.organization_name }}
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="labelText">Cafeteria</label>
                <select class="form-select" [(ngModel)]="filterObj.cafeId" [disabled]="!orgDetails">
                    <option selected disabled value="">Select Cafeteria</option>
                    <option *ngFor="let option of cafeList" [value]="option.cafeteria_id">
                        {{ option.cafeteria_name }}
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="labelText">From Date</label>
                <input type="date" [(ngModel)]="filterObj.fromDate" class="form-control" />
            </div>

            <div class="col-md-3">
                <label class="labelText">To Date</label>
                <input type="date" [(ngModel)]="filterObj.toDate" class="form-control" />
            </div>

            <div class="col-md-3 pt-4">
                <button class="btn btn-primary w-100" (click)="filterOrders()">Search</button>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <div *ngFor="let order of filteredOrderList" class="mb-4">
            <div class="card shadow-sm border-0 mb-2">
                <div class="card-header bg-light d-flex justify-content-between align-items-center">
                    <div class="fw-bold">
                        {{ order.organization_name }} — {{ order.cafeteria_name }}
                    </div>

                    <button class="btn btn-success btn-sm" [disabled]="order.status === 'approved'"
                        (click)="showPopupForItemActivation()">
                        {{ order.status === 'approved' ? 'Approved' : 'Approve' }}
                    </button>
                </div>
            </div>
            <div *ngFor="let meal of order.mealTypeList" class="card mb-3 shadow-sm border-0">
                <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                    <div>
                        <div class="fw-semibold fs-6">{{ meal.itemName }}</div>
                        <div class="text-muted small">
                            Meal Types: {{ meal.selctedmealtype.join(', ') }}
                        </div>
                        <div class="text-muted small">
                            Order Date: {{ order.orderDate | date : 'MMM d, y' }}
                        </div>
                    </div>

                    <div class="text-center">
                        <div>Meal Price</div>
                        <div class="fw-bold">₹{{ meal.mealPrice | number }}</div>
                    </div>

                    <div class="text-center">
                        <div>Count</div>
                        <div class="fw-bold">{{ meal.count }}</div>
                    </div>

                    <div class="text-center">
                        <div>Total Amount</div>
                        <div class="fw-bold text-primary">
                            ₹{{ meal.totalPrice | number }}
                        </div>
                    </div>

                    <div class="text-end">
                        <div>
                            Status:
                            <span class="badge" [ngClass]="{
                'bg-success': order.status === 'approved',
                'bg-warning text-dark': order.status === 'review'
              }">
                                {{ order.status }}
                            </span>
                        </div>
                        <div class="small text-muted">Created By: {{ order.userDetails.userName }}</div>
                        <div class="small text-muted">Phone: {{ order.userDetails.phoneNo }}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div *ngIf="filteredOrderList.length === 0" class="text-center">
        No Records Found
    </div>