<div class="bgpadding3">
    <div class="header2 center">DeskDyne Enquiries</div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm me-2 mb-2" (click)="updateAllEnquiries()">Acknowledge All</button>
    </div>
    <div *ngIf="enquirylist && enquirylist.length > 0">
        <div *ngFor="let lead of enquirylist" class="cardDesign">
            <div class="row mt-2">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Name</div>
                            <div class="labelData">{{lead.name}}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">City</div>
                            <div class="labelData">{{lead.city}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Phone</div>
                            <div class="labelData">{{lead.phoneNo}}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-6">
                            <div class="labelText">Email</div>
                            <div class="labelData">{{lead.emailId}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-6">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-4">
                            <div class="labelText">Designation</div>
                            <div class="labelData">{{lead.designation}}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-4">
                            <div class="labelText">Org Name</div>
                            <div class="labelData">{{lead.organizationName}}</div>
                        </div>
                        <div class="col-6 col-md-5 col-lg-4">
                            <div class="labelText">Status</div>
                            <div class="labelData">{{lead.status}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center mt-5" *ngIf="enquirylist && enquirylist.length === 0">
        No Records Found
    </div>
</div>