// .topDiv {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

.excelBtn {
    float: right;
}

.totalDiv {
    background: #002F68;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .verticalHr {
        width: 1px;
        height: auto;
        background: #fff;
        margin: 0 12px;
        align-self: stretch;
    }
}