<div class="bgpadding2">
    <div class="mb-2">
        <i class="bi bi-bootstrap-reboot pointer right" (click)="reloadPage()"></i>
    </div>
    <div>Cluster List</div>
    <div class="bgpadding1 orderType-checkboxes">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="allcluster" [(ngModel)]="allcluster" (change)="setAllCluster()">
            <label class="form-check-label" for="allcluster">All</label>
        </div>
        <div *ngFor="let cluster of clusterList" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="cluster.clusterName" [(ngModel)]="cluster.selected" (change)="setCluster(cluster)">
            <label class="form-check-label" [for]="cluster.clusterName">{{cluster.clusterName}}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="allclusterIgnore" [(ngModel)]="allclusterIgnore" (change)="setAllClusterIgnore()">
            <label class="form-check-label" for="allclusterIgnore" *ngIf="access?.ignoreAll">All Ignore</label>
        </div>
    </div>
    <div class="main-div" *ngIf="orderStatusCountObj">
        <div class="btn-group cl6" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle tileLabel" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" [ngClass]="{groupSelected: selectedGroup == 'payment'}">
                <span class="tileLabel">Payment</span>
                <span class="groupedTile three">{{orderStatusCountObj.paymentInprogress}}</span>
                <span class="groupedTile four">{{orderStatusCountObj.paymentFailed}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('payment')">
                <span class="dropdown-item" (click)="getLatestOrderStatusList('paymentInprogress')">Payment In Progress<span class="badge badge-dark"> {{orderStatusCountObj.paymentInprogress}}</span></span>
                <span class="dropdown-item" (click)="getLatestOrderStatusList('paymentFailed')">Payment Failed<span class="badge badge-dark"> {{orderStatusCountObj.paymentFailed}}</span></span>
            </div>
        </div>
        <div class="btn-group cl6" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle tileLabel" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" [ngClass]="{groupSelected: selectedGroup == 'bulk_payment'}">
                <span class="tileLabel">Bulk Payment</span>
                <span class="groupedTile three">{{orderStatusCountObj.bulkOrder.paymentInprogress}}</span>
                <span class="groupedTile four">{{orderStatusCountObj.bulkOrder.paymentFailed}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"  (click)="setBtnGroup('bulk_payment')">
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_paymentInProgress')">Payment In Progress<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.paymentInprogress}}</span></span>
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_paymentFailed')">Payment Failed<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.paymentFailed}}</span></span>
            </div>
        </div>
        <div class="btn-group cl6" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle tileLabel" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" [ngClass]="{groupSelected: selectedGroup == 'bulk_new'}">
                <span class="tileLabel">Bulk New</span>                
                <span class="groupedTile one">{{orderStatusCountObj.bulkOrder.placed}}</span>
                <span class="groupedTile two">{{orderStatusCountObj.bulkOrder.accepted}}</span>
                <span class="groupedTile three">{{orderStatusCountObj.bulkOrder.inprogress}}</span>
                <span class="groupedTile four">{{orderStatusCountObj.bulkOrder.preparing}}</span>
                <span class="groupedTile five">{{orderStatusCountObj.bulkOrder.cancelled}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"  (click)="setBtnGroup('bulk_new')">
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_placed')">Placed<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.placed}}</span></span>
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_accepted')">Accepted<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.accepted}}</span></span>
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_inprogress')">Inprogress<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.inprogress}}</span></span>
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_preparing')">Preparing<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.preparing}}</span></span>
                <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_cancelled')">Cancelled<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.cancelled}}</span></span>
            </div>
        </div>
        <div class="cl6" [ngClass]="{tileSelected: selectedStatus === 'placed'}"
            (click)="getLatestOrderStatusList('placed')">
            <span class="tileLabel header4 countTile">New<span
                    class="tileBadge">{{orderStatusCountObj.newOrder}}</span></span>
        </div>
        <div class="cl6" [ngClass]="{tileSelected: selectedStatus === 'accepted'}"
            (click)="getLatestOrderStatusList('accepted')">
            <span class="tileLabel header4 countTile">Accepted<span
                    class="tileBadge">{{orderStatusCountObj.acceptedOrder}}</span></span>
        </div>
        <div class="cl6" [ngClass]="{tileSelected: selectedStatus === 'preparing'}"
            (click)="getLatestOrderStatusList('preparing')">
            <span class="tileLabel header4 countTile">Preparing<span
                    class="tileBadge">{{orderStatusCountObj.preparingOrder}}</span></span>
        </div>
        <div class="cl6" [ngClass]="{tileSelected: selectedStatus === 'readyToDelivery'}"
            (click)="getLatestOrderStatusList('readyToDelivery')">
            <span class="tileLabel header4 countTile">Ready To Delivery<span
                    class="tileBadge">{{orderStatusCountObj.readyToDeliveryOrder}}</span></span>
        </div>
        <div class="btn-group cl6" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" [ngClass]="{groupSelected: selectedGroup == 'delivery'}">
                <span class="tileLabel">Delivery Status</span>
                <span class="groupedTile two">{{orderStatusCountObj.deliveryBoyAssigned}}</span>
                <span class="groupedTile three">{{orderStatusCountObj.handedOverToDeliveryBoy}}</span>
                <span class="groupedTile four">{{orderStatusCountObj.onTheWay}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('delivery')">
                <span class="dropdown-item" (click)="getLatestOrderStatusList('deliveryBoyAssigned')">Delivery Boy Assigned<span class="badge badge-dark"> {{orderStatusCountObj.deliveryBoyAssigned}}</span></span>
                <span class="dropdown-item" (click)="getLatestOrderStatusList('handedOverToDeliveryBoy')">Handed to Delivery Boy<span class="badge badge-dark"> {{orderStatusCountObj.handedOverToDeliveryBoy}}</span></span>
                <span class="dropdown-item" (click)="getLatestOrderStatusList('onTheWay')">On The Way<span class="badge badge-dark"> {{orderStatusCountObj.onTheWay}}</span></span>
            </div>
        </div>
        
        <div class="cl6" [ngClass]="{tileSelected: selectedStatus === 'delivered'}"
            (click)="getLatestOrderStatusList('delivered')">
            <span class="tileLabel header4 countTile">Delivered<span
                    class="tileBadge">{{orderStatusCountObj.deliveredOrder}}</span></span>
        </div>
        <div class="btn-group cl6" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" [ngClass]="{groupSelected: selectedGroup == 'cancelled'}">
                <span class="tileLabel">Cancelled</span>
                <span class="groupedTile one">{{orderStatusCountObj.autoCancelled}}</span>
                <span class="groupedTile two">{{orderStatusCountObj.cancelledByKitchen}}</span>
                <span class="groupedTile three">{{orderStatusCountObj.cancelledByUser}}</span>
                <span class="groupedTile four">{{orderStatusCountObj.rejectedByKitchen}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('cancelled')">
                <span class="dropdown-item" (click)="getLatestOrderStatusList('autoCancelled')">Auto Cancelled<span class="badge badge-dark"> {{orderStatusCountObj.autoCancelled}}</span></span>
                <span class="dropdown-item" (click)="getLatestOrderStatusList('cancelledByKitchen')">Cancelled By Kitchen<span class="badge badge-dark"> {{orderStatusCountObj.cancelledByKitchen}}</span></span>
                <span class="dropdown-item" (click)="getLatestOrderStatusList('cancelledByUser')">Cancelled By User<span class="badge badge-dark"> {{orderStatusCountObj.cancelledByUser}}</span></span>
                <span class="dropdown-item" (click)="getLatestOrderStatusList('rejectedByKitchen')">Rejected by Kitchen<span class="badge badge-dark"> {{orderStatusCountObj.rejectedByKitchen}}</span></span>
            </div>
        </div>
        <div class="btn-group cl6" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary tileBtn dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" [ngClass]="{groupSelected: selectedGroup == 'bulk_delivery'}">
            <span class="tileLabel">Bulk Delivery Status</span>
            <span class="groupedTile one">{{orderStatusCountObj.bulkOrder.readyForDelivery}}</span>
            <span class="groupedTile two">{{orderStatusCountObj.bulkOrder.deliveryBoyAssigned}}</span>
            <span class="groupedTile three">{{orderStatusCountObj.bulkOrder.handedOverToDeliveryBoy}}</span>
            <span class="groupedTile four">{{orderStatusCountObj.bulkOrder.onTheWay}}</span>
            <span class="groupedTile five">{{orderStatusCountObj.bulkOrder.delivered}}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="setBtnGroup('bulk_delivery')">
            <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_readyForDelivery')">Ready For Delivery<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.readyForDelivery}}</span></span>
            <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_deliveryBoyAssigned')">Delivery Boy Assigned<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.deliveryBoyAssigned}}</span></span>
            <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_handedOverToDeliveryBoy')">Handed to Delivery Boy<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.handedOverToDeliveryBoy}}</span></span>
            <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_onTheWay')">On The Way<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.onTheWay}}</span></span>
            <span class="dropdown-item" (click)="getLatestBulkOrderStatusList('bulk_delivered')">Delivered<span class="badge badge-dark"> {{orderStatusCountObj.bulkOrder.delivered}}</span></span>
        </div>
        </div>
        
    <div class="orderType-checkboxes">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="subscription" [(ngModel)]="subscriptionChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="subscription">Subscription</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="advance" [(ngModel)]="advanceChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="advance">Advance</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="daily" [(ngModel)]="dailyChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="daily">Daily</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="allDay" [(ngModel)]="allDaychecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="allDay">All Day</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="oyo" [(ngModel)]="oyochecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="oyo">Oyo</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="subscriptionPackage" [(ngModel)]="subscriptionPackageChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="subscriptionPackage">Subscription Package</label>
        </div>
    </div>

    <div *ngIf="subscriptionChecked || subscriptionPackageChecked || advanceChecked || dailyChecked || allDaychecked" class="orderType-checkboxes">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="dinner" [(ngModel)]="dinnerChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="dinner">Dinner</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="lunch" [(ngModel)]="lunchChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="lunch">Lunch</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="breakfast" [(ngModel)]="breakfastChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="breakfast">Breakfast</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="highTea" [(ngModel)]="highTeaChecked" (change)="orderTypeFilterList()">
            <label class="form-check-label" for="highTea">High Tea</label>
        </div>
    </div>
    

        <div class="bgpadding2">
            <div *ngIf="filteredList.length > 0">
                <div class="navigationBtns">
                    <button class="btn btn-dark btn-sm me-4" (click)="previous(page)"
                        [disabled]="page === 1">Previous</button>
                    <span class="labelText">Showing {{pageFirstEntry}} to {{pageLastEntry}}</span>
                    <button class="btn btn-dark btn-sm ms-4" (click)="next(page)"
                        [disabled]="paginationOver && page === lastPage">Next</button>
                </div>
                <div *ngIf="filteredList.length > 0" class="mt-3">
                    <ul *ngFor="let order of filteredList" class="list-group">
                        <li class="list-group-item">
                            <app-bulk-order-card [orderInput]="order"
                                *ngIf="(order.orderType === 'bulkMeals' || order.orderType === 'individualMeals' || order.orderType === 'bulkSnacks' || order.orderType === 'individualSnacks' || order.orderType === 'predefinedSnackbox' || order.orderType === 'customSnackbox') && bulkSelectedStatus"></app-bulk-order-card>
                            <app-order-card [orderInput]="order" [parentPage]="'currentOrder'"
                                *ngIf="order.orderType !== 'bulkMeals' && order.orderType !== 'individualMeals' && order.orderType !== 'bulkSnacks' && order.orderType !== 'individualSnacks' && order.orderType !== 'predefinedSnackbox' && order.orderType !== 'customSnackbox' && order.orderType !== 'subscriptionParent' && order.orderType !== 'subscriptionPackage'"></app-order-card>
                            <app-order-subscription-package-card [orderInput]="order" [parentPage]="'currentOrder'"
                                *ngIf="order.orderType === 'subscriptionPackage'"></app-order-subscription-package-card>
                            <app-b2b-order-card [orderInput]="order"
                                *ngIf="(order.orderType === 'bulkMeals' || order.orderType === 'individualMeals' || order.orderType === 'bulkSnacks' || order.orderType === 'individualSnacks' || order.orderType === 'predefinedSnackbox' || order.orderType === 'customSnackbox') && b2bSelectedStatus"></app-b2b-order-card>
                        </li>
                    </ul>
                </div>
            </div>

        <div class="center" *ngIf="filteredList.length === 0">
            No Records Found for this filter
        </div>
    </div>
</div>

<ng-template #noConnectionContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Connection Lost</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Web Socket connection has been lost, click on Retry to connect again</p>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary" (click)="modal.close('retry')">Retry</button>
        </div>
    </div>
</ng-template>