@import "/src/styles.scss";

// .countTile {
//     cursor: pointer;
//     background-color: $primary-offset-color4;
//     // margin:10px 0;
//     padding: 8px 8px;
//     border-radius: 25px;

//     .tileLabel {
//         font-weight: 500;
//         text-align: center;
//     }

    // .tileBadge {
    //     position: relative;
    //     bottom: 10px;
    //     left: 5px;
    //     font-size: 12px;
    //     background-color: black;
    //     border-radius: 100%;
    //     color: white;
    //     padding: 2px 4px;
    // }
// }

.groupedTile {
    position: absolute;
    bottom: 25px;
    font-size: 13px;
    background-color: black;
    border-radius: 100%;
    color: white;
    padding: 0px 3px;

    &.one {
        left: 20%;
    }

    &.two {
        left: 40%;
    }

    &.three {
        left: 60%
    }

    &.four {
        left: 80%
    }
    &.five {
        left: 100%
    }
    &.six {
        left: 120%
    }
    &.seven {
        left: 140%
    }
}

.dropdown-item {
    font-size: 13px;
    cursor: pointer;
}

.tileBtn:active{
    color:black !important;
}

.tileBtn:hover {
    color: black !important;
}

.countTile:hover {
    background-color: $primary-offset-color3;
}

.navigationBtns {
    text-align: center
}

.col-margin {
    margin: 10px 0;
}

.badge-dark {
    background-color:black !important;
    padding: 5px;
    margin-left: 5px;
}

.main-div {
    .cl6 {
        margin:10px 15px 15px 15px;
        display:inline-block;
        // padding-bottom:15px;
    }
}

.list-group-item{
    // background-color:#f1eeee;
    margin-bottom:12px;
    border-color:#a3a3a3;
}
.orderType-checkboxes {
  .form-check {
    text-align: center;
    margin-right: 0px;
    .form-check-input {
        display:none;
    }
    .form-check-label {
      font-size: 12px;
      font-weight: 500;
      background-color: #efefef;
      cursor: pointer;
      height: 32px;
      padding: 5px 12px;
      border-radius: 20px;     
    }
    .form-check-input:checked + .form-check-label {
      background-color: #504f4f !important;
      color: white !important;
    }
  }
}




@media only screen and (max-width:600px) {
    .countTile {
        margin: 5px 0;
    }

    .main-div {
        .cl6 {
            margin:10px 5px 15px 5px;
            display:inline-block;
            // padding-bottom:15px;
        }
    }
}