.table-header-row {
  background-color: #d6ecff;
  font-weight: 600;
  color: #003366;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

.mat-card-config{
  min-height:60px; 
  font-size:14px; 
  color:#333;
}
.mat-card-data{
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); 
  align-items:center
}
.mat-chip-config{
    background-color: #e0f2ff !important;
    color: #003366;

}