<div class="container-fluid" style="padding-bottom: 70px;">
  <div class="d-flex gap-3">
    <button mat-flat-button (click)="goBack()" class="back-btn">
      <mat-icon>arrow_back</mat-icon>
      <span class="d-none d-md-inline">Back</span>
    </button>
    <div class="heading">Add New Organization
    </div>
  </div>
  <div [formGroup]="form" class="container-fluid mt-3">
    <div class="row">
      <div class="main-s">
        <div class="main">
          <div class="row">
            <div class="d-flex flex-wrap flex-column flex-sm-row">
              <div class="col-12 col-md-3">
                <div class="d-flex flex-column align-items-center p-3">
                  <div class="w-100 d-flex justify-content-center mb-3">
                    <img [src]="imageUrl || 'assets/images/dummyUpload.png'" (click)="fileInput.click()"
                      style="width: 8rem; height: 8rem; object-fit: cover; cursor: pointer;" />
                  </div>
                  <input #fileInput type="file" accept="image/*" (change)="handleFileInput($event)" hidden />
                  <button mat-raised-button color="primary" (click)="fileInput.click()" class="w-100">
                    Upload <mat-icon>upload</mat-icon>
                  </button>
                </div>
              </div>
              <mat-checkbox color="primary" formControlName="isEmpIdRequired" color="primary">Is Emp Id Required
              </mat-checkbox>
            </div>
          </div>
          <div>
            <div class="row mt-3">
              <div class="col">
                <div class="form-group">
                  <label class="field-label">Org Name<span class="required-input"> * </span></label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Org Name" formControlName="organization_name" appOnlyAlpha />
                    <mat-error *ngIf="hasError(form, 'organization_name', 'required')">
                      organization_name is required
                    </mat-error>
                     <mat-error *ngIf="hasError(form, 'organization_name', 'minlength')">
                      organization_name is minlength
                    </mat-error>
                     <mat-error *ngIf="hasError(form, 'organization_name', 'maxlength')">
                      organization_name is maxlength
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="field-label">Location<span class="required-input"> * </span></label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Location" formControlName="location" appAlphaNumeric />
                    <mat-error *ngIf="hasError(form, 'location', 'required')">
                      location is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="field-label">City<span class="required-input"> * </span></label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="City" formControlName="city" />
                    <mat-error *ngIf="hasError(form, 'city', 'required')">
                      city is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
          <div class="mt-2" formGroupName="org_address">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="field-label">Address Line 1<span class="required-input"> * </span></label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Line 1" formControlName="addressLine1" />
                    <mat-error *ngIf="form.get('org_address.addressLine1')?.hasError('required')">
                      Address Line 1 is required
                    </mat-error>
                    <mat-error *ngIf="form.get('org_address.addressLine1')?.hasError('minlength')">
                      Minimum 5 characters required
                    </mat-error>
                    <mat-error *ngIf="form.get('org_address.addressLine1')?.hasError('maxlength')">
                      Maximum 120 characters allowed
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="field-label">Address Line 2</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Line 2" formControlName="addressLine2" appAlphaNumeric />
                    <mat-error *ngIf="form.get('org_address.addressLine2')?.hasError('minlength')">
                      Minimum 5 characters required
                    </mat-error>
                    <mat-error *ngIf="form.get('org_address.addressLine2')?.hasError('maxlength')">
                      Maximum 120 characters allowed
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="field-label">Address Line 3</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Line 3" formControlName="addressLine3" appAlphaNumeric />
                    <mat-error *ngIf="form.get('org_address.addressLine3')?.hasError('minlength')">
                      Minimum 5 characters required
                    </mat-error>
                    <mat-error *ngIf="form.get('org_address.addressLine3')?.hasError('maxlength')">
                      Maximum 120 characters allowed
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div [formGroup]="form">
            <div class="row">
              <div class="col" *ngIf="showUpdate">
                <div class="form-group">
                  <label class="field-label">Subsidy Amount(In Percent %)<span class="required-input"> * </span></label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Subsidy Amount" formControlName="subsidy" appOnlyNumber />
                    <mat-error *ngIf="hasError(form, 'subsidy', 'required')">
                      subsidy is required
                    </mat-error>
                  </mat-form-field>
                  <button mat-raised-button color="primary" style="width:fit-content"
                    (click)="updateOrglevelSubsidy()">Update
                    Subsidy</button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="field-label">Domain</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="e.g., example.com, test.org, mydomain.net" formControlName="domain" />
                    <mat-error *ngIf="hasError(form, 'domain', 'required')">
                      domain is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="field-label">GSTIN<span class="required-input"> * </span></label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="GSTIN" formControlName="gstin" />
                    <mat-error *ngIf="hasError(form, 'gstin', 'required')">
                      gstin is required
                    </mat-error>
                    <mat-error *ngIf="hasError(form,'gstin','pattern')">
                      GSTIN pattern not matching
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div formArrayName="poc_details">
        <div class="cardDesign">
          <div class="d-flex justify-content-between align-items-center">
            <div>Poc List</div>
            <div class="d-flex justify-content-end"> <button mat-raised-button (click)="add_poc_details()"
                color="primary"><mat-icon> assignment </mat-icon>Add
                POC</button></div>
          </div>
          <ng-container *ngFor="let control of poc.controls; let i = index">
            <div [formGroupName]="i" style="margin: 10px 0px;" class="d-flex gap-5 align-items-center">
              <mat-accordion class="fill-available-width">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex justify-content-between align-items-center">
                      <div class="title">
                        {{control.get('poc_name')?.value?.trim()|| control.get('poc_id')?.value?.trim()||
                        '--- New POC --- ' }}
                      </div>

                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="d-flex flex-wrap gap-3 g-0">
                    <div class="">
                      <div class="form-group">
                        <label class="field-label">POC Id<span class="required-input"> * </span></label>
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="POC Id" formControlName="poc_id" appOnlyNumber/>
                          <mat-error
                            *ngIf="control.get('poc_id')?.hasError('required')  && (control.get('poc_id')?.touched || control.get('poc_id')?.dirty)">
                            POC Id is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <label class="field-label">POC Name<span class="required-input"> * </span></label>
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="POC Name" formControlName="poc_name" />
                          <mat-error *ngIf="control.get('poc_name')?.hasError('required')">
                            POC Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <label class="field-label">POC Ph No<span class="required-input"> * </span></label>
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="POC Phone No" formControlName="poc_phoneNo" appOnlyNumber/>
                          <mat-error *ngIf="control.get('poc_phoneNo')?.hasError('required')">
                            POC Phone Number is required
                          </mat-error>
                          <mat-error *ngIf="control.get('poc_phoneNo')?.hasError('pattern')">
                            Enter valid 10-digit number
                          </mat-error>


                        </mat-form-field>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <label class="field-label">POC Email<span class="required-input"> * </span></label>
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="POC Email" formControlName="poc_email" />
                          <mat-error *ngIf="control.get('poc_email')?.hasError('required')">
                            Email is required
                          </mat-error>
                          <mat-error *ngIf="control.get('poc_email')?.hasError('email')">
                            Invalid email format
                          </mat-error>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <label class="field-label">POC Location<span class="required-input"> * </span></label>
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="POC Location" formControlName="poc_location" />
                          <mat-error *ngIf="control.get('poc_location')?.hasError('required')">
                            Location is required
                          </mat-error>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <label class="field-label">POC Role<span class="required-input"> * </span></label>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-select formControlName="poc_role" placeholder="POC role">
                            <mat-option [value]="item" *ngFor="let item of roleList">
                              {{ item }}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="control.get('poc_role')?.hasError('required')">
                            Role is required
                          </mat-error>

                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="approverDetails">
                    <div class="d-flex flew-wrap gap-3">
                      <div class="">
                        <div class="form-group">
                          <label class="field-label">Approver Id</label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Approver Id" formControlName="approver_id" />
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="">
                        <div class="form-group">
                          <label class="field-label">Approver Name</label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Approver Name" formControlName="approver_name" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="">
                        <div class="form-group">
                          <label class="field-label">Approver Ph No</label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Approver Phone No" formControlName="approver_phoneNo" appOnlyNumber />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="">
                        <div class="form-group">
                          <label class="field-label">Approver Email</label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Approver Email" formControlName="approver_email" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="">
                        <div class="form-group">
                          <label class="field-label">Approver Location</label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Approver Location" formControlName="approver_location" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="">
                        <div class="form-group">
                          <label class="field-label">Approver Role</label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="approver_role">
                              <mat-option [value]="item" *ngFor="let item of roleList">
                                {{ item }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="d-flex g-0">
                        <div class="d-flex align-items-center">
                          <mat-icon color="primary" (click)="addApprover(i); poc_selected(i)">add</mat-icon>
                          <mat-icon color="warn" (click)="removeApprover(i)">delete</mat-icon>

                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="remove-icon">
                <mat-icon color="warn" (click)="removePOC(i)">delete</mat-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <ng-template #pocContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Alert</h4>

          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This POC cannot be deleted as it already exists in the cafeteria list
        </div>
        <div class="modal-footer">
          <div class="inline ">
            <button type="button" class="btn btn-primary" (click)="modal.close('Cancel')">
              Close
            </button>
          </div>
        </div>
      </ng-template>

      <div class="cafeteria-container" formArrayName="cafeteriaList">
        <div class="cardDesign">
          <div class="cafeteria-header">
            <div>Cafeteria List</div>
            <button mat-raised-button color="primary" (click)="add_cafeteria()">
              <mat-icon>storefront</mat-icon> Add Cafeteria
            </button>
          </div>
          <ng-container *ngFor="let control of cafeteria.controls; let i = index">
            <div [formGroupName]="i" style="margin: 10px 0px;" class="d-flex gap-5 align-items-center">
              <mat-accordion class="fill-available-width">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ control.get('cafeteria_name')?.value?.trim() ||
                      control.get('poc_id')?.value?.trim() ||
                      '--- New Cafeteria ---' }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="checkbox-grid">
                    <mat-checkbox color="primary" formControlName="showAdminDaily">Show Admin Daily Card</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showEmpPolls">Show Emp Poll Card</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showVirtualCafe">Show Virtual Cafeteria</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showSaas">Show Outlet</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showQrCode">Show QR Code</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showCompanyWallet">Show Company Wallet</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showComplienceTracker">Show Compliance Tracker</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="showConsumptionOrder">Show Consumption Order</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="isEmployeeEmailLogin">Is Employee Email Login</mat-checkbox>
                  </div>
                  <div class="grid-4">
                    <div class="field">
                      <label>Cafeteria Name <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="cafeteria_name" placeholder="Cafeteria Name" appAlphaNumeric/>
                        <mat-error *ngIf="control.get('cafeteria_name')?.hasError('required')">
                             Cafeteria name is required
                        </mat-error>
                          <mat-error *ngIf="control.get('cafeteria_name')?.hasError('minlength')">
                             Cafeteria name is minlength must be 
                        </mat-error>
                          <mat-error *ngIf="control.get('cafeteria_name')?.hasError('maxlength')">
                             Cafeteria name is maxlength
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>Cafeteria City <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="cafeteria_city" placeholder="Cafeteria City" appAlphaNumeric/>
                        <mat-error *ngIf="control.get('cafeteria_city')?.hasError('required')">
                          Cafeteria City is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>Location <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="location" placeholder="Location" appAlphaNumeric/>
                        <mat-error *ngIf="control.get('location')?.hasError('required')">
                          Location is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>Landmark <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="landmark" placeholder="Landmark" appAlphaNumeric />
                        <mat-error *ngIf="control.get('landmark')?.hasError('required')">
                          Landmark is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>Cafeteria ID <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="cafeteria_id" readonly />
                        <mat-error *ngIf="control.get('cafeteria_id')?.hasError('required')">
                          Cafeteria ID is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="grid-4">
                    <div class="field">
                      <label>Access Code</label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="accessCode" placeholder="Access Code" appOnlyNumber />
                        <mat-error *ngIf="control.get('accessCode')?.hasError('minlength')">
                          access code length 1 minlength
                        </mat-error>
                        <mat-error *ngIf="control.get('accessCode')?.hasError('maxlength')">
                          access code length 4 maxlength
                        </mat-error>
                        <mat-error *ngIf="control.get('accessCode')?.hasError('pattern')">
                          Max 4 digits allowed
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>Address Line 1 <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="address1" placeholder="Line 1" appAlphaNumeric />
                        <mat-error *ngIf="control.get('address1')?.hasError('required')">
                          Address Line 1 is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field">
                      <label>Address Line 2 <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="address2" placeholder="Line 2" appAlphaNumeric />
                        <mat-error *ngIf="hasError(form,'address2','required')">
                          Address Line 2 is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field">
                      <label>Cafeteria GSTIN </label>
                      <div class="subsidy-row">
                        <mat-form-field appearance="outline" class="full">
                          <input matInput formControlName="cafeteria_gstin" placeholder="GSTIN" />
                          <mat-error *ngIf="hasError(form,'cafeteria_gstin','required')">
                            GSTIN is required
                          </mat-error>
                          <mat-error *ngIf="hasError(form,'cafeteria_gstin','pattern')">
                              GSTIN pattern not matching
                          </mat-error>
                        </mat-form-field>
                        <mat-checkbox color="primary" (change)="getOrgGstin($event,i)">
                          Same as Org GSTIN
                        </mat-checkbox>
                      </div>

                    </div>
                    <div class="field">
                      <label>Subsidy Amount</label>
                      <div class="subsidy-row">
                        <mat-form-field appearance="outline" class="full">
                          <input matInput formControlName="subsidy" appOnlyNumber placeholder="Subsidy Amount"
                            appAlphaNumeric />
                          <mat-error *ngIf="hasError(form,'subsidy','required')">
                            Subsidy required
                          </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="update-btn"
                          (click)="updateCafelevelSubsidy(i)">
                          Update
                        </button>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="poc_details" class="grid-4 mt-4">
                    <div class="field">
                      <label>POC ID <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="poc_id" readonly  placeholder="poc id" />
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>POC Role <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="poc_role" readonly placeholder="poc role" />
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>POC Name <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="poc_name" readonly placeholder="poc name" />
                      </mat-form-field>
                    </div>

                    <div class="field">
                      <label>POC Phone No <span class="required-input">*</span></label>
                      <mat-form-field appearance="outline" class="full">
                        <input matInput formControlName="poc_phoneNo" readonly placeholder="poc phone no" />
                      </mat-form-field>
                    </div>

                    <button mat-raised-button color="primary"
                      *ngIf="!form.controls.cafeteriaList.at(i).controls.poc_details.controls.poc_id.value"
                      (click)="addApprover(i);cafe_selected(i)">Add POC</button>
                    <button mat-raised-button color="primary"
                      *ngIf="form.controls.cafeteriaList.at(i).controls.poc_details.controls.poc_id.value"
                      (click)="addApprover(i); cafe_selected(i)">Change POC</button>

                  </div>

                  <div formGroupName="cafeteria_location">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-2">
                        <div class="form-group">
                          <label class="field-label">lat<span class="required-input"> * </span></label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="lat" formControlName="lat" readonly />
                            <mat-error *ngIf="hasError(form, 'poc_id', 'required')">
                              lat is required
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-2">
                        <div class="form-group">
                          <label class="field-label">lng<span class="required-input"> * </span></label>
                          <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="lng" formControlName="lng" readonly />
                            <mat-error *ngIf="hasError(form, 'lng', 'required')">
                              lng is required
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-2 bgpadding2">
                        <button mat-raised-button color="primary" (click)="toggleMap(i)">GeoLocation</button>
                      </div>
                    </div>
                    <mat-error *ngIf="form.get('cafeteriaList')?.hasError('minLengthArray')">
                      At least one cafeteria entry is required.
                    </mat-error>
                  </div>
                  <mat-error *ngIf="form.get('poc_details')?.hasError('minLengthArray')">
                    At least one POC is required.
                  </mat-error>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row mt-1 bottomFixedBar">
        <div class="d-flex gap-2 flex-wrap ">
          <button mat-stroked-button class="responsive-btn" color="primary" (click)="back()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
          <button mat-raised-button color="primary" class="responsive-btn" (click)="updateOrg()"
            *ngIf="(showUpdate && true) || btnPolicy?.editOrganization" [disabled]="form.invalid">
            <mat-icon>system_update_alt</mat-icon>
            Update
          </button>
          <button mat-raised-button color="primary" class="responsive-btn" (click)="addOrg()" [disabled]="form.invalid"
            *ngIf="(!showUpdate && true) || btnPolicy?.addOrganization">
            <mat-icon>add</mat-icon>
            Add Organization
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #geolocation let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Geolocation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-set-geolocation class="padding-bottom" (sendLocation)="updateLocation($event)"></app-set-geolocation>
    </div>
    <div class="modal-footer">
      <div class="inline ">
        <button type="button" class="btn btn-primary" (click)="modal.close('add')">
          Add
        </button>
        <button mat-raised-button color="primary" (click)="modal.close('add')">Add </button>
      </div>
    </div>
  </ng-template>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Approver</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-group labelText mt-1">
        <ng-container>
          <li class="list-group-item" *ngFor="let admin of form.controls['poc_details'].getRawValue()">
            <div class="row" *ngIf="admin.poc_phoneNo !== pocSelected.poc_phoneNo">
              <div class="col-6 col-md-6 col-lg-1 radioCol">
                <div class="radio" [ngClass]="{ red: adminSelected.poc_id === admin.poc_id }" (click)="pushAdmin(admin)"
                  name="admin"></div>
              </div>
              <div class="col-6 col-md-6 col-lg-2">
                {{ admin.poc_id }}
              </div>
              <div class="col-6 col-md-6 col-lg-2">
                {{ admin.poc_name }}
              </div>
              <div class="col-6 col-md-6 col-lg-3">
                {{ admin.poc_email }}
              </div>
              <div class="col-6 col-md-6 col-lg-1">
                {{ admin.poc_location }}
              </div>
              <div class="col-6 col-md-6 col-lg-3">
                {{ admin.poc_phoneNo }}
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="modal-footer">
      <div class="inline ">
        <button mat-raised-button color="primary" class="btn btn-primary" (click)="modal.close('add')"
          *ngIf="pocSelected">
          Add
        </button>
        <button mat-raised-button color="primary" class="btn btn-primary" (click)="modal.close('addCafe')"
          *ngIf="cafeSelected">
          Add
        </button>
      </div>
    </div>
  </ng-template>