<div class="container" *ngIf="!showAddPage">
  <div class="row">
    <div class="col-md-6">
      <h3>Incident Management</h3>
    </div>
    <div class="col-md-6 text-md-end" *ngIf="orgAdmin.role === 'ORGADMIN'">
      <button *ngIf="true || btnPolicy?.addIncident" class="btn btn-primary" type="button" (click)="addIncident()">
        Add Incident
      </button>
    </div>
  </div>

  <div class="container">
    <div class="row mb-4 mt-2 p-3 bg-light rounded">
      <div class="col-md-3">
        <label class="labelText">Organization</label>
        <select class="form-select" [(ngModel)]="filterObj.orgId" [disabled]="orgAdmin.role === 'ORGADMIN'"
          (change)="setOrgDetails()">
          <option selected disabled value="">Select Organization</option>
          <option *ngFor="let option of orglist" [value]="option._id">
            {{ option.organization_name }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label class="labelText">Cafeteria</label>
        <select class="form-select" [(ngModel)]="filterObj.cafeteria_id" (change)="getIncidentListByFilter()"
          [disabled]="!orgDetails">
          <option selected disabled value="">Select Cafeteria</option>
          <option *ngFor="let option of cafeList" [value]="option.cafeteria_id">
            {{ option.cafeteria_name }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label class="labelText">From Date</label>
        <input type="date" [(ngModel)]="filterObj.fromDate" (change)="getIncidentListByFilter()" class="form-control" />
      </div>

      <div class="col-md-3">
        <label class="labelText">To Date</label>
        <input type="date" [(ngModel)]="filterObj.toDate" (change)="getIncidentListByFilter()" class="form-control" />
      </div>

      <div class="col-md-3 mt-2">
        <label class="labelText">Search</label>
        <div class="searchDiv">
          <i class="bi bi-search"></i>
          <input type="text" class="form-control" (input)="searchFilter($event)" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="filteredIncidentList.length > 0">
    <div *ngFor="let incident of filteredIncidentList" class="cardDesign mb-2">
      <div class="row">
        <div class="col-md-1">
          <div class="labelText">Incident Type</div>
          <div class="labelData">{{ incident?.incidentType }}</div>
        </div>
        <div class="col-md-2">
          <div class="labelText">Subject</div>
          <div class="labelData">{{ incident?.incidentSubject }}</div>
        </div>
        <div class="col-md-2">
          <div class="labelText">Description</div>
          <div class="labelData">{{ incident?.incidentDescription }}</div>
        </div>
        <div class="col-md-2">
          <div class="labelText">Date</div>
          <div class="labelData">
            {{ incident?.createdAt | date : "dd/MM/yyyy" }}
          </div>
        </div>
        <div class="col-md-1">
          <div class="labelText">Status</div>
          <div class="labelData">
            {{ incident?.status | titlecase }}
          </div>
        </div>
        <div class="col-md-3">
          <div class="labelText">Change Status</div>
          <div class="statusBtn">
            <button [disabled]="this.orgAdmin.role === 'ORGADMIN'" *ngIf="incident.status !== 'resolved'"
              class="btn btn-primary" (click)="
                openChangeStatus(
                  incident,
                  incident.status === 'created'
                    ? 'acknowledged'
                    : incident.status === 'acknowledged'
                    ? 'inReview'
                    : 'resolved'
                )
              ">
              {{
              (incident.status === "created"
              ? "acknowledged"
              : incident.status === "acknowledged"
              ? "inReview"
              : "resolved"
              ) | titlecase
              }}
            </button>

            <button [disabled]="this.orgAdmin.role === 'ORGADMIN'" *ngIf="
                incident.status === 'inReview' || incident.status === 'resolved'
              " class="btn btn-danger" (click)="openChangeStatus(incident, 'blocked')">
              {{ "blocked" | titlecase }}
            </button>
          </div>
        </div>
        <div class="col-md-1 action_btn">
          <i class="bi bi-pencil-square" *ngIf="true || btnPolicy?.editIncident" (click)="editIncident(incident)"></i>
          <!-- <i
            class="bi bi-trash-fill"
            *ngIf="true || btnPolicy?.deleteIncident"
            (click)="deleteIncident(incident)"
          ></i> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="filteredIncidentList.length === 0" class="text-center">
    No Records Found
  </div>
</div>

<div class="container" *ngIf="showAddPage">
  <div class="d-flex align-items-center gap-4 mb-3">
    <div class="left_arrow" (click)="backBtn()" style="cursor: pointer">
      <i class="bi bi-arrow-left"></i>
    </div>
    <h3 class="mb-0">{{ isEdit ? "Update" : "Add" }} Incident</h3>
  </div>

  <form (submit)="isEdit ? updateIncident() : saveIncident()" class="row" [formGroup]="incidentForm" novalidate>
    <div class="mb-3 col-md-4" formGroupName="orgDetails">
      <label class="labelText">Organization</label>
      <select class="form-select" [disabled]="orgAdmin.role === 'ORGADMIN'" formControlName="orgId"
        (change)="formOrgChange()">
        <option selected disabled value="">Select Organization</option>
        <option *ngFor="let option of orglist" [value]="option._id">
          {{ option.organization_name }}
        </option>
      </select>
    </div>

    <div class="mb-3 col-md-4" formGroupName="cafeteriaDetails">
      <label class="labelText">Cafeteria</label>
      <select class="form-select" [disabled]="!incidentForm.get('orgDetails.orgId')?.value || isEdit"
        formControlName="cafeteria_id">
        <option selected disabled value="">Select Cafeteria</option>
        <option *ngFor="let option of cafeList" [value]="option.cafeteria_id">
          {{ option.cafeteria_name }}
        </option>
      </select>
    </div>

    <div class="mb-3 col-md-4">
      <label class="labelText">Status</label>
      <select class="form-select" [disabled]="isEdit" (change)="changeStatus()" formControlName="status">
        <option selected disabled value="">Select Status</option>
        <option *ngFor="let status of statusList" [value]="status">
          {{ status | titlecase }}
        </option>
      </select>
    </div>

    <div class="mb-3 col-md-4">
      <label class="labelText">Remark</label>
      <input type="text" class="form-control" [(ngModel)]="incidentObj.remark" formControlName="remark"
        placeholder="Enter Remark" />
    </div>

    <div class="mb-3 col-md-4">
      <label class="labelText">Incident Type</label>
      <input type="text" class="form-control" [(ngModel)]="incidentObj.incidentType" formControlName="incidentType"
        placeholder="Enter Type" />
    </div>
    <div class="mb-3 col-md-4">
      <label class="labelText">Incident Subject</label>
      <input type="text" class="form-control" [(ngModel)]="incidentObj.incidentSubject"
        formControlName="incidentSubject" placeholder="Enter Subject" />
    </div>
    <div class="mb-3 col-md-4">
      <label class="labelText">Incident Description</label>
      <textarea class="form-control" formControlName="incidentDescription" [(ngModel)]="incidentObj.incidentDescription"
        rows="3" placeholder="Enter Description"></textarea>
    </div>

    <button *ngIf="!isEdit" type="submit" class="btn btn-primary" [disabled]="incidentForm.invalid">
      Save
    </button>

    <button *ngIf="isEdit" type="submit" class="btn btn-primary" [disabled]="incidentForm.invalid">
      Update
    </button>
  </form>
</div>

<ng-template #statusChangeDiv let-modal>
  <div class="modal-header">
    <div class="header2 bold" id="modal-basic-title">Change Status</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="mb-3 col-md-12">
        <label class="labelText">User</label>
        <select class="form-select" [disabled]="
            orgAdmin.role === 'SITEEXE' ||
            incidentObj.status === 'inReview' ||
            incidentObj.status === 'blocked' ||
            incidentObj.status === 'resolved'
          " [(ngModel)]="assignedToInfo.id">
          <option selected disabled value="">Select User</option>
          <option *ngFor="let admin of adminList" [value]="admin._id">
            {{ admin.name }}
          </option>
        </select>
      </div>

      <div class="mb-3 col-md-12">
        <label class="labelText">Remark</label>
        <textarea type="text" class="form-control" [(ngModel)]="incidentObj.remark" placeholder="Enter Remark">
        </textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="updateIncidentStatus()" class="btn btn-primary">
      Update
    </button>
  </div>
</ng-template>