.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .pie-chart {
    margin-top: 40px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2, h3 {
    font-size: 24px;
    color: #333;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    padding: 10px 15px;
    background-color: #f47c22;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 150px;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f47c22;
    color: white;
  }

  .countTile{
    background: #e2e6eb;
    text-align: center;
    padding: 20px 0px;
    margin: 5px 10px;
    border-radius: 16px;
}

.transparent-bg {
  position: relative; /* Required for layering content */
  // background-image: url('path-to-your-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8; /* Customize transparency */
  z-index: 1; /* Ensure layering */
  padding: 20px;
}

.transparent-bg label,
.transparent-bg select {
  position: relative;
  z-index: 2; /* Ensure text is above the background */
}
  