<div class="page-container">
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="24px">
    <mat-card fxFlex class="p-3">
      <mat-card-title>Upload Employee List</mat-card-title>
      <div class="upload-box text-center mt-3">
        <p>Drag and drop Employee List file here</p>
        <p class="or-text">or</p>
        <input #fileInput type="file" accept=".xlsx, .xls" class="hidden-file-input" (change)="onFileChange($event)" />
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          <mat-icon>upload</mat-icon>
          Browse File
        </button>
        <div class="file-name" *ngIf="fileName">
          <mat-icon class="file-icon">description</mat-icon>
          {{ fileName }}
        </div>
      </div>
      <mat-hint class="hint mt-2">
        Excel Format: Emp Name, Emp Id, Emp Ph No, Emp Email
      </mat-hint>
    </mat-card>
    <mat-card fxFlex class="p-3">
      <mat-card-title class="d-flex justify-content-between align-items-center mb-2">
        <div>Manual Employee Entry</div>
        <button mat-raised-button color="primary" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">
          Add Multiple Employee
        </button>
      </mat-card-title>
      <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="entry-grid" *ngFor="let employee of addMultipleEmploeeList; index as i">
          <div class="form-group">
            <label class="form-label"> Employee Name</label>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="employee.employeeName" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Employee ID</label>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="employee.employeeId" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Employee Phone No</label>
            <mat-form-field appearance="outline">
              <input matInput type="number" [(ngModel)]="employee.employeePhoneNo" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Employee Email</label>
            <mat-form-field appearance="outline">
              <input matInput type="email" [(ngModel)]="employee.employeeEmail" />
            </mat-form-field>
          </div>
          <div class="button-container d-flex justify-content-end align-items-center gap-2">
            <ng-container *ngIf="i > 0 && i == addMultipleEmploeeList.length - 1">
              <button mat-icon-button color="primary" (click)="addMoreEmployee()">
                <mat-icon>add</mat-icon>
              </button>
            </ng-container>
            <button mat-icon-button color="primary" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="showRemoveForm" (click)="removeEmployeeForm(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px" class="d-flex gap-2">
          <button mat-raised-button color="primary"  (click)="submitMultipleEmployee()">Submit</button>
          <button mat-stroked-button color="warn" (click)="cancelMultipleEmployee()">
            Cancel
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="!showMultipleEmployeeForm">
        <div class="no-address" *ngIf="employeeList.length == 0 " >
          <p>No employee added yet.</p>
          <small>Click on <strong>"Add Multiple Employee"</strong> to add a new
            employee.</small>
        </div>
      </ng-container>
      <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList" class="w-100">
          <div  class="w-100">
              <div class="d-flex w-100 gap-3  flex-wrap">
      
                <div  class="item">
                  <div class="labelText">Employee ID</div>
                  <div class="labelData">{{ employee.employeeId }}</div>
                </div>
       
                <div  class="item">
                  <div class="labelText">Employee Name</div>
                  <div class="labelData">{{ employee.employeeName }}</div>
                </div>
            

                <div  class="item">
                  <div class="labelText">Phone No</div>
                  <div class="labelData">{{ employee.employeePhoneNo }}</div>
                </div>
            
    
                <div  class="item">
                  <div class="labelText">Employee Email</div>
                  <div class="labelData">{{ employee.employeeEmail }}</div>
                </div>
            

                <div  class="item">
                  <div class="labelText">Cafeteria</div>
                  <div class="labelData">{{ employee.cafeteria_name }}</div>
                </div>

                <div class="col d-flex justify-content-end align-items-center gap-2">
                  <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                    <mat-icon>edit</mat-icon>
                  </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            
              </div>
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name" formControlName="employeeName">
                    <div class="error-text" *ngIf="form.controls.employeeName.errors?.required && showError">
                        *Employee name is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeId">
                    <div class="error-text" *ngIf="form.controls.employeeId.errors?.required && showError">
                        *Employee ID is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        formControlName="employeePhoneNo">
                    <div class="error-text" *ngIf="form.controls.employeePhoneNo.errors?.required && showError">
                        *Employee Phone No is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        formControlName="employeeEmail">
                    <div class="error-text" *ngIf="form.controls.employeeEmail.errors?.required && showError">
                        *Employee Email is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateEmployee(empId,form.value); modal.close('add')">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <div class="modal-title delete-modal-title" id="modal-basic-title">Delete Vendor</div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="selectParent">
            <p>Do You Realy Want To Delete Employee : <span class="deletedEmployee"> {{deleteEmployeeName}}</span></p>
        </div>
        <button class="btn btn-danger confirmDeleteStyle" (click)="deleteConfirmed(deletedEmployee)">Yes</button>
        <button class="btn btn-primary confirmDeleteStyle" (click)="modal.dismiss('cancel')">NO</button>
    </div>

</ng-template>