<div class="bgpadding1">
    <div class="right">
        <button *ngIf="!editMode && access" type="button" class="btn btn-primary btn-sm"
            (click)="editMode = true">Edit</button>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div *ngIf="!editMode" class="labelText">
                Gst Number: <span class="labelData">{{compliance.gstNumber}}</span>
            </div>
            <div *ngIf="editMode" class="labelText">
                Gst Number: (If annual turnover of rupees more than 12 lakhs?)
                <input type="text" class="form-control" placeholder="Gst Number" [(ngModel)]="compliance.gstNumber" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div *ngIf="editMode && !compliance.GSTFileUrl">
                <app-pdfupload [documentname]="GSTFile" [documentUrl]="compliance.GSTFileUrl"
                    (upload)=uploadDoc($event)></app-pdfupload>
            </div>
            <ng-container *ngIf="compliance.GSTFileUrl">
                <div *ngIf="compliance.GSTFileUrl" class="pdf-preview">
                    <iframe [src]="compliance.GSTFileUrl" type="application/pdf"></iframe>
                    <button *ngIf="editMode" class="cancel-btn" (click)="DeleteFile('GSTFile')">Delete</button>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div *ngIf="!editMode" class="labelText">
                Pan Card Number: <span class="labelData">{{compliance.panNumber}}</span>
            </div>
            <div *ngIf="editMode" class="labelText">
                Pan Card Number:
                <input type="text" class="form-control" placeholder="Pan Card Number"
                    [(ngModel)]="compliance.panNumber" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <div *ngIf="editMode && !compliance.PanCardFileUrl">
                <app-pdfupload [documentname]="PanCardFile" [documentUrl]="compliance.PanCardFile"
                    (upload)=uploadDoc($event)></app-pdfupload>
            </div>
            <ng-container *ngIf="compliance.PanCardFileUrl">
                <div *ngIf="compliance.PanCardFileUrl" class="pdf-preview">
                    <iframe [src]="compliance.PanCardFileUrl" type="application/pdf"></iframe>
                    <button *ngIf="editMode" class="cancel-btn" (click)="DeleteFile('PanCardFile')">Delete</button>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- <div *ngIf="!editMode" class="labelText">
                Gst Number: <span class="labelData">{{compliance.gstNumber}}</span>
            </div>
            <div *ngIf="editMode" class="labelText">
                Gst Number: (If annual turnover of rupees more than 12 lakhs?)
                <input type="text" class="form-control" placeholder="Gst Number" [(ngModel)]="compliance.gstNumber" />
            </div> -->
            <div *ngIf="!editMode">
                <div class="mt-2 me-2" *ngIf="profileApproval === 'pending' || profileApproval === 'approved'">
                    <div class="labelData">Reject/Suspend Comment</div>
                    <input type="text" class="form-control" [(ngModel)]="comment" placeholder="House No./streetName">
                </div>
                <div class="inline mt-2 me-2"
                    *ngIf="(profileApproval === 'pending' || profileApproval === 'suspended') && access?.complianceApprove">
                    <button type="button" class="btn btn-primary btn-sm"
                        (click)="updateProfileApproval('approved')">Approve</button>
                </div>
                <div class="inline mt-2 me-2" *ngIf="profileApproval === 'pending' && access?.complianceReject">
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="updateProfileApproval('rejected')">Reject</button>
                </div>
                <div class="inline mt-2 me-2" *ngIf="profileApproval === 'approved' && access?.complianceSuspend">
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="updateProfileApproval('suspended')">Suspend</button>
                </div>
                <div class="inline mt-2 me-2"
                    *ngIf="(profileApproval === 'rejected' || profileApproval === 'suspended') && access?.compliancePending ">
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="updateProfileApproval('pending')">Pending</button>
                </div>
            </div>
            <div *ngIf="editMode">
                <div class="inline">
                    <button type="button" class="btn btn-primary btn-sm me-2" (click)="saveImages()">Save</button>
                </div>
                <div class="inline">
                    <button type="button" class="btn btn-danger btn-sm" (click)="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>