@import "src/styles.scss";

.uploadedImage{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.uploadInput{
    display: none;
}
.uploadIcon{
    width: 84px;
    background: $secondary-color3;
    border-radius: 5px;
    text-align: center;
    color: white;
    position: relative;
    top: -15px;
    left: 30px;
    font-size: 13px;
    padding: 4px 0px;
    cursor: pointer;
}

.bankDetails{
    input{
        display: block;
        width:100%;
    }
    label{
        // font-weight: bold;
    }
}
.editBtn{
    cursor: pointer;
    background: $primary-color2;
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    text-align: center;
}

.fssaiImg{
    width: 450px;
    height: 500px;
}
.adhaarImg{
    width: 400px;
    height: 300px;
    padding: 5px;
}