<div class="admin-header">
  <div>
    <h4 class="m-0 fw-semibold">
      {{ editMode ? "Update Checklist" : "Submit Checklist" }}
    </h4>
  </div>
</div>

<div class="container-fluid submit-checklist-wrapper">

  <!-- ORG / CAFETERIA SELECTOR -->
  <mat-card class="mb-3">
    <app-common-outlet-cafe-select [config]="headerConfig" (submitted)="filterSubmitted($event)">
    </app-common-outlet-cafe-select>
  </mat-card>

  <!-- SEARCH + LIST -->
  <mat-card class="mb-3" *ngIf="allChecklistQuestions.length > 0">
    <div class="section-header mb-2">
      <h5 class="section-title">Checklist Questions</h5>

      <mat-form-field appearance="outline" class="search-field input">
        <input matInput type="text" (input)="searchFilter($event)" placeholder="Search by question..." />
        <button mat-icon-button matSuffix aria-label="search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="questions-list">
      <div *ngFor="let q of filteredChecklistQuestions; trackBy: trackByQuestionId" class="question-row">

        <div class="question-main">
          <mat-checkbox [(ngModel)]="q.selected" class="question-checkbox">
          </mat-checkbox>

          <div class="question-text">
            <div class="labelText">Question</div>
            <div class="labelData">
              {{ q.checklistQuestion }}
            </div>
          </div>

          <!-- <div class="question-text">
            <div class="labelText">Type</div>
            <div class="labelData">
              {{ q.checklistQuestionType }}
            </div>
          </div> -->
        </div>

        <div class="question-comment">
          <div class="field-label">Comment (optional)</div>
          <mat-form-field appearance="outline" class="w-100 input">
            <input matInput [(ngModel)]="q.comment" placeholder="Add comment" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="header-actions mt-3">
      <button class="btn-add" mat-raised-button color="primary" class="me-2" [disabled]="!canSubmit()"
        (click)="submitChecklist()">
        <mat-icon>check_circle</mat-icon> Submit Checklist
      </button>
    </div>
  </mat-card>

  <div class="center mt-4" *ngIf="allChecklistQuestions && allChecklistQuestions.length === 0">
    No checklist questions found. Please configure questions first.
  </div>
</div>