@import '/src/styles.scss';

.vendor-header {
    @include responsive-header;
    background-color: transparent;
}

.iconBtn {
    background: $primary-offset-color2;
    color: $white;
    box-shadow: $box-shadow-sm;
}

.excel-btn {
    background: $color-success !important;
    color: $white !important;
}