<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Outlet Orders</h3>
        </div>
    </div>

    <div class="container-fluid mt-2">
        <app-common-outlet-cafe-select [config]="headerConfig"
            (submitted)="filterSubmitted($event)"></app-common-outlet-cafe-select>

        <div class="row mb-4 mt-2 p-3 bg-light rounded ">
            <div class="col-md-3">
                <label class="labelText">Organization</label>
                <select class="form-select" [(ngModel)]="filterObj.orgId" [disabled]="orgAdmin.role === 'ORGADMIN'"
                    (change)="setOrgDetails()">
                    <option selected disabled value="">Select Organization</option>
                    <option *ngFor="let option of orglist" [value]="option._id">
                        {{ option.organization_name }}
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="labelText">Cafeteria</label>
                <select class="form-select" [(ngModel)]="filterObj.cafeId" [disabled]="!orgDetails">
                    <option selected disabled value="">Select Cafeteria</option>
                    <option *ngFor="let option of cafeList" [value]="option.cafeteria_id">
                        {{ option.cafeteria_name }}
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="labelText">From Date</label>
                <input type="date" [(ngModel)]="filterObj.fromDate" class="form-control" />
            </div>

            <div class="col-md-3">
                <label class="labelText">To Date</label>
                <input type="date" [(ngModel)]="filterObj.toDate" class="form-control" />
            </div>

            <div class="col-md-3 pt-4">
                <button (click)="filterOrders()" class="btn btn-primary w-100">Search</button>
            </div>
        </div>
    </div>

    <div *ngIf="filteredOrderList.length > 0" class="pb-4">
        <div class="row mb-4">
            <div class="col-lg-3">
                <button (click)="excelExport()" class="btn btn-success"> <i class="bi bi-file-earmark-excel"></i> Excel
                    Export</button>
            </div>
            <div class="col-lg-6">
                <div class="totalDiv">
                    <div class="leftDiv">
                        <span>Total Items: </span>
                        <span>{{ filteredOrderList.length}} </span>
                    </div>
                    <div class="verticalHr"></div>
                    <div class="rightDiv">
                        <span>&#8377; {{totalAmount}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <button (click)="changeDataView()" class="btn iconBtn " *ngIf="!isShowChart"><i
                        class="bi bi-graph-down"></i></button>
                <button (click)="changeDataView()" class="btn iconBtn " *ngIf="isShowChart"><i
                        class="bi bi-table"></i></button>
            </div>
        </div>
        <ng-container *ngIf="!isShowChart">
            <ul *ngFor="let order of filteredOrderList" class="list-group">
                <li class="list-group-item">
                    <app-order-card [order]="order"></app-order-card>
                </li>
            </ul>
        </ng-container>
        <div class="row my-1" *ngIf="isShowChart">
            <div class="col-12">
                <div class="card shadow border-0 rounded-lg card-hover overflow-hidden">
                    <highcharts-chart *ngIf="filteredOrderList.length > 0" [Highcharts]="Highcharts"
                        [options]="chartOptions" [update]="updateStatusFlag" [oneToOne]="oneToOneStatusFlag"
                        style="width: 100%; height: 400px; display: block">
                    </highcharts-chart>

                    <div class="h-100 d-flex justify-content-center align-items-center pt-2">
                        <p *ngIf="filteredOrderList.length <= 0">No Data Found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filteredOrderList.length === 0" class="text-center">
        No Records Found
    </div>
</div>