<div class="bgsidepadding1">
    <div class="mt-2" *ngIf="feedbackList.length>0">
        <div class="row cardDesign list-group" *ngFor="let feedback of feedbackList; let i = index">
            <div class="list-group-item">
                <div class="row">
                    <!-- <div class="orderNo">Order No: {{feedback.feedbackOrderNo}} Feedback Information</div> -->
                    <div class="header3 bgTopDownpadding1 order-sub-header" (click)="showDetails = ! showDetails"
                        >Order No: {{feedback.feedbackOrderNo}} 
                        <span class="right">
                            <i class="bi bi-chevron-down" *ngIf="!showDetails"></i>
                            <i class="bi bi-chevron-up" *ngIf="showDetails"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="showDetails">
                        <ng-container *ngFor="let item of feedback.itemlist;index as k">
                            <div class="cardDesignfeddback">
                                <ng-container *ngIf="item.itemContains.length>0">
                        
                                    <div class="feedbackCard">
                                        <div>Menu Name: <div>{{item.itemName}}</div>
                                        </div>
                                        <div class="d-flex w-100 align-items-center">
                                            <hr class="flex-grow-1">
                                            <span class="mx-2">Menu Contains</span>
                                            <hr class="flex-grow-1">
                                        </div>
                                        <ng-container *ngFor="let itemContent of item.itemContains; index as ic">
                                            <div class="cardDesign">
                                                <div class="row">
                                                    <div class="col-4 col-md-4 col-lg-4">
                                                        <div>Contain Name: <div>
                                                                {{itemContent.name}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-md-4 col-lg-4">
                                                        <div>Ratings: <div>
                                                                {{itemContent.starRatingKitchen}}</div>
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf="itemContent.kitchenFeedback">
                                                        <div class="col-4 col-md-4 col-lg-4">
                                                            <div>FeedBack: <div>
                                                                    {{itemContent.kitchenFeedback}}</div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="item.itemContains.length==0">
                                    <div class="feedbackCard">
                                        <div class="col-sm-12 col-md-10 col-lg-10">
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-lg-4">
                                                    <div>Menu Name: <div>{{item.itemName}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4 col-lg-4">
                                                    <div>Ratings: <div>{{item.starRatingKitchen}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-container *ngIf="item.kitchenFeedback">
                                                    <div class="col-4 col-md-4 col-lg-4">
                                                        <div>Ratings: <div>{{item.kitchenFeedback}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <button *ngIf="nextOn" type="button" class="btn btn-primary btn-sm mt-2 me-2" (click)="getMore()">Load
            More</button>
    </div>
    <div class="center labelText mt-2" *ngIf="feedbackList.length==0">
        No Feedback found
    </div>
</div>