@import '/src/styles.scss';

.cardDesign {
    @include card-design($white);
    border: 1px solid $border-color;
    box-shadow: $box-shadow-sm;
}

.dense-field {
    @include mat-form-field-responsive;
}

.center {
    text-align: center;
    font-size: 1.1rem;
}