<div class="row">
    <div class="col-12 col-md-3 col-lg-3">
        <label for="reference" class="labelText">Copy Organization Menu</label>
        <select class="custom-select" name="reference" [(ngModel)]="orgSelected">
            <option disabled selected value> -- select organization -- </option>
            <option [value]="org._id" *ngFor="let org of orgChoices">{{org.organization_name}}
            </option>
        </select>
    </div>
    <div class="col-12 col-md-3 col-lg-3 mt-4">
        <button class="b2n btn-primary btn-sm" (click)="copyOrgMenu()">Copy Menu</button>
    </div>
</div>
<div class="container-fluid pb-2" *ngIf="menuFound">
    <div class="row cardDesign" *ngFor="let mealType of orgMenu.mealTypeList;let i = index">
        <div class="col-lg-3 col-6">
            <label class="labelText">Meal Name</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.itemName}}</div>
            <input [disabled]="!editMode" type="text" class="form-control" placeholder="Meal Name"
                [(ngModel)]="mealType.itemName" *ngIf="editMode">
        </div>
        <div class="col-lg-1 col-6">
            <label class="labelText">Meal Price (Exclusive of GST)</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.mealPrice}}</div>
            <input [disabled]="!editMode" type="number" class="form-control" placeholder="mealType.mealPrice"
                [(ngModel)]="mealType.mealPrice" *ngIf="editMode">
        </div>
        <div class="col-lg-1 col-6">
            <label class="labelText">Delivery MOQ</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.deliveryMOQ}}</div>
            <input [disabled]="!editMode" type="number" class="form-control" placeholder="Delivery MOQ"
                [(ngModel)]="mealType.deliveryMOQ" *ngIf="editMode">
        </div>
        <div class="col-lg-2 col-6">
            <label class="labelText">Delivery Charge</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.deliveryCharge}}</div>
            <input [disabled]="!editMode" type="number" class="form-control" placeholder="Delivery Charge"
                [(ngModel)]="mealType.deliveryCharge" *ngIf="editMode">
        </div>
        <div class="col-lg-1 col-6">
            <label class="labelText">Is Same Day</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.isSameDay}}</div>
            <!-- <input [disabled]="!editMode" type="checkbox" class="form-control" placeholder="Is Same Day"
                [(ngModel)]="mealType.isSameDay" *ngIf="editMode"> -->
            <input class="form-check-input mt-4" type="checkbox" id="sameDay" [(ngModel)]="mealType.isSameDay"
                name="sameDay" *ngIf="editMode">
        </div>
        <!-- *ngIf="mealType.isSameDay" -->
        <div class="col-lg-3 col-6">
            <label class="labelText">Cut Off Time</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.cutOffTime}}</div>
            <input type="time" class="form-control searchDate" placeholder="Cut Off Time"
                [(ngModel)]="mealType.cutOffTime" *ngIf="editMode">
        </div>
        <div class="col-1 alignRight pointer">
            <i class="bi bi-pencil-square me-2" (click)="onEditClick()"></i>
            <!-- (click)="editMode = !editMode" -->
            <i class="bi bi-trash-fill" (click)="showPopup(mealType,i)"></i>
        </div>
        <div class="col-lg-3 col-6">
            <label class="labelText">Delivery Time From</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.deliveryTimeFrom}}</div>
            <input type="time" class="form-control searchDate" placeholder="Delivery Time"
                [(ngModel)]="mealType.deliveryTimeFrom" *ngIf="editMode">
        </div>
        <div class="col-lg-3 col-6">
            <label class="labelText">Delivery Time To</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.deliveryTimeTo}}</div>
            <input type="time" class="form-control searchDate" placeholder="Delivery Time"
                [(ngModel)]="mealType.deliveryTimeTo" *ngIf="editMode">
        </div>
        <div class="col-lg-3 col-6">
            <label class="labelText">Pay Amount To Kitchen (Inclusive of GST)</label>
            <div class="labelData" *ngIf="!editMode">{{mealType.payAmtToKitchen}}</div>
            <input [disabled]="!editMode" type="number" class="form-control" placeholder="Pay Amount To Kitchen"
                [(ngModel)]="mealType.payAmtToKitchen" *ngIf="editMode">
        </div>
        <div class="col-lg-3 col-6">
            <label for="reference" class="labelText">Select Mealtype</label>
            <select class="custom-select" name="reference" [(ngModel)]="mealType.selctedmealtype"
                [disabled]="!editMode">
                <option disabled selected value> -- select Mealtype -- </option>
                <option [value]="MealType" *ngFor="let MealType of Mealtypes">{{MealType}}</option>
            </select>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 col-12 menuCard" *ngFor="let menu of mealType.weeklyMenu">
                <div class="labelText center">{{menu.itemDay}}</div>
                <div class="menu mt-2">
                    <label for="" class="labelText form-label">Item Name:</label>
                    <div class="labelData" *ngIf="!editMode">{{menu.itemName}}</div>
                    <input [disabled]="!editMode" type="text" class="form-control" placeholder="Item Name"
                        [(ngModel)]="menu.itemName" *ngIf="editMode">
                    <label for="" class="labelText form-label">Item Description:</label>
                    <div class="labelData" *ngIf="!editMode">{{menu.itemDescription}}</div>
                    <input [disabled]="!editMode" type="text" class="form-control" placeholder="Item Description"
                        [(ngModel)]="menu.itemDescription" *ngIf="editMode">
                    <label for="" class="labelText form-label">Item Not Applicable:</label>
                    <div class="labelData" *ngIf="!editMode">{{menu.notApplicable}}</div>
                    <input class="form-check-input mt-4 center" type="checkbox" id="applicable"
                        [(ngModel)]="menu.notApplicable" name="applicable" *ngIf="editMode">
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-sm me-2" (click)="addMeal()" *ngIf="!showUpdate">Add Meal</button>
    <button class="btn btn-success btn-sm" (click)="submit()" *ngIf="!showUpdate">Submit</button>
    <button class="btn btn-success btn-sm" (click)="update()" *ngIf="showUpdate">Update</button>
</div>
<div class="container-fluid center bold mt-5" *ngIf="!menuFound">
    <div class="right addBtn" (click)="menuFound = !menuFound">+</div>
    No Weekly Menu Found
</div>