@import "/src/styles.scss";

.map{
    height: 100%;
    width: 100%;
}
.searchAddress{
    position: relative;
    bottom: -31px;
    z-index: 2;
}
.searchInput{
    width: 85%;
    border-radius: 5px;
}
.currentLocation{
    font-size: 10px;
    font-weight: bold;
    background: $secondary-color3;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding-top: 6px;
    letter-spacing: 2px
}