@import "/src/styles.scss";

.map{
    height: 60vh;
    width: 100%;
}
.searchAddress{
    // position: relative;
    // bottom: -31px;
    // z-index: 2;
}
.searchInput{
    // width: 85%;
    // border-radius: 5px;
    width: 100%;
}
.currentLocation{
    font-size: 12px;
    font-weight: bold;
    background: $secondary-color3;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
        display: flex;
    align-items: center;
    justify-content: center;
}