<div class="container-fuild">
  <div class="cardDesign d-flex" *ngFor="let org of pagedOrganized">
    <div class="col-md-2">
          <div class="labelText">Organization Name</div>
    <div class="labelData">{{org?.organization_name}}</div>
    </div>
    <div class="col-md-2">
          <div class="labelText">City</div>
    <div class="labelData">{{org?.city}}</div>
    </div>
    <div class="col-md-2">
          <div class="labelText">location</div>
    <div class="labelData">{{org?.location}}</div>
    </div>
    <div class="col-md-2">
          <div class="labelText"> Cafeteria</div>
    <div class="labelData"><mat-chip style="cursor: pointer;" (click)="dataView(org.cafeteriaList , 'cafeteria')">cafeteria | {{org.cafeteriaList.length}}</mat-chip></div>
    </div>
    <div class="col-md-2">
          <div class="labelText">Poc Details</div>
    <div class="labelData"><mat-chip  style="cursor: pointer;"  (click)="dataView(org.poc_details,'poc')">poc details | {{org.poc_details?.length}}</mat-chip></div>
    </div>
    <div class="col-md-2">
      <button mat-icon-button color="primary" (click)="vieworg(org)" matTooltip="View">
          <mat-icon>visibility</mat-icon>
        </button>
    </div>
  </div>
</div>
<mat-paginator [length]="organization.length|| 0" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)" aria-label="Select page">
</mat-paginator>

<div class="custom-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="custom-modal " *ngIf="showModal">
  <div class="custom-modal-header d-flex justify-content-between align-items-center">
    <h3>{{tableDetails}}</h3>
    <button class="close-btn" (click)="closeModal()">✖</button>
  </div>

  <div class="custom-modal-body">
    <table mat-table [dataSource]="tableData" matSort class="mat-elevation-z8 w-100 table">
      <ng-container [matColumnDef]="col" *ngFor="let col of columns" >
        <th mat-header-cell *matHeaderCellDef >
          {{ col | titlecase}}
        </th>
        <td mat-cell *matCellDef="let row" class="mat-table-td">
          <div class="row-chip" *ngIf="row[col] === true"> yes <mat-icon class="icon-check"> check </mat-icon></div>
          <div  *ngIf="row[col] === false"class="row-chip">No<mat-icon class="icon">close </mat-icon></div>
        <span *ngIf="row[col] !== true && row[col] !== false"  [matTooltip]="row[col]" matTooltipPosition="left" class="tooltip-text">
           {{ row[col] }}
        </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" class="table-row"></tr>
    </table>
  </div>
</div>

