<div class="mb-2">
  <div class="cardDesign mb-2" *ngFor="let org of pagedOrganized">
    <div class="container-fluid py-2">
      <div class="row align-items-center">

        <!-- Logo -->
        <div class="col-md-1 mb-2 mb-md-0">
          <div class="org-image-div">
            <img [src]="org.organizationLogoUrl ? imageUrl + org.organizationLogoUrl : 'assets/images/dummyUpload.png'"
              class="org-image" />
          </div>
        </div>

        <!-- Name -->
        <div class="col-md-2 mb-2 mb-md-0">
          <div class="labelText">Organization Name</div>
          <div class="labelData fw-bold">{{ org?.organization_name }}</div>
        </div>

        <!-- City -->
        <div class="col-md-2 mb-2 mb-md-0">
          <div class="labelText">City</div>
          <div class="labelData">{{ org?.city }}</div>
        </div>

        <!-- Location -->
        <div class="col-md-2 mb-2 mb-md-0">
          <div class="labelText">Location</div>
          <div class="labelData">{{ org?.location }}</div>
        </div>

        <!-- Cafeteria -->
        <div class="col-md-2 mb-2 mb-md-0">
          <div class="labelText">Cafeteria</div>
          <mat-chip class="small-chip" style="cursor: pointer !important;" selected color="primary"
            (click)="dataView(org?.cafeteriaList , 'cafeteria')">
            Cafeterias | {{org?.cafeteriaList?.length || 0}}
          </mat-chip>
        </div>

        <!-- POC -->
        <div class="col-md-2 mb-2 mb-md-0">
          <div class="labelText">POC Details</div>
          <mat-chip class="small-chip" style="cursor: pointer !important;" selected color="accent"
            (click)="dataView(org.poc_details,'poc')">
            POCs | {{org.poc_details?.length || 0}}
          </mat-chip>
        </div>

        <!-- Actions -->
        <div class="col-md-1 d-flex align-items-center justify-content-end p-0">
          <button mat-icon-button color="primary" (click)="vieworg(org)" matTooltip="View Details">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="organization.length|| 0" [pageSize]="pageSize" [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page">
</mat-paginator>

<div class="custom-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="custom-modal " *ngIf="showModal">
  <div class="custom-modal-header d-flex justify-content-between align-items-center">
    <h3>{{tableDetails}}</h3>
    <button class="close-btn" (click)="closeModal()">✖</button>
  </div>

  <div class="custom-modal-body">
    <table mat-table [dataSource]="tableData" matSort class="mat-elevation-z8 content0 table">
      <ng-container [matColumnDef]="col" *ngFor="let col of columns">
        <th mat-header-cell *matHeaderCellDef>
          {{ col | titlecase}}
        </th>
        <td mat-cell *matCellDef="let row" class="mat-table-td">
          <div class="row-chip" *ngIf="row[col] === true"> yes <mat-icon class="icon-check"> check </mat-icon></div>
          <div *ngIf="row[col] === false" class="row-chip">No<mat-icon class="icon">close </mat-icon></div>
          <span *ngIf="row[col] !== true && row[col] !== false" [matTooltip]="row[col]" matTooltipPosition="left"
            class="tooltip-text">
            {{ row[col] }}
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" class="table-row"></tr>
    </table>
  </div>
</div>