<div class="row g-3">
    <!-- ===== Organization ===== -->
    <div class="col-12 col-md-3" *ngIf="true">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Organization</mat-label>

            <mat-select [disabled]="config?.disableOrg || loadingOrgs" [value]="selected.orgId"
                (valueChange)="onOrgChange($event)">
                <mat-option [value]="''" disabled>Select Organization</mat-option>
                <mat-option *ngFor="let o of orglist" [value]="o._id">
                    {{ o.organization_name }}
                </mat-option>
            </mat-select>

            <mat-hint *ngIf="loadingOrgs">Loading organizations…</mat-hint>
        </mat-form-field>
    </div>

    <!-- ===== Cafeteria ===== -->
    <div class="col-12 col-md-3" *ngIf="true">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cafeteria</mat-label>

            <mat-select [disabled]="config?.disableCafe || !orgDetails" [value]="selected.cafeId"
                (valueChange)="onCafeChange($event)">
                <mat-option [value]="''" disabled>Select Cafeteria</mat-option>
                <mat-option *ngFor="let c of cafeList" [value]="c.cafeteria_id">
                    {{ c.cafeteria_name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- ===== Outlet (only in outlet mode) ===== -->
    <div class="col-12 col-md-3" *ngIf="config?.mode === 'outlet'">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Outlet</mat-label>

            <mat-select [disabled]="config?.disableOutlet || !selected.cafeId || loadingOutlets"
                [value]="selected.outletId" (valueChange)="onOutletChange($event)">
                <mat-option [value]="''" disabled>Select Outlet</mat-option>
                <mat-option *ngFor="let o of outletList" [value]="o._id">
                    {{ o.outletName }}
                </mat-option>
            </mat-select>

            <mat-hint *ngIf="loadingOutlets">Loading outlets…</mat-hint>
        </mat-form-field>
    </div>

    <!-- ===== Date Range (optional) ===== -->
    <div class="col-12 col-md-3" *ngIf="config?.showDateRange">
        <form [formGroup]="dateForm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="config?.minDate" [max]="config?.maxDate">
                    <input matStartDate placeholder="From" formControlName="dateFrom" />
                    <input matEndDate placeholder="To" formControlName="dateTo" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </form>
    </div>
    <!-- ===== Submit ===== -->
    <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!canSubmit">
            Submit
        </button>
    </div>
</div>