@import 'src/styles.scss';

.addOutlet{
    position: absolute;
    right: 5px;
    top: 100px;
}
.labelText{
    font-size:13px;
}
.uploadedImage{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.uploadInput{
    display: none;
}
.uploadIcon{
    width: 84px;
    background: $secondary-color3;
    border-radius: 5px;
    text-align: center;
    color: white;
    position: relative;
    top: -15px;
    left: 8px;
    font-size: 13px;
    padding: 4px 0px;
    cursor: pointer;
}

.mainCheckDiv {
    display: flex;
    align-items: baseline;
    gap: 16px;
    background: #f8f8f8;
    border-radius: 16px;
    padding: 16px 20px;
    height: fit-content;
    width: fit-content;

    label {
        margin: 0;
    }
}