<div class="bgsidepadding1">
    <div [formGroup]="form">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-2 image-div">
                <input #f type="file" class="uploadInput" accept="image/*" capture="camera"
                    (change)="handleFileInput($event)">
                <img (click)="f.click()" [src]="imageUrl?imageUrl:'assets/images/dummyUpload.png'" class="uploadedImage" />
                <div class="uploadIcon" (click)="f.click()">Upload <i class="bi bi-upload"></i></div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="labelText">Outlet Name</div>
                <input type="text" class="form-control" placeholder="Outlet Name" formControlName="outletName">
                <div class="error-text" *ngIf="form.controls.outletName.errors?.required && showError">*Outlet name
                    is required</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="labelText">Outlet Type</div>
                <select class="custom-select" name="role" formControlName="outletType">
                    <option disabled selected value> -- select type -- </option>
                    <option value="Veg">Veg</option>
                    <option value="NonVeg">Non Veg</option>
                </select>
                <div class="error-text" *ngIf="form.controls.outletType.errors?.required && showError">*Outlet type is required</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="labelText">Outlet Description</div>
                <input type="text" class="form-control" placeholder="Org Description" formControlName="outletDescription">
                <div class="error-text" *ngIf="form.controls.outletDescription.errors?.required && showError">*Outlet description
                    is required</div>
            </div>
        </div>
        <div class="row" formGroupName="ownerDetails">
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Owner Name</label>
                <input type="text" class="form-control" placeholder="Owner Name" formControlName="owner_name">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Owner PhoneNo</label>
                <input type="Number" class="form-control" placeholder="Owner PhoneNo" formControlName="owner_phoneNo">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Owner EmailID</label>
                <input type="text" class="form-control" placeholder="Owner EmailID" formControlName="owner_emailId">
            </div>
        </div>
        <div class="row" formGroupName="cashierDetails">
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Cashier Name</label>
                <input type="text" class="form-control" placeholder="Cashier Name" formControlName="cashier_name">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Cashier PhoneNo</label>
                <input type="Number" class="form-control" placeholder="Cashier PhoneNo" formControlName="cashier_phoneNo">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Cashier EmailID</label>
                <input type="text" class="form-control" placeholder="Cashier EmailID" formControlName="cashier_emailId">
            </div>
        </div>
        <div class="row" formGroupName="managerDetails">
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Manager Name</label>
                <input type="text" class="form-control" placeholder="Manager Name" formControlName="manager_name">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Manager PhoneNo</label>
                <input type="Number" class="form-control" placeholder="Manager PhoneNo" formControlName="manager_phoneNo">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label class="labelText form-label">Manager EmailID</label>
                <input type="text" class="form-control" placeholder="Manager EmailID" formControlName="manager_emailId">
            </div>
        </div>
        <div class="row">
            <!-- <div class="header6" *ngIf="menuList.length > 0">View {{menuList.length}} Menu Items Added</div> -->
            <!-- <div><button class="btn btn-success btn-sm mt-1" (click)="openMenuList()">Add Menu Item</button></div> -->
            <div><button class="btn btn-success btn-sm mt-1" (click)="openOrgList()">Select Org</button></div>
        </div>
    </div>
    <div class="btn btn-primary btn-sm mt-2" (click)="submit('update')" *ngIf="showUpdate">Update</div>
    <div class="btn btn-primary btn-sm mt-2" (click)="submit()" *ngIf="!showUpdate">Submit</div>
</div>
<ng-template #contentOrg let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Org</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let org of orgList">
                <div class="row" *ngFor="let cafe of org.cafeteriaList;let i = index">
                    <div class="col-12 col-md-12 col-lg-12">
                        <input type="radio" (change)="selectOrg(org,cafe)" name="selectOrg">
                        {{org.organization_name}}-{{cafe.cafeteria_name}}-{{cafe.cafeteria_city}}-{{cafe.location}}
                    </div>
                    <!-- <div class="col-sm-12 col-md-10 col-lg-6">
                        {{org.organization_name}}-{{cafe.cafeteria_city}}-{{cafe.location}}
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary" (click)="modal.close('add')">Add</button>
        </div>
    </div>
</ng-template>
