@import 'src/styles.scss';

.addtnc{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: $secondary-color3;
    
}
.removetnc{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: $primary-color1;
}
.bi-dash-circle{
    // color:red;
    color:red;
    font-size: 20px;
}
.category{
    background-color:#fafafa;
    margin-top: 15px;
    border-radius: 15px;
  
}
