<div class="container adminForm">
  <h3>Add Admin</h3>
  <div class="row mb-4 mt-2 p-3 bg-light rounded">
    <div class="col-12 col-md-2 col-lg-2 image-div">
      <input
        #f
        type="file"
        class="uploadInput"
        accept="image/*"
        capture="camera"
        (change)="handleFileInput($event)"
      />
      <img
        (click)="f.click()"
        [src]="imageUrl ? imageUrl : 'assets/images/dummyUpload.png'"
        class="uploadedImage"
      />
      <div class="uploadIcon" (click)="f.click()">
        Upload <i class="bi bi-upload"></i>
      </div>
    </div>
    <div class="col-12 col-md-10 col-lg-10">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 bgpadding1">
          <label class="labelText" for="adminName">User Name</label>
          <input
            type="text"
            class="form-control"
            id="adminName"
            [(ngModel)]="adminObj.name"
            placeholder="Enter User Name"
          />
        </div>
        <div class="col-12 col-md-4 col-lg-3 bgpadding1">
          <label class="labelText" for="phoneNo">Phone No</label>
          <input
            type="number"
            class="form-control"
            id="phoneNo"
            [(ngModel)]="adminObj.phoneNo"
            placeholder="Enter User Phone No"
          />
        </div>
        <div class="col-12 col-md-4 col-lg-3 bgpadding1">
          <label class="labelText" for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="adminObj.email"
            placeholder="User Email"
          />
        </div>
        <div class="col-12 col-md-4 col-lg-3 bgpadding1">
          <label for="role" class="labelText">User Role</label>
          <div>
            <select class="pointer" name="role" [(ngModel)]="adminObj.role">
              <option disabled selected value>-- select role --</option>
              <option [value]="item.value" *ngFor="let item of roleArr">
                {{ item.text }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 bgpadding1">
          <label for="reference" class="labelText">User Policy</label>
          <select
            class="pointer"
            name="reference"
            [(ngModel)]="adminObj.policy"
          >
            <option disabled selected value>-- select policy --</option>
            <option [value]="item.policy_name" *ngFor="let item of policyArr">
              {{ item.policy_name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 mt-2 p-3 bg-light rounded">
    <ng-container *ngIf="adminObj.role == 'SITEEXE'">
      <div class="col-lg-6">
        <div class="labelText mb-3">Cafeteria</div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Select Cafeteria</mat-label>
          <mat-select [(ngModel)]="selectedItemsCafe" multiple>
            <mat-optgroup
              *ngFor="let group of orglist"
              [label]="group.organization_name"
            >
              <mat-option
                *ngFor="let cafe of group.cafeteriaList"
                [value]="cafe._id"
                >{{ cafe.cafeteria_name }}</mat-option
              >
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container *ngIf="adminObj.role == 'ORGADMIN'">
      <div
        style="width: 300px; margin: 0 auto"
        class="col-12 col-md-3 col-lg-3 bgpadding1"
      >
        <label for="reference" class="labelText">Select Organization</label>
        <!-- Search Box -->
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchQuery"
          (input)="filterOptions()"
          style="
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border: 1px solid #ccc;
          "
        />

        <!-- Dropdown -->
        <select
          style="width: 100%; padding: 8px"
          [(ngModel)]="selectedValue"
          (change)="setOrgDetails()"
        >
          <option *ngFor="let option of filteredOptions" [value]="option._id">
            {{ option.organization_name }}
          </option>
        </select>
      </div>
    </ng-container>
    <ng-container *ngIf="adminObj.role == 'ORGADMIN' && orgDetails">
      <div
        style="width: 300px; margin: 0 auto"
        class="col-12 col-md-3 col-lg-3 bgpadding1"
      >
        <label for="reference" class="labelText">Select Cafeteria</label>
        <!-- Search Box -->
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchQuery"
          (input)="filterOptions()"
          style="
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border: 1px solid #ccc;
          "
        />

        <!-- Dropdown -->
        <select
          style="width: 100%; padding: 8px"
          [(ngModel)]="selectedCafeId"
          (change)="setCafeDetails()"
        >
          <option
            *ngFor="let option of orgDetails.cafeteriaList"
            [value]="option._id"
          >
            {{ option.cafeteria_name }}
          </option>
        </select>
      </div>
    </ng-container>
  </div>

  <div>
    <div class="inline me-2 mt-2" *ngIf="!editMode && true || btnPolicy?.addAdmin">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="addAdmin(adminObj)"
      >
        Submit
      </button>
    </div>
    <div class="inline me-2" *ngIf="editMode && true || btnPolicy?.editAdmin">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="updateAdmin(adminObj)"
      >
        Update
      </button>
    </div>
    <div class="inline me-2">
      <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
