@import '/src/styles.scss';

::ng-deep .mat-mdc-tab-body-content {
    overflow: hidden !important;
}

::ng-deep mat-checkbox label {
    margin-bottom: 0px;
}

.employee-checkbox {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 14px;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.info-icon {
    font-size: 18px;
    color: $primary-offset-color2;
    cursor: pointer;
}