<div class="pt-3 pb-3">
  <div class="d-flex justify-content-between align-items-center">
      <button mat-raised-button color="primary" *ngIf="true || btnPolicy?.addMenu" (click)="open(); resetValues()">Add Menu</button>
    <div class="d-flex align-items-center justify-content- gap-3">
    <button mat-stroked-button color="primary" (click)="openMenu()">Add Master Menu</button>
    <button mat-stroked-button color="primary" (click)="openOutlet()"> Copy Menu </button>
    </div>
  </div>
  <div class="mt-2" *ngIf="showCard">
    <div *ngFor="let group of groupedMenuList">
      <h4 class="mt-3 mb-2 category-heading">{{ group.category }}</h4>
      <div class="rows p-0 d-flex cardDesign" *ngFor="let item of group.items; let i = index">
        <div class="col-1 p-3">
           <div *ngIf="item.itemType === 'Veg'" class="vegIcon typeIcon inline"></div>
                  <div *ngIf="item.itemType === 'NonVeg'" class="nonvegIcon typeIcon inline"></div>
          <img [src]="displayImgUrl + item.imageUrl" class="uploadedImage" class="img"/>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 mx-4 mt-2">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
              <div class="row">
                <div class="col-4">
                  <div class="labelText">ItemName</div>
                  <div class="labelData">{{ item.itemName }}</div>
                </div>
                <div class="col-4">
                  <div class="labelText">Price</div>
                  <div class="labelData">{{ item.price }}</div>
                </div>
                  <div class="col-4">
                  <div class="labelText">Subsidy Amt</div>
                  <div class="labelData">{{ item.subsidy }}</div>
                </div>
                 <div class="col-4" *ngIf="item.category">
                  <div class="labelText">Category</div>
                  <div class="labelData">{{ item.category }}</div>
                </div>
                <div class="col-4">
                  <div class="labelText">Precedence</div>
                  <div class="labelData">{{ item.precedence }}</div>
                </div>
                <div class="col-4">
                  <div class="labelText">Description</div>
                  <div class="labelData">{{ item.description }}</div>
                </div>
                <div class="col-4">
                  <div class="labelText">Meal Time</div>
                  <div class="d-flex justify-content-center flex-wrap">
                  <div class="labelData" *ngFor="let meal of item.mealTimingInfo"><mat-chip>{{meal.mealType}} {{meal.acceptOrderFrom}} {{meal.acceptOrderTill}}</mat-chip></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="row">
                <div class="col-6 col-md-7 col-lg-6 d-flex justify-content-between">
                   <mat-icon *ngIf="true || btnPolicy?.editMenu" color="primary" (click)="edit(item,i)">edit</mat-icon>
                   <mat-icon *ngIf="true || btnPolicy?.deleteMenu" color="warn" (click)="showPopup(item,i)">delete</mat-icon>
                  <div>
                    <mat-checkbox type="checkbox" color="primary"[checked]="item.isActive"
                      (change)="showPopupForItemActivation(item, $event)">Active</mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="center labelText mt-2" *ngIf="!showCard">No items found</div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <div class="header2 bold" id="modal-basic-title" *ngIf="!showUpdateBtn">Add Menu Item</div>
      <div class="header2 bold" id="modal-basic-title" *ngIf="showUpdateBtn">Edit Menu Item</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="form">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <input #f type="file" class="uploadInput" accept="image/*" capture="camera"
              (change)="handleFileInput($event)" />
            <img class="uploadedImage" [src]="
                showUpdateBtn
                  ? displayImgUrl + imageUrl
                  : imageUrl
                  ? imageUrl
                  : 'assets/images/dummyUpload.png'
              " *ngIf="!imageReplaced" />
            <img class="uploadedImage"
              [src]="imageUrl ? (uploadStatus ? imageUrl : displayImgUrl + imageUrl) : 'assets/images/dummyUpload.png'"
              *ngIf="imageReplaced" />
            <div class="uploadIcon" (click)="f.click()">
              Upload <i class="bi bi-upload"></i>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="itemName" />
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Price</label>
            <input type="number" min="1" (keydown)="preventInvalidNumber($event)"
              (paste)="preventInvalidPaste($event, 'decimal')" class="form-control" placeholder="Price"
              formControlName="price" />
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Subsidy Amount (In Rupess ₹)</label>
            <input type="number" min="1" (keydown)="preventInvalidNumber($event)"
              (paste)="preventInvalidPaste($event, 'decimal')" class="form-control" placeholder="Subsidy Amount"
              formControlName="subsidy" />
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <label class="labelText">Item Type</label>
            <div>
              <input class="me-1" type="radio" id="itemTypeVeg" formControlName="itemType" value="Veg" />
              <label class="labelText form-label" for="itemTypeVeg">Veg</label>
              <input class="me-1 ms-3" type="radio" id="itemTypeNonVeg" formControlName="itemType" value="NonVeg" />
              <label class="labelText form-label" for="itemTypeNonVeg">NonVeg</label>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <input class="me-1" type="checkbox" id="isActive" formControlName="isActive" />
            <label class="labelText form-label" for="isActive">Active</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <input class="me-1" type="checkbox" id="doNotChangeInFuture" formControlName="doNotChangeInFuture" />
            <label class="labelText form-label" for="doNotChangeInFuture">Do Not Change subsidy In Future</label>
          </div>


          <div class="col-sm-12">
            <label class="labelText form-label" for="description">Description</label>
            <input class="form-control me-1" type="text" id="description" formControlName="description" />
            <button (click)="defineDescription()" class="createCombo mt-3">
              Create Combo Description
            </button>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label" for="precedence">Precedence</label>
            <input class="form-control me-1" type="number" min="0" placeholder="Precedence" id="precedence"
              formControlName="precedence" min="1" (keydown)="preventInvalidNumber($event)"
              (paste)="preventInvalidPaste($event)" />
          </div>

          <div class="col-sm-12">
            <label class="labelText form-label" for="description">Select MealTime</label>
            <mat-chip-listbox formControlName="mealTimingInfo" aria-label="Type selection" multiple>
              <mat-chip-option *ngFor="let chip of outletObj?.mealTiming" [value]="chip.mealType">
                <div class="chip-option">
                  <div class="title">{{ chip?.mealType }}</div>
                  <div class="time">
                    {{ chip.acceptOrderFrom }} - {{ chip.acceptOrderTill }}
                  </div>
                </div>
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div class="col-sm-12 mt-2">
            <label class="labelText form-label" for="description">Select Category</label>
            <mat-chip-listbox formControlName="category" aria-label="Type selection">
              <mat-chip-option *ngFor="let chip of categoryList" [value]="chip.value">
                <div class="chip-option">
                  <div class="title">{{ chip?.title }}</div>
                </div>
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div class="col-12">
            <label class="labelText form-label" for="precedence">Nutrition Information</label>
            <div class="col-12">
              <label class="labelText form-label">Energy Value (kcal)</label>
              <input type="number" class="form-control" placeholder="Energy Value" formControlName="energyValue" />
            </div>
            <div class="col-12" [formArrayName]="'nutritionList'">
              <label class="labelText">Nutrition List:</label>
              <div class="row"
                *ngFor="let poc of nutrition_Lists.controls; let i = index; let first = first ; let last = last"
                [formGroupName]="i">
                <div class="col-md-3">
                  <label class="form-label">Nutrition Name</label>
                  <select class="form-control" formControlName="nutritionName" placeholder="Nutrition Name">
                    <option value="Protein">Protein</option>
                    <option value="Fat">Fat</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Nutrition Value</label>
                  <input type="number" class="form-control" formControlName="nutritionValue"
                    placeholder="Nutrition Value" />
                </div>
                <div class="col-md-3">
                  <label class="form-label">Nutrition Unit</label>
                  <select class="form-control" formControlName="nutritionUnit" placeholder="Nutrition Unit">
                    <option value="gm">gm</option>
                    <option value="ml">ml</option>
                  </select>
                </div>


                <div class="col-sm-2 col-md-2 col-lg-2">
                  <span *ngIf="last" class='addtnc' (click)="addNutritionLists()">+</span>
                  <span *ngIf="!first" class='removetnc' (click)="removenNutritionLists(i)">-</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="inline bgpadding1">
        <button class="btn-primary btn-sm btn me-2 mt-2" (click)="modal.close('add')" *ngIf="!showUpdateBtn">
          Submit
        </button>
        <button class="btn-success btn-sm btn me-2 mt-2" (click)="modal.close('update')" *ngIf="showUpdateBtn">
          Update
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #comboContent let-modal>
    <div class="modal-header">
      <div class="header2 bold" id="modal-basic-title">Create Combo</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-combo-popup [itemContains]="form.value.itemContains"
        (comboout)="comboout($event); modal.dismiss('cancel')"></app-combo-popup>
    </div>
  </ng-template>

  <ng-template #masterMenu let-modal>
    <div class="modal-header">
      <div class="header2 bold" id="modal-basic-title">Add Menu Item</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row mb-3">
        <!-- Search by Name -->
        <div class="col-sm-12 col-md-6">
          <input type="text" class="form-control" placeholder="Search by name..." [(ngModel)]="searchTerm"
            (input)="applyFilter()" />
        </div>

        <!-- Dropdown for Category -->
        <div class="col-sm-12 col-md-6">
          <select class="form-select" [(ngModel)]="selectedCategory" (change)="applyFilter()">
            <option value="">All Categories</option>
            <option *ngFor="let category of categoryList" [value]="category.value">
              {{ category.title }}
            </option>
          </select>
        </div>
      </div>
      <div class="mt-2">
        <div class="row cardDesign" *ngFor="let item of filteredMasterMenuList; let i = index">
          <div class="col-sm-1 d-flex align-items-center justify-content-center">
            <input type="checkbox" [checked]="isSelected(item)" (change)="onItemToggle(item, $event)" />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mt-sm-2">
            <img [src]="displayImgUrl + item.imageUrl" class="uploadedImage" />
          </div>
          <div class="col-sm-12 col-md-12 col-lg-7 mt-md-4 mt-sm-4">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4 ">
                <div class="row">
                  <div class="col-6 col-md-8 col-lg-8">
                    <div class="labelText">ItemName</div>
                    <div class="labelData">{{ item.itemName }}</div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-4">
                    <div *ngIf="item.itemType === 'Veg'" class="vegIcon typeIcon inline"></div>
                    <div *ngIf="item.itemType === 'NonVeg'" class="nonvegIcon typeIcon inline"></div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4">
                <div class="row">
                  <div class="col-6 col-md-7 col-lg-5">
                    <div class="labelText">Category</div>
                    <div class="labelData">{{ item.category }}</div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4">

                <div class="labelText">Price</div>
                <div class="labelData">{{ item.price }}</div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 mt-3">
                <div class="labelText">Description</div>
                <div class="labelData">{{ item.description }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="center labelText mt-2" *ngIf="filteredMasterMenuList.length==0">No items found</div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="inline bgpadding1">
        <button class="btn-primary btn-sm btn me-2 mt-2" (click)="addMasterMenu()" *ngIf="!showUpdateBtn">
          Add
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #selectOutletModal let-modal>
    <div class="modal-header">
      <div class="header2 bold" id="modal-basic-title">Select Outlet</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row mb-3">
        <div class="col-6">
          <label class="form-label">Outlet Name</label>
          <select class="form-select" [(ngModel)]="selectedOutlet" (change)="onOutletChange()">
            <option [ngValue]="null">Select Outlet</option>
            <option *ngFor="let outlet of outletList" [ngValue]="outlet">
              {{ outlet.outletName }}
            </option>
          </select>
        </div>

      </div>

      <div class="mt-2">
        <div class="row cardDesign" *ngFor="let item of outletMenuList; let i = index">
          <div class="col-sm-1 d-flex align-items-center justify-content-center">
            <input type="checkbox" [checked]="isMenuSelected(item)" (change)="onMenuItemToggle(item, $event)" />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mt-sm-2">
            <img [src]="displayImgUrl + item.imageUrl" class="uploadedImage" />
          </div>
          <div class="col-sm-12 col-md-12 col-lg-7 mt-md-4 mt-sm-4">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4 ">
                <div class="row">
                  <div class="col-6 col-md-8 col-lg-8">
                    <div class="labelText">ItemName</div>
                    <div class="labelData">{{ item.itemName }}</div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-4">
                    <div *ngIf="item.itemType === 'Veg'" class="vegIcon typeIcon inline"></div>
                    <div *ngIf="item.itemType === 'NonVeg'" class="nonvegIcon typeIcon inline"></div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4">
                <div class="row">
                  <div class="col-6 col-md-7 col-lg-5">
                    <div class="labelText">Category</div>
                    <div class="labelData">{{ item.category }}</div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4">

                <div class="labelText">Price</div>
                <div class="labelData">{{ item.price }}</div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 mt-3">
                <div class="labelText">Description</div>
                <div class="labelData">{{ item.description }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="center labelText mt-2" *ngIf="filteredMasterMenuList.length==0">No items found</div>

      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary btn-sm" (click)="addMenuItem()">Add</button>
    </div>
  </ng-template>

</div>