<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-1">
        <img [src]="imageUrl + foodItem.imageUrl" class="itemImage" />
    </div>
    <div class="col-sm-12 col-md-10 col-lg-11">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-6">
                        <div class="labelText">ItemName</div>
                        <div class="labelData">{{foodItem.itemName}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-6">
                        <div class="labelText">itemType</div>
                        <div class="labelData">{{foodItem.itemType}}</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-6">
                        <div class="labelText">itemFlavour</div>
                        <div class="labelData">{{foodItem.itemFlavour}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-6">
                        <div class="labelText">itemServingType</div>
                        <div class="labelData">{{foodItem.itemServingType}}</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-10">
                        <div class="labelText">itemDescription</div>
                        <div class="labelData">{{foodItem.itemDescription}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-2 alignRight">
                        <i class="bi bi-pencil-square pointer bgsidepadding5" (click)="editFoodItem()"></i>
                        <i class="bi bi-trash-fill pointer bgsidepadding5" (click)="showPopup()"></i>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-12">
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">slab1Price</div>
                        <div class="labelData">{{foodItem.slab1Price}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-2">
                        <div class="labelText">slab2Price</div>
                        <div class="labelData">{{foodItem.slab2Price}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-2">
                        <div class="labelText">slab3Price</div>
                        <div class="labelData">{{foodItem.slab3Price}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-2">
                        <div class="labelText">slab4Price</div>
                        <div class="labelData">{{foodItem.slab4Price}}</div>
                    </div>
                    <div class="col-6 col-md-7 col-lg-2">
                        <div class="labelText">Packaging Cost</div>
                        <div class="labelData">{{foodItem.packagingCost}}</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-12">
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Pacakging Description</div>
                        <div class="labelData">{{foodItem.packagingDescription}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>