@import '/src/styles.scss';

.labelText {
  font-size: 13px;
  color: $primary-offset-color2;
}

.labelData {
  font-size: 15px;
  color: $textPrimary;
}

.card {
  border-radius: 10px;
}

.card-header {
  border-bottom: 1px solid $border-color;
}