.hr {
    background: #d5d5d5;
    width: 95%;
    margin: 12px auto;
    height: 0.5px;
}

.outletsDiv {
    padding: 8px 24px;
    h6, li{
        color: #757575;
    }
}

.vendorDetails {
    ul {
        li {
            font-size: 0.8rem;
            color: #535252;
        }
    }
}