<div class="container">
  <div class="row">
    <div class="col-md-8 d-flex align-items-baseline gap-2">
      <button (click)="backToMainPage()" *ngIf="selectedOutlet" class="backBtn">
        &#8592;
      </button>
      <h2 class="m-0">
        {{ selectedOutlet ? "Outlet Details" : "Menu Counters" }}
      </h2>
    </div>

    <div class="col-md-4">
      <input
        type="text"
        (input)="searchFilter($event)"
        class="form-control"
        [placeholder]="selectedOutlet ? 'Search Menu...' : 'Search Outlets...'"
        aria-label="Search Filter"
      />
    </div>
  </div>

  <div class="py-4 container-fluid px-0" *ngIf="filteredOutletList.length > 0">
    <div class="row" *ngIf="!selectedOutlet">
      <div
        class="col-md-4"
        *ngFor="let outlet of filteredOutletList; let i = index"
      >
        <div
          class="card customCard backColor shadow-sm"
          (click)="showOutletDetails(outlet)"
        >
          <img
            class="w-100 outlet-image"
            [src]="
              outlet.imageUrl
                ? imageUrl + outlet.imageUrl
                : 'assets/images/dummyUpload.png'
            "
          />

          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title text-truncate m-0">
                {{ outlet?.outletName }}
              </h5>
              <img
                [src]="
                  outlet?.outletType === 'Veg'
                    ? 'assets/icon/veg.svg'
                    : 'assets/icon/nonveg.svg'
                "
                alt="type"
                class="icon-small"
              />
            </div>

            <!-- Rating Section -->
            <p class="rating mt-2">
              <ng-container *ngFor="let star of getStars(outlet?.rating)">
                <img
                  [src]="
                    star ? 'assets/icon/starOn.svg' : 'assets/icon/starOff.svg'
                  "
                  alt="star"
                  class="star-icon"
                />
              </ng-container>
            </p>

            <!-- Read More Description -->
            <p class="card-text text-muted text-truncate">
              {{
                outlet.showFullDescription
                  ? outlet?.outletDescription
                  : (outlet?.outletDescription | slice : 0 : 100)
              }}
              <span
                *ngIf="
                  !outlet.showFullDescription &&
                  outlet?.outletDescription.length > 100
                "
                >...</span
              >
            </p>

            <p class="text-end">
              <span
                *ngIf="outlet?.outletDescription.length > 100"
                class="read-more"
                (click)="toggleReadMore(i)"
              >
                {{ outlet?.showFullDescription ? "Read Less" : "Read More" }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Selected Outlet Details -->
    <div *ngIf="selectedOutlet">
      <div class="card customCard backColor mb-5 p-4">
        <h4 class="mb-2">Cafeteria Details</h4>
        <p>
          <strong>Name:</strong>
          {{ selectedOutlet?.cafeteriaDetails?.cafeteria_name }}<br />
          <strong>Address:</strong>
          {{ selectedOutlet?.cafeteriaDetails?.address1 }},
          {{ selectedOutlet?.cafeteriaDetails?.address2 }}<br />
          {{ selectedOutlet?.cafeteriaDetails?.location }},
          {{ selectedOutlet?.cafeteriaDetails?.cafeteria_city }}
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3" *ngFor="let menu of filteredMenuList">
          <div class="card customCard backColor p-4">
            <div class="d-flex align-items-center gap-3">
              <img
                class="menu-img"
                [src]="
                  menu.imageUrl
                    ? imageUrl + menu.imageUrl
                    : 'assets/images/dummyUpload.png'
                "
                alt="menu image"
              />
              <div>
                <h5 class="mb-2">
                  {{ menu?.itemName }} ({{ menu?.category }})
                </h5>
                <p class="text-muted">{{ menu?.description }}</p>
                <strong>Price:</strong> ₹{{ menu?.price }}
              </div>
            </div>
            <hr *ngIf="menu?.itemContains.length > 0" class="my-1" />
            <ul>
              <li *ngFor="let item of menu?.itemContains">
                {{ item?.name }} - {{ item?.quantity }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="center labelText mt-2" *ngIf="filteredOutletList.length == 0">
    No Outlets Found
  </div>
</div>
