<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 d-flex align-items-baseline gap-2">
      <button *ngIf="selectedOutlet" mat-flat-button (click)="backToMainPage()">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
      <h3 class="m-0">
        {{ selectedOutlet ? "Outlet Details" : "Menu Counters" }}
      </h3>
    </div>
    <div class="col-md-4">
      <div class="col d-flex justify-content-end align-items-center">
        <div class="input-group" class="text-nowrap d-none d-md-inline-flex">
          <mat-form-field appearance="outline" class="search-input">
            <input matInput type="text" placeholder="Search vendor firm..." (input)="searchFilter($event)" />
            <button mat-icon-button matSuffix aria-label="Search" class="search-icon">
              <mat-icon>search</mat-icon> </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!selectedOutlet" class="row mb-4 mt-3 p-3 bg-light rounded">
    <app-common-outlet-cafe-select [config]="headerConfig"
      (submitted)="filterSubmitted($event)"></app-common-outlet-cafe-select>
  </div>

  <div class="py-4 container-fluid px-0" *ngIf="filteredOutletList.length > 0">
    <!-- All Outlets -->
    <div class="row" *ngIf="!selectedOutlet">
      <div class="col-md-4" *ngFor="let outlet of filteredOutletList; let i = index">
        <div class="card customCard backColor shadow-sm mb-3">
          <img class="w-100 outlet-image" [src]="
              outlet.imageUrl
                ? imageUrl + outlet.imageUrl
                : 'assets/images/dummyUpload.png'
            " />

          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title text-truncate m-0">
                {{ outlet?.outletName }}
              </h5>
            </div>

            <!-- Read More Description -->
            <p class="card-text text-muted">
              {{
              outlet?.showFullDescription
              ? outlet?.outletDescription
              : (outlet?.outletDescription | slice : 0 : 100)
              }}
              <span *ngIf="
                  !outlet.showFullDescription &&
                  outlet?.outletDescription.length > 100
                ">...</span>
            </p>

            <div class="d-flex justify-content-between align-items-center">
              <button (click)="showOutletDetails(outlet)" class="btn btn-outline-primary btn-sm">
                View Menu List
              </button>
              <span *ngIf="outlet?.outletDescription.length > 100" class="read-more" (click)="toggleReadMore(i)">
                {{ outlet?.showFullDescription ? "Read Less" : "Read More" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Selected Outlet -->
    <div *ngIf="selectedOutlet">
      <div class="card customCard backColor mb-5 p-4">
        <h4 class="mb-2">Cafeteria Details</h4>
        <p>
          <strong>Name:</strong>
          {{ selectedOutlet?.cafeteriaDetails?.cafeteria_name }}<br />
          <strong>Address:</strong>
          {{ selectedOutlet?.cafeteriaDetails?.address1 }},
          {{ selectedOutlet?.cafeteriaDetails?.address2 }}<br />
          {{ selectedOutlet?.cafeteriaDetails?.location }},
          {{ selectedOutlet?.cafeteriaDetails?.cafeteria_city }}
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3" *ngFor="let menu of filteredMenuList">
          <div class="card customCard backColor p-4">
            <div class="d-flex align-items-center gap-3">
              <img class="menu-img" [src]="
                  menu.imageUrl
                    ? imageUrl + menu.imageUrl
                    : 'assets/images/dummyUpload.png'
                " alt="menu image" />
              <div>
                <h5 class="mb-2">
                  {{ menu?.itemName }} ({{ menu?.category }})
                </h5>
                <p class="text-muted">{{ menu?.description }}</p>
                <strong>Price:</strong> ₹{{ menu?.price }}
              </div>
            </div>
            <hr *ngIf="menu?.itemContains?.length > 0" class="my-1" />
            <ul>
              <li *ngFor="let item of menu?.itemContains">
                {{ item?.name }} - {{ item?.quantity }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="center labelText mt-2" *ngIf="filteredOutletList.length == 0">
    No Outlets Found
  </div>
</div>