@use '/src/styles/theme/mixins' as mixin;
@use '/src/styles.scss' as color;

.backColor {
  background: #faf9f6;
}

.outlet-image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 14rem;
  object-fit: cover;
}

.searchDiv {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0px, -50%);
  }

  input {
    padding-left: 35px;
  }
}

.menu-img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
}

.center {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #888;
}

.rating {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.star-icon {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.read-more {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 5px;
}

.read-more:hover {
  text-decoration: underline;
  color: #007bff;
}

.text-right {
  text-align: right;
}

.backBtn {
  font-size: 1.9rem;
  background: none;
  border: none;
}

.icon-small {
  width: 15px;
  height: 15px;
}

.input-group {
  width: 17%;
}

.search-icon {
  margin-top: -5px;
}

::ng-deep .search-input .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .search-input .mat-mdc-form-field-flex {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 34px !important;
  height: 34px !important;
}

::ng-deep .search-input .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 30px !important;
}

::ng-deep .search-input .mat-mdc-input-element {
  padding: 0 !important;
  margin: 0 !important;
  height: 32px !important;
  line-height: 30px !important;
}