<div class="container-fluid">
  <div class="align-items-center justify-content-between">
    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between pe-1 ps-3" *ngIf="showSearchSection">
      <div class="g-0">
        <h4 class="m-0 fw-semibold">Outlet</h4>
      </div>
      <div class="col d-flex justify-content-end align-items-center gap-3 p-0">
        <div class="text-nowrap d-none d-md-inline-flex">
          <mat-form-field appearance="outline" class="search-input">
            <input matInput type="text" placeholder="Search outlet..." [formControl]="searchControl" />
            <button mat-icon-button matSuffix aria-label="Search" class="search-icon">
              <mat-icon>search</mat-icon> </button>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="text-nowrap d-none d-md-inline-flex" (click)="addOutlet()">
          Add Outlet
        </button>
        <button mat-icon-button color="primary" class="d-inline-flex d-md-none" (click)="addOutlet()"
          matTooltip="Add Vendor" aria-label="Add Vendor">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <div class="input-group d-inline-flex d-md-none">
        <mat-form-field appearance="outline" class="search-input">
          <input matInput type="text" placeholder="Search Vendor..." [formControl]="searchControl" />
          <button mat-icon-button matSuffix aria-label="Search" class="search-icon">
            <mat-icon>search</mat-icon> </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div *ngIf="outletList && outletList.length === 0" class="text-center text-muted my-5">
  No Outlet Found
</div>
<div *ngIf="outletList && outletList.length > 0 && showSearchSection">
    <app-outlet-card [outlet]="pagedOutLet" (view)="viewOutlet($event)"></app-outlet-card>
</div>
<div class="center mt-5" *ngIf="outletList.length === 0">No Records Found</div>
<div class="bgsidepadding2" *ngIf="!showSearchSection && outletList.length > 0">
  <app-outlet-view [outlet]="selectedOutlet" (back)="toggleShowOrder($event)"></app-outlet-view>
</div>