@import '/src/styles.scss';

.outlet-header {
    @include responsive-header;
    background-color: transparent;
}

.header-actions {
    @include responsive-flex-wrapper(1rem);
    flex-grow: 1;
    justify-content: flex-end;

    .input-wrapper {
        min-width: 200px;

        @media(max-width: 768px) {
            width: 100%;
            display: block !important;
        }
    }
}

.search-input {
    @include mat-form-field-responsive();
    background-color: white;
    border-radius: 10px;
}