<div class="bgpadding1">
  <div class="labelText">Search Admin</div>
  <div class="right addBtn" (click)="addAdmin()" *ngIf="true || btnPolicy?.addAdmin">
    +
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-4 col-lg-3 mt-1">
      <input
        type="text"
        class="form-control"
        placeholder="Admin Name"
        [(ngModel)]="searchObj.adminName"
      />
    </div>
    <div class="col-12 col-md-4 col-lg-3 mt-1">
      <input
        type="text"
        class="form-control"
        placeholder="Admin Id"
        [(ngModel)]="searchObj.adminId"
      />
    </div>
    <div class="col-12 col-md-4 col-lg-3 mt-1">
      <input
        type="number"
        class="form-control"
        placeholder="phoneNo"
        [(ngModel)]="searchObj.phoneNo"
      />
    </div>
    <div class="col-12 col-md-4 col-lg-3 mt-1">
      <input
        type="email"
        class="form-control"
        placeholder="email"
        [(ngModel)]="searchObj.email"
      />
    </div>
    <div class="col-12 col-md-4 col-lg-3 mt-2">
      <button
        type="button"
        class="btn btn-success btn-sm"
        (click)="searchAdmin()"
      >
        Search
      </button>
    </div>
  </div>
  <div class="mt-2" *ngIf="adminList.length > 0">
    <div *ngFor="let admin of adminList" class="cardDesign">
      <div class="row">
        <div class="col-2 col-md-2 col-lg-1">
          <img
            class="adminImage"
            [src]="
              admin.imageUrl
                ? imageUrl + admin.imageUrl
                : 'assets/images/dummyUpload.png'
            "
          />
        </div>
        <div class="col-4 col-md-1 col-lg-1 labelData">{{ admin.loginId }}</div>
        <div class="col-4 col-md-1 col-lg-1 labelData">{{ admin.role }}</div>
        <div class="col-4 col-md-2 col-lg-3 labelData">{{ admin.name }}</div>
        <div class="col-4 col-md-2 col-lg-2 labelData">{{ admin.phoneNo }}</div>
        <div class="col-9 col-md-3 col-lg-3 labelData">{{ admin.email }}</div>
        <div class="col-3 col-md-2 col-lg-1">
          <div
            class="inline right edit"
            *ngIf="true || btnPolicy?.editAdmin"
            (click)="editAdmin(admin)"
          >
            <i class="bi bi-pencil-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center" *ngIf="adminList.length === 0">No Records Found</div>
</div>
