<div class="container-fluid">
    <div class="align-items-center justify-content-between">
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between pe-1 ps-3"
            *ngIf="showSearchSection">
            <div class="g-0">
                <h4 class="m-0 fw-semibold">Event Popups</h4>
            </div>
            <div class="col d-flex justify-content-end align-items-center gap-3 p-0">
                <div class="text-nowrap d-none d-md-inline-flex">
                    <mat-form-field appearance="outline" class="search-input">
                        <input matInput type="text" placeholder="Search events by Org..." [formControl]="searchControl" />
                        <button mat-icon-button matSuffix aria-label="Search" class="search-icon">
                            <mat-icon>search</mat-icon> </button>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="text-nowrap d-none d-md-inline-flex"
                    (click)="addEvent()">
                    Add Event
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="eventList && eventList.length === 0" class="text-center text-muted my-5">
    No Events Found
</div>
<div *ngIf="eventList && eventList.length > 0 && showSearchSection">
    <app-event-card [event]="pagedEvent" (view)="viewEvent($event)" (refresh)="getEvents()"></app-event-card>
</div>
<div class="" *ngIf="!showSearchSection && eventList.length > 0">
    <app-event-view [event]="selectedEvent" (back)="toggleShowOrder($event)"></app-event-view>
</div>