<h2 mat-dialog-title>Manage Weekly Menu</h2>
<mat-dialog-content class="p-3">
    <div *ngIf="selectedSource === '' && !weekMenuList.length">
        <div class="row g-3">
            <div class="col-12 col-md-3" *ngFor="let source of menuSources">
                <button mat-raised-button [color]="source.color" class="w-100 py-2" (click)="source.action(data)">
                    {{ source.label }}
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="selectedSource" class="mt-5">
        <h6>Select Source of Weekly Menu</h6>
        <div *ngIf="selectedSource === 'mealawe'" class="mt-2">
            <mat-form-field appearance="outline" style="min-width: 100px;">
                <mat-label>Select Cluster</mat-label>
                <mat-select [(ngModel)]="selectedClusterId" (selectionChange)="onClusterChange(data)" required>
                    <mat-option *ngFor="let cluster of availableClusters" [value]="cluster.clusterId">
                        {{ cluster.clusterName | uppercase }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!selectedClusterId">
                    Cluster selection is required
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="selectedSource === 'otherCafe' ||  selectedSource === 'otherOrgCafe'" class="mt-2">
            <mat-form-field class="me-3" appearance="outline" style="min-width: 100px;"
                *ngIf="selectedSource === 'otherOrgCafe'">
                <mat-label>Select Organization</mat-label>
                <mat-select [(ngModel)]="selectedOrg" (ngModelChange)="getCafeteriaListByOrg()">
                    <mat-option *ngFor="let org of orgList" [value]="org">
                        {{ org.organization_name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!selectedOrg">
                    Organization selection is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="min-width: 100px;">
                <mat-label>Select Cafeteria</mat-label>
                <mat-select [(ngModel)]="selectedCafeteria" (ngModelChange)="getVirtualCafeteriaByCafeteria()">
                    <mat-option *ngFor="let cafe of cafeteriaList" [value]="cafe">
                        {{ cafe.cafeteria_name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!selectedCafeteria">
                    Cafeteria selection is required
                </mat-error>
            </mat-form-field>
            <div *ngIf="selectedCafeteria && weekMenuList.length === 0"
                class="alert alert-warning p-2 mt-2 d-flex justify-content-between align-items-center">
                <span>
                    This cafeteria has no weekly menu.<br>
                    Please select another cafeteria or change the create type.
                </span>
                <button mat-stroked-button color="primary" (click)="resetCreateType()">
                    Reset
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="weekMenuList.length || selectedSource === 'custom'" class="mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button mat-stroked-button color="primary" (click)="addNewWeek()">
                + Add Week
            </button>
        </div>
        <mat-tab-group [selectedIndex]="activeWeekIndex">
            <mat-tab *ngFor="let week of weekMenuList; let i = index" [label]="'Week ' + week.weekNumber">
                <div class="px-3 pt-3 d-flex align-items-center gap-3">
                    <mat-checkbox [(ngModel)]="week.isSelected" (change)="selectWeek(i)">
                        Set as Active Week
                    </mat-checkbox>
                    <span class="badge bg-success" *ngIf="week.isSelected">Active Week</span>
                    <button mat-icon-button color="warn" (click)="deleteWeek(i)" matTooltip="Delete Week">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-error *ngIf="showRequiredError && !week.isSelected">
                        Please select an active week
                    </mat-error>
                </div>
                <mat-tab-group>
                    <mat-tab *ngFor="let type of ['veg', 'nonveg']" [label]="type | titlecase">
                        <div class="p-3">
                            <div *ngFor="let item of (type === 'veg' ? week.vegMenuList : week.nonvegMenuList)"
                                class="border rounded p-3 mb-3">
                                <div class="row g-3">
                                    <div class="col-12 col-md-3">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Day</mat-label>
                                            <input matInput [value]="item.day" disabled />
                                        </mat-form-field>
                                    </div>
                                    <div class="col" *ngIf="item.breakfast && categoryKey === 'breakfast'">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Breakfast</mat-label>
                                            <input matInput [(ngModel)]="item.breakfast.description"
                                                placeholder="Breakfast description" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col" *ngIf="item.lunch && categoryKey !== 'breakfast'">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Lunch</mat-label>
                                            <input matInput [(ngModel)]="item.lunch.description"
                                                placeholder="Lunch description" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col" *ngIf="item.dinner && categoryKey !== 'breakfast'">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Dinner</mat-label>
                                            <input matInput [(ngModel)]="item.dinner.description"
                                                placeholder="Dinner description" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="saveMenu()">
        Save
    </button>
    <button mat-stroked-button color="warn" mat-dialog-close>
        Cancel
    </button>
</mat-dialog-actions>