<div class="org-view-container">

  <!-- Header Section -->
  <div class="org-header-card">
    <div class="header-left">
      <button mat-icon-button class="back-btn" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="title-section">
        <h1 class="page-title">
          {{ organization?.organization_name ||'Organization Details' }}
        </h1>
        <p class="page-subtitle">
          Manage organization menus, employees & settings
        </p>
      </div>
    </div>
  </div>

  <!-- Main Tabs -->
  <div class="tabs-container">
    <div class="main-tabs" #mainTabsContainer (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()"
      (mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)">
      <button *ngFor="let view of orgViewList; let i = index" class="tab-btn"
        [class.active]="selectedMainTabIndex === i" (click)="onMainTabChange(i)">
        <mat-icon class="tab-icon">
          {{ view.icon }}
        </mat-icon>
        <span>{{ view.name }}</span>
      </button>
    </div>
  </div>
  <!-- Tab Content -->
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>