<div class="container-fluid pb-4">
  <div class="cardDesign p-4 mb-4">
    <div class="row g-3">
      <!-- Order Status -->
      <div class="col-12">
        <label class="labelText mb-2 d-block">Order Status</label>
        <div class="d-flex flex-wrap gap-3">
          <mat-checkbox *ngFor="let status of statusList" [(ngModel)]="status.selected" color="primary">
            {{status.name}}
          </mat-checkbox>
        </div>
      </div>

      <!-- Filters -->
      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 dense-field">
          <mat-label>Order No.</mat-label>
          <input matInput type="text" [(ngModel)]="searchObj.orderNo" placeholder="Order No">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 dense-field">
          <mat-label>Outlet Name</mat-label>
          <input matInput type="text" [(ngModel)]="searchObj.outletName" placeholder="Outlet Name">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 dense-field">
          <mat-label>Customer Phone No</mat-label>
          <input matInput type="text" [(ngModel)]="searchObj.customerPhoneNo" placeholder="Phone No">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 dense-field">
          <mat-label>Customer Name</mat-label>
          <input matInput type="text" [(ngModel)]="searchObj.customerName" placeholder="Customer Name">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label class="labelText mb-1 d-block">From</label>
          <input type="date" class="form-control" [(ngModel)]="fromDate" style="height: 50px;">
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label class="labelText mb-1 d-block">To</label>
          <input type="date" class="form-control" [(ngModel)]="toDate" style="height: 50px;">
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 d-flex align-items-end justify-content-end gap-2">
        <button class="btn-add" mat-raised-button color="primary" (click)="searchOrder()">
          <mat-icon>search</mat-icon> Search
        </button>
        <button class="btn-delete" mat-stroked-button color="warn" (click)="resetForm()">
          <mat-icon>restart_alt</mat-icon> Reset
        </button>
      </div>
    </div>
  </div>

  <!-- Results -->
  <div class="row g-4" *ngIf="orderList.length > 0">
    <div [ngClass]="orderList.length === 1 ? 'col-12' : 'col-12 col-md-6'" *ngFor="let order of orderList">
      <app-outlet-order-card [order]="order"></app-outlet-order-card>
    </div>

    <div class="text-center mt-3" *ngIf="nextOn">
      <button mat-stroked-button color="primary" (click)="getMore()">Load More</button>
    </div>
  </div>

  <div class="center mt-5 text-muted fw-medium" *ngIf="orderList.length === 0">
    No Records Found
  </div>
</div>