@use "/src/styles/theme/mixins" as mixin;
@use "/src/styles.scss" as color;

.input {
  @include mixin.mat-form-field-responsive($display: flex);
}

.admin-header {
  @include mixin.responsive-header;
  background-color: transparent;
  align-items: center;
}

.policy-container {
//   padding: 10px 5px;

  mat-card {
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 1rem;
  }

  .section-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    mat-chip-option {
    //   background: color.$primary-offset-color1;
      color: white;

      &.mdc-evolution-chip--selected {
        // background: color.$primary-color !important;
        font-weight: 600;
      }
    }
  }

  .select-btn {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 20px;
  }

  .action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }

  .error-msg {
    margin-top: 10px;
    color: red;
    font-size: 13px;
  }
}
