<div class="container-fluid" *ngIf="!isViewCustomer">
    <h3>Users</h3>
    <div class="container-fluid">
        <div class="row mb-4 mt-3 p-3 bg-light rounded">
            <!-- Organization Selection -->
            <div class="col-12 col-md-3">
                <label class="labelText">Organization</label>
                <select class="form-select" [(ngModel)]="filterObj.orgId" [disabled]="orgAdmin.role === 'ORGADMIN'"
                    (change)="setOrgDetails()">
                    <option selected disabled value="">Select Organization</option>
                    <option *ngFor="let option of orglist" [value]="option._id">
                        {{ option.organization_name }}
                    </option>
                </select>
            </div>

            <div class="col-12 col-md-3 submitBtnDiv">
                <button (click)="submitFilter()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="searchDiv">
                <i class="bi bi-search"></i>
                <input type="text" (input)="searchFilter($event)" class="form-control" placeholder="Search"
                    aria-label="Search Filter" aria-describedby="basic-addon2" />
            </div>
        </div>
    </div>

    <div class="mt-2 pb-4" *ngIf="filteredCustomerList.length > 0">
        <!-- <div class="row btnIconDiv">
      <button (click)="changeDataView()" class="btn iconBtn " *ngIf="!isChartShow"><i
          class="bi bi-graph-down"></i></button>
      <button (click)="changeDataView()" class="btn iconBtn " *ngIf="isChartShow"><i class="bi bi-table"></i></button>
    </div> -->
        <div *ngFor="let user of filteredCustomerList" class="cardDesign my-1">
            <div class="row w-full">
                <div class="col-md-2">
                    <div class="labelText">Name</div>
                    <div class="labelData">{{ user?.userName }}</div>
                </div>
                <div class="col-md-2">
                    <div class="labelText">Phone No</div>
                    <div class="labelData">{{ user?.phoneNo }}</div>
                </div>
                <div class="col-md-3">
                    <div class="labelText">Email</div>
                    <div class="labelData">
                        {{ user?.email }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="labelText">Employee Info</div>
                    <div class="labelData">{{ user?.employeeInfo?.org_name }} | {{user?.employeeInfo?.empId}}</div>
                </div>
                <div class="col-2  inline right pointer header3" ><i
                        class="bi bi-eye editDeltesaveIcon" (click)="viewCustomer(user)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="center labelText mt-2" *ngIf="filteredCustomerList.length == 0">
        No Users found
    </div>
</div>

<ng-container *ngIf="isViewCustomer" >
    <app-customer-view [userDetails]="selectedUser" (backBtnEmitter)="backBtnPress()"></app-customer-view>
</ng-container>