<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2">
            <input #f type="file" class="uploadInput" accept="image/*" capture="camera"
                (change)="handleFileInput($event)">
            <img (click)="f.click()" [src]="imageUrl?imageUrl:'assets/images/dummyUpload.png'" class="uploadedImage" />
            <div class="uploadIcon" (click)="f.click()">Upload <i class="bi bi-upload"></i></div>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <label class="labelText" for="itemName">Name</label>
            <input type="text" class="form-control" id="itemName" [(ngModel)]="foodItemObj.itemName"
                placeholder="Enter Item Name">
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <label class="labelText" for="itemName">Packaging Cost</label>
            <input type="text" class="form-control" id="itemName" [(ngModel)]="foodItemObj.packagingCost"
                placeholder="Packaging Cost">
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <label class="labelText" for="itemName">Packaging Description</label>
            <input type="text" class="form-control" id="itemName" [(ngModel)]="foodItemObj.packagingDescription"
                placeholder="Packaging Description">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="labelText">Item Type</label>
            <div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemType == 'Veg'}"
                        (click)="foodItemObj.itemType = 'Veg'">
                        <span class="tileLabel header4 countTile">Veg</span>
                    </span>
                </div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemType == 'NonVeg'}"
                        (click)="foodItemObj.itemType = 'NonVeg'">
                        <span class="tileLabel header4 countTile">NonVeg</span>
                    </span>
                </div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemType == 'Jain'}"
                        (click)="foodItemObj.itemType = 'Jain'">
                        <span class="tileLabel header4 countTile">Jain</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 mt-1">
            <label class="labelText" for="itemFlavour">Flavour</label>
            <div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemFlavour == 'Sweet'}"
                        (click)="foodItemObj.itemFlavour = 'Sweet'">
                        <span class="tileLabel header4 countTile">Sweet</span>
                    </span>
                </div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemFlavour == 'Sour'}"
                        (click)="foodItemObj.itemFlavour = 'Sour'">
                        <span class="tileLabel header4 countTile">Sour</span>
                    </span>
                </div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemFlavour == 'Normal'}"
                        (click)="foodItemObj.itemFlavour = 'Normal'">
                        <span class="tileLabel header4 countTile">Normal</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-1">
            <label class="labelText" for="itemFlavour">Serving Type</label>
            <div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemServingType == 'perPerson'}"
                        (click)="foodItemObj.itemServingType = 'perPerson'">
                        <span class="tileLabel header4 countTile">perPerson</span>
                    </span>
                </div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemServingType == 'perUnit'}"
                        (click)="foodItemObj.itemServingType = 'perUnit'">
                        <span class="tileLabel header4 countTile">perUnit</span>
                    </span>
                </div>
                <div class="inline me-2">
                    <span [ngClass]="{tileSelected: foodItemObj.itemServingType == 'perQuantity'}"
                        (click)="foodItemObj.itemServingType = 'perQuantity'">
                        <span class="tileLabel header4 countTile">perQuantity</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 mt-1">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3 inline">
                    <label class="labelText" for="slab1Price">Slab 1</label>
                    <input type="number" class="form-control" id="slab1Price" [(ngModel)]="foodItemObj.slab1Price"
                        placeholder="Slab 1 price">
                </div>
                <div class="col-6 col-md-6 col-lg-3 inline">
                    <label class="labelText" for="slab2Price">Slab 2</label>
                    <input type="number" class="form-control" id="slab2Price" [(ngModel)]="foodItemObj.slab2Price"
                        placeholder="Slab 2 price">
                </div>
                <div class="col-12 col-md-6 col-lg-3 inline">
                    <label class="labelText" for="slab3Price">Slab 3</label>
                    <input type="number" class="form-control" id="slab3Price" [(ngModel)]="foodItemObj.slab3Price"
                        placeholder="Slab 3 price">
                </div>
                <div class="col-12 col-md-6 col-lg-3 inline">
                    <label class="labelText" for="slab4Price">Slab 4</label>
                    <input type="number" class="form-control" id="slab4Price" [(ngModel)]="foodItemObj.slab4Price"
                        placeholder="Slab 4 price">
                </div>
            </div>
            
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <label class="labelText" for="itemdescription">Description</label>
            <textarea class="form-control" id="itemdescription" [(ngModel)]="foodItemObj.itemDescription"
                placeholder="item description"></textarea>
        </div>
    </div>
    
    <div class="mt-2">
        <div class="inline me-2" *ngIf="editType === 'new'">
            <button type="button" class="btn btn-primary btn-sm" (click)="addNewItem(foodItemObj)">Submit</button>
        </div>
        <div class="inline me-2" *ngIf="editType === 'edit'">
            <button type="button" class="btn btn-primary btn-sm" (click)="updateFoodItem(foodItemObj)">Update</button>
        </div>
        <div class="inline me-2">
            <button type="button" class="btn btn-danger btn-sm" (click)="goToPreviousPage('cancel')">Cancel</button>
        </div>
    </div>
</div>