@import "src/styles.scss";

.uploadedImage{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.uploadInput{
    display: none;
}

.uploadIcon{
    width: 84px;
    background: $secondary-color3;
    border-radius: 5px;
    text-align: center;
    color: white;
    position: relative;
    top: -15px;
    left: 30px;
    font-size: 13px;
    padding: 4px 0px;
    cursor: pointer;
}

.group-div,.region-div,.search-div{
    span{
        margin-bottom:12px;
    }
}