<div class="outlet-view-container">

    <!-- Tab Navigation -->
    <div class="tabs-container">
        <div class="main-tabs">
            <button *ngFor="let view of outletViewList; let i = index" class="tab-btn"
                [class.active]="selectedtab === i" (click)="selectedtab = i; gotToTab(view.path)">
                <mat-icon class="tab-icon">{{ getTabIcon(view.path) }}</mat-icon>
                <span>{{ view.name }}</span>
            </button>
        </div>
    </div>

    <!-- Tab Content -->
    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>