<div class="admin-header">
  <div>
    <h4 class="m-0 fw-semibold">Checklist Questions</h4>
  </div>

  <div class="header-actions">
    <!-- TYPE FILTER -->
    <div class="input-wrapper">
      <mat-form-field appearance="outline" class="w-100 search-input">
        <mat-select [formControl]="typeControl" placeholder="All Types">
          <mat-option value="">All Types</mat-option>
          <mat-option *ngFor="let type of checklistTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- SEARCH FIELD -->
    <div class="input-wrapper">
      <mat-form-field appearance="outline" class="w-100 search-input">
        <input matInput type="text" placeholder="Search question..." [formControl]="searchControl" />
        <button mat-icon-button matSuffix aria-label="Search" class="search-icon">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- ADD BUTTON -->
    <button class="btn-add" mat-raised-button color="primary" (click)="openQuestionDialog('add')"
      *ngIf="true || btnPolicy?.addChecklist">
      <mat-icon>add_circle</mat-icon>
      Add Checklist Question
    </button>
  </div>
</div>

<div class="container-fluid">
  <div *ngIf="filteredChecklistQuestions && filteredChecklistQuestions.length === 0" class="center mt-5">
    No Checklist Question Found
  </div>

  <div *ngIf="filteredChecklistQuestions && filteredChecklistQuestions.length > 0">
    <div *ngFor="let Question of pagedChecklistQuestions" class="cardDesign mb-2">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-11">
            <div class="row align-items-center">
              <div class="col-md-3 col-12 mb-2 mb-md-0">
                <div class="labelText">Type</div>
                <div class="labelData">
                  {{ Question.checklistQuestionType || 'NA' }}
                </div>
              </div>
              <div class="col-md-9 col-12">
                <div class="labelText">Question</div>
                <div class="labelData">
                  {{ Question.checklistQuestion }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1 d-flex align-items-center gap-3 justify-content-end">
            <mat-icon *ngIf="true || btnPolicy?.editChecklist" (click)="openQuestionDialog('edit', Question)"
              class="action-icon edit" matTooltip="Edit">
              edit
            </mat-icon>

            <mat-icon *ngIf="true || btnPolicy?.deleteChecklist" (click)="showPopup(Question)"
              class="action-icon delete" matTooltip="Delete">
              delete
            </mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="paginator">
      <mat-paginator [length]="filteredChecklistQuestions.length || 0" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[10, 50, 100, 200, 500]" (page)="onPageChange($event)" aria-label="Select page"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>