<div class="container-fluid py-3 dashboardContainer">
  <!-- <h3>Dashboard</h3> -->
  <mat-form-field appearance="outline">
    <mat-label>Select Organization</mat-label>
    <mat-select (selectionChange)="changeOrganization($event)">
      <mat-option *ngFor="let org of orglist" [value]="org._id">
        {{org?.organization_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="orgSelected">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Dashboard">
        <div class="py-3">
          <app-org-dashboard [adminOrg]="orgSelected" [isOrgSelected]="isOrgSelected"></app-org-dashboard>
        </div>
      </mat-tab>
      <mat-tab label="Menu Items">
        <div class="py-3">
          <app-org-menu-items [adminOrg]="orgSelected"></app-org-menu-items>
        </div>
      </mat-tab>
      <mat-tab label="Orders">
        <div class="py-3">
          <app-org-orders [adminOrg]="orgSelected"></app-org-orders>
        </div>
      </mat-tab>
      <mat-tab label="Reviews">
        <div class="py-3">
          <app-org-reviews [adminOrg]="orgSelected"></app-org-reviews>
        </div>
      </mat-tab>
      <mat-tab label="Users">
        <div class="py-3">
          <app-customer [adminOrg]="orgSelected"></app-customer>
        </div>
      </mat-tab>
      <mat-tab label="Vendor Info">
        <div class="py-3">
          <app-org-vendor-info [adminOrg]="orgSelected"></app-org-vendor-info>
        </div>
      </mat-tab>
      <mat-tab label="Menu Counters">
        <div class="py-3">
          <app-org-menu-counters [adminOrg]="orgSelected"></app-org-menu-counters>
        </div>
      </mat-tab>
      <mat-tab label="Audit Reports">
        <div class="py-3">
          <app-audit-report [adminOrg]="orgSelected"></app-audit-report>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="!orgSelected">
    Please Select Organization
  </div>
</div>