<div>
    <div *ngIf="orderList.length > 0">
        <ul *ngFor="let order of orderList" class="list-group">
            <li class="list-group-item">      
            <!-- <app-order-subscription-package-card [orderInput]="order" [parentPage]="'user'" [showDeliveryDetail]="false"></app-order-subscription-package-card> -->
            </li> 
        </ul> 
        <button *ngIf="nextOn" type="button" class="btn white primary2BG header5 btnMargin"
            (click)="getMore()">Load More</button>    
    </div>

    <div class="center" *ngIf="orderList.length === 0">
        No Records Found
    </div>
</div>