<div class="col-12 card-wrapper">
    <marquee>Welcome</marquee>
</div>
<!-- <div class="container-fluid mb-3 mt-5">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1"
        style="justify-content: space-between;">
        <div class="dropdown inline dateTimecal mr-2">
            <button class="btn btn-outline-secondary no-hover d-flex align-items-center justify-content-between"
                style="border-radius: 20px;width: 110px;" (click)="fromDatePicker.open()">
                <span id="fromDateid">
                    <span *ngIf="!fromDate">Date</span>
                    <span *ngIf="fromDate">{{ fromDate | date: 'mediumDate' }}</span>
                </span>
                <i class="bi bi-calendar ms-2"></i>
            </button>
            <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate" hidden>
            <mat-datepicker #fromDatePicker [touchUi]="true" [panelClass]="'custom-datepicker'">
            </mat-datepicker>
        </div>

        <div class="dropdown inline dateTimecal mr-2">
            <button class="btn btn-outline-secondary no-hover d-flex align-items-center justify-content-between"
                style="border-radius: 20px;width: 110px;" (click)="fromDatePicker.open()">
                <span id="fromDateid">
                    <span *ngIf="!fromDate">City</span>
                    <span *ngIf="fromDate">{{ fromDate | date: 'mediumDate' }}</span>
                </span>
                <i class="bi bi-calendar ms-2"></i>
            </button>
            <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate" hidden>
            <mat-datepicker #fromDatePicker [touchUi]="true" [panelClass]="'custom-datepicker'">
            </mat-datepicker>
        </div>

        <div class="dropdown inline dateTimecal mr-2">
            <button class="btn btn-outline-secondary no-hover d-flex align-items-center justify-content-between"
                style="border-radius: 20px;width: 110px;" (click)="fromDatePicker.open()">
                <span id="fromDateid">
                    <span *ngIf="!fromDate">Vendor</span>
                    <span *ngIf="fromDate">{{ fromDate | date: 'mediumDate' }}</span>
                </span>
                <i class="bi bi-calendar ms-2"></i>
            </button>
            <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate" hidden>
            <mat-datepicker #fromDatePicker [touchUi]="true" [panelClass]="'custom-datepicker'">
            </mat-datepicker>
        </div>

        <div class="dropdown inline dateTimecal mr-2">
            <button class="btn btn-outline-secondary no-hover d-flex align-items-center justify-content-between"
                style="border-radius: 20px;width: 110px;" (click)="fromDatePicker.open()">
                <span id="fromDateid">
                    <span *ngIf="!fromDate">Company</span>
                    <span *ngIf="fromDate">{{ fromDate | date: 'mediumDate' }}</span>
                </span>
                <i class="bi bi-calendar ms-2"></i>
            </button>
            <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate" hidden>
            <mat-datepicker #fromDatePicker [touchUi]="true" [panelClass]="'custom-datepicker'">
            </mat-datepicker>
        </div>
    </div>
</div>

<div class="container-fluid mb-3 mt-4">
    <div class="row col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1"
        style="justify-content: space-between;">
        <div class="card col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-1"
            style="background-color: #ffca22;border: 4px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">TOTAL SALES</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;text-align: center;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;text-align: center;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>
        <div class="card col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-1"
            style="background-color: #0e49b5;border: 4px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">TOTAL ORDERS</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;text-align: center;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;text-align: center;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>
        <div class="card col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-1"
            style="background-color: #f94e4e;border: 4px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">CANCELLED AMOUNT</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;text-align: center;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;text-align: center;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1"
        style="justify-content: space-between;">
        <div class="card col-sm-12 col-md-12 col-lg-5 col-xl-3 mb-2"
            style="background-color: #3962c9;border: 2px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">TOTAL ORDERS</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>
        <div class="card col-sm-12 col-md-12 col-lg-5 col-xl-3 mb-2"
            style="background-color: #4c80e5;border: 2px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">TOTAL ORDERS</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-12 col-lg-5 col-xl-3 mb-2"
            style="background-color: #6fa0ef;border: 2px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">TOTAL ORDERS</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-12 col-lg-5 col-xl-3 mb-2"
            style="background-color: #3962c9;border: 2px solid #fff;">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;text-align: center;">TOTAL ORDERS</h5>
                <div style="display: flex;" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">With GST: {{withgstsales}}</div>
                    <div style="border: 1px solid #fff;padding: 5px;color: #fff;"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6">GST Amount:{{gstamtsales}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1"
        style="justify-content: space-between;">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
            <highcharts-chart *ngIf="showChart1" [Highcharts]="highcharts" [options]="chartOptions1"
                style="width: 100%; height: 400px; display: block;background-color: rgb(162, 162, 162);">
            </highcharts-chart>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <highcharts-chart *ngIf="showChart1" [Highcharts]="highcharts" [options]="chartOptions1"
                style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>
    </div>
</div> -->