<div class="page-container">
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="24px">
      <mat-card fxFlex class="p-3">
      <mat-card-title>Upload Employee List</mat-card-title>
      <div class="upload-box text-center mt-3">
        <p>Drag and drop Employee List file here</p>
        <p class="or-text">or</p>
        <input #fileInput type="file" accept=".xlsx, .xls" class="hidden-file-input" (change)="onFileChange($event)" />
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          <mat-icon>upload</mat-icon>
          Browse File
        </button>
        <div class="file-name" *ngIf="fileName">
          <mat-icon class="file-icon">description</mat-icon>
          {{ fileName }}
        </div>
      </div>
      <mat-hint class="hint mt-2">
        Excel Format: Emp Name, Emp Id, Emp Ph No, Emp Email
      </mat-hint>
    </mat-card>
    <mat-card fxFlex class="p-3">
      <mat-card-title class="d-flex justify-content-between align-items-center mb-2">
        <div>Manual Employee Entry</div>
        <button mat-raised-button color="primary" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">
          Add Multiple Employee
        </button>
      </mat-card-title>
      <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="entry-grid d-flex gap-2" *ngFor="let employee of addMultipleEmploeeList; index as i">
        <div class="form-group">
            <label class="form-label"> Employee Name</label>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="employee.employeeName" appOnlyAlpha required maxlength="40" minlength="3" #empName="ngModel"/>
                 <mat-error *ngIf="empName.invalid && (empName.dirty || empName.touched)">
                    <ng-container *ngIf="empName.errors?.['required']">
                           Employee Name  is required.
                    </ng-container>
                    <ng-container *ngIf="empName.errors?.['maxlength']">
                          Maximum 10 digits allowed.
                    </ng-container>
                    <ng-container  *ngIf="empName.errors?.['appOnlyAlpha']">
                        Only Alpha are allowed.
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label class="form-label">Employee ID</label>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="employee.employeeId"  #empId="ngModel" required minlength="3" maxlength="10" name="employeeId" appOnlyNumber />
                <mat-error *ngIf="empId.invalid && (empId.dirty || empId.touched)">
                    <ng-container *ngIf="empId.errors?.['required']">
                        Employee ID is required.
                    </ng-container>
                    <ng-container *ngIf="empId.errors?.['minlength']">
                        Minimum 3 digits required.
                    </ng-container>
                    <ng-container *ngIf="empId.errors?.['maxlength']">
                        Maximum 10 digits allowed.
                    </ng-container>
                    <ng-container *ngIf="empId.errors?.['onlyNumber']">
                        Only numbers are allowed.
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label class="form-label">Employee Phone No</label>
            <mat-form-field appearance="outline">
                <input matInput type="number" [(ngModel)]="employee.employeePhoneNo"  #empPhoneNo="ngModel" required  maxlength="10" name="employeePhoneNo" appOnlyNumber/>
                <mat-error *ngIf="empPhoneNo.invalid && (empPhoneNo.dirty || empPhoneNo.touched)">
                    <ng-container *ngIf="empPhoneNo.errors?.['required']">
                        Employee Phone No is required.
                    </ng-container>
                    <ng-container *ngIf="empPhoneNo.errors?.['maxlength']">
                        Maximum 10 digits allowed.
                    </ng-container>
                    <ng-container  *ngIf="empPhoneNo.errors?.['onlyNumber']">
                        Only numbers are allowed.
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label class="form-label">Employee Email</label>
            <mat-form-field appearance="outline">
                <input matInput type="email" [(ngModel)]="employee.employeeEmail" #empEmail="ngModel"  required />
                 <mat-error *ngIf="empEmail.invalid && (empEmail.dirty || empEmail.touched)">
                    <ng-container *ngIf="empEmail.errors?.['required']">
                           Employee Email is required.
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="button-container d-flex justify-content-end align-items-center gap-2">
            <ng-container *ngIf="i > 0 && i == addMultipleEmploeeList.length - 1">
                <button mat-icon-button color="primary" (click)="addMoreEmployee()">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-container>
            <button mat-icon-button color="primary" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="showRemoveForm" (click)="removeEmployeeForm(i)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        </div>
        <div class="actions" *ngIf="showMultipleEmployeeForm" class="d-flex gap-2">
            <button mat-raised-button color="primary" (click)="submitMultipleEmployee()">Submit</button>
            <button mat-stroked-button color="warn" (click)="cancelMultipleEmployee()">Cancel</button>
        </div>
      </ng-container>
      <ng-container *ngIf="!showMultipleEmployeeForm">
        <div class="no-address" *ngIf="employeeList?.length == 0">
          <p>No employee added yet.</p>
          <small>Click on <strong>"Add Multiple Employee"</strong> to add a new
            employee.</small>
        </div>
      </ng-container>
      <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList; index as i">
          <div class="w-100">
              <div class="d-flex w-100 gap-3 mt-2 flex-wrap">
                <div  class="item">
                  <div class="labelText">Employee ID</div>
                  <div class="labelData">{{ employee.employeeId }}</div>
                </div>
                <div  class="item">
                  <div class="labelText">Employee Name</div>
                  <div class="labelData">{{ employee.employeeName }}</div>
                </div>
                <div  class="item">
                  <div class="labelText">Phone No</div>
                  <div class="labelData">{{ employee.employeePhoneNo }}</div>
                </div>
                <div  class="item">
                  <div class="labelText">Employee Email</div>
                  <div class="labelData">{{ employee.employeeEmail }}</div>
                </div>
                <div  class="item">
                  <div class="labelText">Cafeteria</div>
                  <div class="labelData">{{ employee.cafeteria_name }}</div>
                </div>
                <div class="col d-flex justify-content-end align-items-center gap-2">
                  <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                    <mat-icon>edit</mat-icon>
                  </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            
              </div>
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>
</div>

<div class="container-fluid">
    <div class="walletHeader">
        <div class="btn btn-primary btn-sm" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">Add
            Multiple
            Employee
        </div>
        <div>
            <button class="btn btn-primary btn-sm" (click)="openCashbackToAll()">Cashback points</button>
        </div>
    </div>
    <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="file-input-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <span class="styled-heading mb-4">Upload Employee List</span>
                    <div class="error-text">*Excel Format : Emp Name, Emp Id, Emp Ph No, Emp Email</div>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="fileInput"
                            accept=".xlsx, .xls" />
                        <label class="custom-file-label" for="fileInput">{{ fileName || 'Choose file'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let employee of addMultipleEmploeeList; index as i">
            <div class="right addMultipleEmployee" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">+</div>
            <ng-container *ngIf="i>0 && i == addMultipleEmploeeList.length-1">
                <div class="right addMultipleEmployee" (click)="addMoreEmployee()">+</div>
            </ng-container>
            <div class="right removeBtn addMultipleEmployee" (click)="removeEmployeeForm(i)" *ngIf="showRemoveForm"> -
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name"
                        [(ngModel)]="employee.employeeName">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" [(ngModel)]="employee.employeeId">
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        [(ngModel)]="employee.employeePhoneNo">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        [(ngModel)]="employee.employeeEmail">
                </div>
            </div>
        </div>
        <div class="inline bgpadding1" *ngIf="showMultipleEmployeeForm">
            <button type="button" class="btn btn-primary btn-sm" (click)="submitMultipleEmployee()">Submit</button>
            <button type="button" class="btn btn-danger btn-sm cancel"
                (click)="showMultipleEmployeeForm=false; showAddMoreForm=true; showRemoveForm=false">Cancel</button>
            <div class="error-text" *ngIf="disableSubmit">
                *Please fill all above fields</div>
        </div>
    </ng-container>
    <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList; index as i">
            <div class="cardDesign">
                <div>
                    <i class="bi bi-trash right" (click)="deleteEmployee(employee)"></i>
                    <i class="bi bi-pencil-square right margin-right" (click)="editEmployee(employee)"></i>
                </div>
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Id</div>
                        <div class="labelData">{{employee.employeeId}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Name</div>
                        <div class="labelData">{{employee.employeeName}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText"> Employee Phone No</div>
                        <div class="labelData">{{employee.employeePhoneNo}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Email</div>
                        <div class="labelData">{{employee.employeeEmail}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Cashback points</div>
                        <div class="labelData">{{employee.cashbackPoints}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Expiry on</div>
                        <div class="labelData">{{employee.endDate | date: 'dd/MM/yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name" formControlName="employeeName">
                    <div class="error-text" *ngIf="form.controls.employeeName.errors?.required && showError">
                        *Employee name is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeId">
                    <div class="error-text" *ngIf="form.controls.employeeId.errors?.required && showError">
                        *Employee ID is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        formControlName="employeePhoneNo">
                    <div class="error-text" *ngIf="form.controls.employeePhoneNo.errors?.required && showError">
                        *Employee Phone No is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        formControlName="employeeEmail">
                    <div class="error-text" *ngIf="form.controls.employeeEmail.errors?.required && showError">
                        *Employee Email is required</div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="labelText">Cashback points</div>
                    <input type="number" class="form-control" placeholder="Cashback points"
                        formControlName="cashbackPoints" min="0">
                    <div class="error-text" *ngIf="form.controls.cashbackPoints.errors?.required && showError">
                        *Cashback points is required</div>
                    <div class="error-text" *ngIf="form.controls.cashbackPoints.errors?.min && showError">
                        *Invalid Cahsback points</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="labelText">From Date:</div>
                    <input type="date" class="form-control" formControlName="startDate">
                    <div class="error-text" *ngIf="form.controls.startDate.errors?.required && showError">
                        *startDate is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="labelText">To Date:</div>
                    <input type="date" class="form-control" formControlName="endDate">
                    <div class="error-text" *ngIf="form.controls.endDate.errors?.required && showError">
                        *endDate is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Remark</div>
                    <input type="text" class="form-control" formControlName="remark">
                    <div class="error-text" *ngIf="form.controls.remark.errors?.required && showError">
                        *Remark is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateEmployee(empId,form.value)">Update</button>
        </div>
    </div>
</ng-template>

<ng-template #updateEmployeeList let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Cashback</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="cashbackForm">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 mt-2">
                    <div class="labelText">Cashback points</div>
                    <input type="number" class="form-control" placeholder="Cashback points"
                        formControlName="cashbackPoints" min="0">
                    <div class="error-text" *ngIf="cashbackForm.controls.cashbackPoints.errors?.required && showError">
                        *Cashback points is required
                    </div>
                    <div class="error-text" *ngIf="cashbackForm.controls.cashbackPoints.errors?.min && showError">
                        *Invalid Cashback points
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mt-2" style="display: flex;align-items: end;">
                    <label>
                        <input type="radio" value="daily" formControlName="dateType"> Daily
                    </label>
                    <label class="ml-3">
                        <input type="radio" value="monthly" formControlName="dateType"> Monthly
                    </label>
                </div>
            </div>
            <div class="row mt-1" *ngIf="cashbackForm.get('dateType')?.value === 'daily'">
                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">From Date:</div>
                    <input type="date" class="form-control" formControlName="startDate">
                    <div class="error-text" *ngIf="cashbackForm.controls.startDate.errors?.required && showError">
                        *Start Date is required
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">To Date:</div>
                    <input type="date" class="form-control" formControlName="endDate">
                    <div class="error-text" *ngIf="cashbackForm.controls.endDate.errors?.required && showError">
                        *End Date is required
                    </div>
                </div>
            </div>

            <div class="row mt-1" *ngIf="cashbackForm.get('dateType')?.value === 'monthly'">

                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">Start Month:</div>
                    <input type="month" class="form-control" formControlName="startMonth">
                    <div class="error-text" *ngIf="cashbackForm.controls.startMonth.errors?.required && showError">
                        *Start Month is required
                    </div>
                </div>

                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">End Month:</div>
                    <input type="month" class="form-control" formControlName="endMonth"
                        [min]="cashbackForm.get('startMonth')?.value">
                    <div class="error-text" *ngIf="cashbackForm.controls.endMonth.errors?.required && showError">
                        *End Month is required
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">Select Date:</div>
                    <input type="date" class="form-control" formControlName="monthDate" [min]="monthStart"
                        [max]="monthEnd">
                    <div class="error-text" *ngIf="cashbackForm.controls.monthDate.errors?.required && showError">
                        *Date is required
                    </div>
                </div>
            </div>

            <!-- Remark -->
            <div class="col-12 col-md-6 col-lg-12 mt-3 p-0">
                <div class="labelText">Remark:</div>
                <input type="text" class="form-control" formControlName="remark">
                <div class="error-text" *ngIf="cashbackForm.controls.remark.errors?.required && showError">
                    *Remark is required
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateAllEmployeeList(cashbackForm.value)">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <div class="modal-title delete-modal-title" id="modal-basic-title">Delete Vendor</div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="selectParent">
            <p>Do You Realy Want To Delete Employee : <span class="deletedEmployee"> {{deleteEmployeeName}}</span></p>
        </div>
        <button class="btn btn-danger confirmDeleteStyle" (click)="deleteConfirmed(deletedEmployee)">Yes</button>
        <button class="btn btn-primary confirmDeleteStyle" (click)="modal.dismiss('cancel')">NO</button>
    </div>

</ng-template>