<div class="container-fluid">
    <div class="walletHeader">
        <div class="btn btn-primary btn-sm" (click)="addMultipleEmployee()" *ngIf="!showMultipleEmployeeForm">Add
            Multiple
            Employee
        </div>
        <div>
            <button class="btn btn-primary btn-sm" (click)="openCashbackToAll()">Cashback points</button>
        </div>
    </div>
    <ng-container *ngIf="showMultipleEmployeeForm">
        <div class="file-input-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <span class="styled-heading mb-4">Upload Employee List</span>
                    <div class="error-text">*Excel Format : Emp Name, Emp Id, Emp Ph No, Emp Email</div>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="fileInput"
                            accept=".xlsx, .xls" />
                        <label class="custom-file-label" for="fileInput">{{ fileName || 'Choose file'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let employee of addMultipleEmploeeList; index as i">
            <div class="right addMultipleEmployee" (click)="addMoreEmployee()" *ngIf="showAddMoreForm">+</div>
            <ng-container *ngIf="i>0 && i == addMultipleEmploeeList.length-1">
                <div class="right addMultipleEmployee" (click)="addMoreEmployee()">+</div>
            </ng-container>
            <div class="right removeBtn addMultipleEmployee" (click)="removeEmployeeForm(i)" *ngIf="showRemoveForm"> -
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name"
                        [(ngModel)]="employee.employeeName">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" [(ngModel)]="employee.employeeId">
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        [(ngModel)]="employee.employeePhoneNo">
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        [(ngModel)]="employee.employeeEmail">
                </div>
            </div>
        </div>
        <div class="inline bgpadding1" *ngIf="showMultipleEmployeeForm">
            <button type="button" class="btn btn-primary btn-sm" (click)="submitMultipleEmployee()">Submit</button>
            <button type="button" class="btn btn-danger btn-sm cancel"
                (click)="showMultipleEmployeeForm=false; showAddMoreForm=true; showRemoveForm=false">Cancel</button>
            <div class="error-text" *ngIf="disableSubmit">
                *Please fill all above fields</div>
        </div>
    </ng-container>
    <ng-container *ngIf="!showMultipleEmployeeForm">
        <div *ngFor="let employee of employeeList; index as i">
            <div class="cardDesign">
                <div>
                    <i class="bi bi-trash right" (click)="deleteEmployee(employee)"></i>
                    <i class="bi bi-pencil-square right margin-right" (click)="editEmployee(employee)"></i>
                </div>
                <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Id</div>
                        <div class="labelData">{{employee.employeeId}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Name</div>
                        <div class="labelData">{{employee.employeeName}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText"> Employee Phone No</div>
                        <div class="labelData">{{employee.employeePhoneNo}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Employee Email</div>
                        <div class="labelData">{{employee.employeeEmail}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Cashback points</div>
                        <div class="labelData">{{employee.cashbackPoints}}</div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                        <div class="labelText">Expiry on</div>
                        <div class="labelData">{{employee.endDate | date: 'dd/MM/yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Name</div>
                    <input type="text" class="form-control" placeholder="Employee Name" formControlName="employeeName">
                    <div class="error-text" *ngIf="form.controls.employeeName.errors?.required && showError">
                        *Employee name is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee ID</div>
                    <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeId">
                    <div class="error-text" *ngIf="form.controls.employeeId.errors?.required && showError">
                        *Employee ID is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="labelText">Employee Phone No</div>
                    <input type="number" class="form-control" placeholder="Employee Phone No"
                        formControlName="employeePhoneNo">
                    <div class="error-text" *ngIf="form.controls.employeePhoneNo.errors?.required && showError">
                        *Employee Phone No is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Employee Email</div>
                    <input type="email" class="form-control" placeholder="Employee Email"
                        formControlName="employeeEmail">
                    <div class="error-text" *ngIf="form.controls.employeeEmail.errors?.required && showError">
                        *Employee Email is required</div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="labelText">Cashback points</div>
                    <input type="number" class="form-control" placeholder="Cashback points"
                        formControlName="cashbackPoints" min="0">
                    <div class="error-text" *ngIf="form.controls.cashbackPoints.errors?.required && showError">
                        *Cashback points is required</div>
                    <div class="error-text" *ngIf="form.controls.cashbackPoints.errors?.min && showError">
                        *Invalid Cahsback points</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="labelText">From Date:</div>
                    <input type="date" class="form-control" formControlName="startDate">
                    <div class="error-text" *ngIf="form.controls.startDate.errors?.required && showError">
                        *startDate is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="labelText">To Date:</div>
                    <input type="date" class="form-control" formControlName="endDate">
                    <div class="error-text" *ngIf="form.controls.endDate.errors?.required && showError">
                        *endDate is required</div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 mt-2">
                    <div class="labelText">Remark</div>
                    <input type="text" class="form-control" formControlName="remark">
                    <div class="error-text" *ngIf="form.controls.remark.errors?.required && showError">
                        *Remark is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateEmployee(empId,form.value)">Update</button>
        </div>
    </div>
</ng-template>

<ng-template #updateEmployeeList let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Cashback</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="cashbackForm">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 mt-2">
                    <div class="labelText">Cashback points</div>
                    <input type="number" class="form-control" placeholder="Cashback points"
                        formControlName="cashbackPoints" min="0">
                    <div class="error-text" *ngIf="cashbackForm.controls.cashbackPoints.errors?.required && showError">
                        *Cashback points is required
                    </div>
                    <div class="error-text" *ngIf="cashbackForm.controls.cashbackPoints.errors?.min && showError">
                        *Invalid Cashback points
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mt-2" style="display: flex;align-items: end;">
                    <label>
                        <input type="radio" value="daily" formControlName="dateType"> Daily
                    </label>
                    <label class="ml-3">
                        <input type="radio" value="monthly" formControlName="dateType"> Monthly
                    </label>
                </div>
            </div>
            <!-- Date selection -->
            <div class="row mt-1" *ngIf="cashbackForm.get('dateType')?.value === 'daily'">
                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">From Date:</div>
                    <input type="date" class="form-control" formControlName="startDate">
                    <div class="error-text" *ngIf="cashbackForm.controls.startDate.errors?.required && showError">
                        *Start Date is required
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">To Date:</div>
                    <input type="date" class="form-control" formControlName="endDate">
                    <div class="error-text" *ngIf="cashbackForm.controls.endDate.errors?.required && showError">
                        *End Date is required
                    </div>
                </div>
            </div>

            <div class="row mt-1" *ngIf="cashbackForm.get('dateType')?.value === 'monthly'">

                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">Start Month:</div>
                    <input type="month" class="form-control" formControlName="startMonth">
                    <div class="error-text" *ngIf="cashbackForm.controls.startMonth.errors?.required && showError">
                        *Start Month is required
                    </div>
                </div>

                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">End Month:</div>
                    <input type="month" class="form-control" formControlName="endMonth"
                        [min]="cashbackForm.get('startMonth')?.value">
                    <div class="error-text" *ngIf="cashbackForm.controls.endMonth.errors?.required && showError">
                        *End Month is required
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div class="labelText">Select Date:</div>
                    <input type="date" class="form-control" formControlName="monthDate" [min]="monthStart"
                        [max]="monthEnd">
                    <div class="error-text" *ngIf="cashbackForm.controls.monthDate.errors?.required && showError">
                        *Date is required
                    </div>
                </div>
            </div>

            <!-- Remark -->
            <div class="col-12 col-md-6 col-lg-12 mt-3 p-0">
                <div class="labelText">Remark:</div>
                <input type="text" class="form-control" formControlName="remark">
                <div class="error-text" *ngIf="cashbackForm.controls.remark.errors?.required && showError">
                    *Remark is required
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="inline bgpadding1">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="updateAllEmployeeList(cashbackForm.value)">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <div class="modal-title delete-modal-title" id="modal-basic-title">Delete Vendor</div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="selectParent">
            <p>Do You Realy Want To Delete Employee : <span class="deletedEmployee"> {{deleteEmployeeName}}</span></p>
        </div>
        <button class="btn btn-danger confirmDeleteStyle" (click)="deleteConfirmed(deletedEmployee)">Yes</button>
        <button class="btn btn-primary confirmDeleteStyle" (click)="modal.dismiss('cancel')">NO</button>
    </div>

</ng-template>