.lableText{
    font-weight: 600;
    font-size: 14px;
}
.addEmployee{
    position: absolute;
    right: 5px;
    top: 116px;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: #dc3545;
}
//  .showMultipleEmployeeFormStyle{
//      border: 1px solid #efefef;
//      border-radius: 10px;
//      margin-top: 20px;
// //     padding: 15px;
//  }
.addMultipleEmployee{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: #15a292;
    margin-top: 24px;
    cursor: pointer;
    z-index: 10;
}
.removeBtn{
    background:#dc3545 !important;
}
.cancel{
    margin-left: 20px;
}
.bi-pencil-square{
    margin-right: 20px  !important;
}
.modal-title{
    color: red;
    font-size: 20px;
}
.confirmDeleteStyle{
    margin:0px 75px;
}
.labelData {
    font-size: 13px;
}