<div class="bgpadding1">
  <div class="labelText mt-2">Feedback List</div>
  <div *ngIf="feedbacklist.length > 0">
    <div
      class="row"
      *ngFor="let feedback of feedbacklist; index as i"
      class="row cardDesign"
    >
      <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-6 col-md-5 col-lg-5">
            <div class="labelText">Name</div>
            <div class="labelData">{{ feedback.feedbackFrom_name }}</div>
          </div>
          <div class="col-6 col-md-7 col-lg-7">
            <div class="labelText">Phone</div>
            <div class="labelData">{{ feedback.feedbackFrom_phoneNo }}</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-6 col-md-5 col-lg-5">
            <div class="labelText">UserType</div>
            <div class="labelData">{{ feedback.feedbackFrom_userType }}</div>
          </div>
          <div class="col-6 col-md-7 col-lg-7">
            <div class="labelText">Feedback Type</div>
            <div class="labelData">{{ feedback.feedbackType }}</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-6">
        <div class="row">
          <div class="col-6 col-md-5 col-lg-8">
            <div class="labelText">Comment</div>
            <div class="labelData">{{ feedback.feedbackComment }}</div>
          </div>
          <div class="col-6 col-md-7 col-lg-4">
            <div class="labelText">
              Submit date:
              <span class="labelData">{{
                feedback.submitDate | date : "d/M/yy"
              }}</span>
            </div>
            <button
              class="btn btn-primary btn-sm"
              *ngIf="!feedback.acknowledged && true || btnPolicy?.feedbackAcknowledge"
              (click)="acknowledge(feedback)"
            >
              Acknowledge
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-6">
        <div class="row">
          <div class="col-6 col-md-5 col-lg-6">
            <div class="labelText">Order Type</div>
            <div class="labelData">{{ feedback.orderType }}</div>
          </div>
          <div class="col-6 col-md-5 col-lg-6">
            <div class="labelText">Order No</div>
            <div class="labelData">{{ feedback.orderNo }}</div>
          </div>
        </div>
      </div>
    </div>
    <button
      *ngIf="nextOn"
      type="button"
      class="btn btn-primary btn-sm mt-2 me-2"
      (click)="getMore()"
    >
      Next Page
    </button>
    <button
      *ngIf="nextOn"
      type="button"
      class="btn btn-primary btn-sm mt-2"
      (click)="getLess()"
    >
      Previous Page
    </button>
  </div>
  <div class="center" *ngIf="feedbacklist.length === 0">No Records Found</div>
</div>
