@import '/src/styles.scss';

.vendor-header {
  @include responsive-header;
  background-color: transparent;
}

.header-actions {
  @include responsive-flex-wrapper(1rem);
  flex-grow: 1;
  justify-content: flex-end;

  .input-wrapper {
    min-width: 200px;

    @media(max-width: 768px) {
      width: 100%;
      display: block !important;
    }
  }
}

.search-input {
  @include mat-form-field-responsive();
}

.filter-card {
  padding: 16px;
  margin-bottom: 16px;
}

.feedback-list {
  display: flex;
  flex-direction: column;
  gap: 16px; // ⬅️ space between cards
}

.feedback-card {
  @include card-design($white);
  padding: 4px 8px;
}

.labelText {
  @include labelText;
  color: $primary-offset-color2;
}

.labelData {
  @include labelData;
  color: $textPrimary;
  word-break: break-word;
}

.comment-text {
  max-height: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ack-edit {
  border-top: 1px solid $border-color;
  padding-top: 8px;
}

mat-paginator {
  margin-top: 16px;
}