<div class="pageContent">
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.vegCurry.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">Veg Curry</label>
            </div>
        </div>
        <div *ngIf="comboItem.vegCurry.selected" class="bgsidepadding3">
            <div *ngFor="let curry of comboItem.vegCurry.curryList; index as i">
                <input type="text" [(ngModel)]="curry.curryName" class="comboInput">
                <div class="w-100" style="display: flex;justify-content: space-between;">
                    <select interface="action-sheet" placeholder="" class="bgTopDownpadding3 comboInput"
                        style="width: 50%;" [(ngModel)]="curry.size">
                        <option [disabled]="true" [selected]="true" value="">SelectBowlSize</option>
                        <option value="250ml">250ml</option>
                        <option value="350ml">350ml</option>
                    </select>
                    <div style="width: 50%;align-content: center;display: flex;">
                        <div class="ms-2 addBtn inline" (click)="addCurry(comboItem.vegCurry.curryList, i)">+</div>
                        <div class="ms-2 minBtn inline" (click)="removeCurry(comboItem.vegCurry.curryList, i)">-</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.nonVegCurry.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">NonVeg Curry</label>
            </div>
        </div>
        <div *ngIf="comboItem.nonVegCurry.selected" class="bgsidepadding3">
            <div *ngFor="let curry of comboItem.nonVegCurry.curryList; index as i">
                <input type="text" [(ngModel)]="curry.curryName" class="comboInput">
                <div class="w-100" style="display: flex;justify-content: space-between;">
                    <select interface="action-sheet" placeholder="" class="bgTopDownpadding3 comboInput"
                        style="width: 50%;" [(ngModel)]="curry.size">
                        <option [disabled]="true" [selected]="true" value="">SelectBowlSize</option>
                        <option value="250ml">250ml</option>
                        <option value="350ml">350ml</option>
                    </select>
                    <div style="width: 50%;align-content: center;display: flex;">
                        <div class="ms-2 addBtn inline" (click)="addCurry(comboItem.nonVegCurry.curryList, i)">+</div>
                        <div class="ms-2 minBtn inline" (click)="removeCurry(comboItem.nonVegCurry.curryList, i)">-
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.chapati.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">Chapati/Roti</label>
            </div>
        </div>
        <div *ngIf="comboItem.chapati.selected" class="bgsidepadding3">
            <div class="w-100" style="display: flex;">
                <select interface="action-sheet" placeholder="" class="bgTopDownpadding3 comboInput" style="width: 50%;"
                    [(ngModel)]="comboItem.chapati.chapatiName">
                    <option [disabled]="true" [selected]="true" value="">SelectBowlSize</option>
                    <option value="Chapati">Chapati</option>
                    <option value="Roti">Roti</option>
                    <option value="Naan">Naan</option>
                </select>
                <input class="comboInput" type="number" [(ngModel)]="comboItem.chapati.count">
            </div>
        </div>
    </div>
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.rice.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">Rice</label>
            </div>
        </div>
        <div *ngIf="comboItem.rice.selected" class="bgsidepadding3">
            <div class="w-100" style="display: flex;justify-content: space-between;">
                <select interface="action-sheet" placeholder="" class="bgTopDownpadding3 comboInput" style="width: 50%;"
                    [(ngModel)]="comboItem.rice.size">
                    <option [disabled]="true" [selected]="true" value="">SelectBowlSize</option>
                    <option value="250ml">250ml</option>
                    <option value="350ml">350ml</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.dal.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">Dal</label>
            </div>
        </div>
        <div *ngIf="comboItem.dal.selected" class="bgsidepadding3">
            <div class="w-100" style="display: flex;justify-content: space-between;">
                <select interface="action-sheet" placeholder="" class="bgTopDownpadding3 comboInput" style="width: 50%;"
                    [(ngModel)]="comboItem.dal.size">
                    <option [disabled]="true" [selected]="true" value="">SelectBowlSize</option>
                    <option value="250ml">250ml</option>
                    <option value="350ml">350ml</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.sweet.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">Sweet</label>
            </div>
        </div>
    </div>
    <div class="bgpadding3">
        <div class="row col-4">
            <div class="col-2 header5">
                <input class="me-1 checkbx" type="checkbox" [(ngModel)]="comboItem.salad.selected">
            </div>
            <div class="col-9 header5">
                <label class="inline header3 bold comboName">Salad</label>
            </div>
        </div>
    </div>
    <div *ngIf="showDoneButton()" class="doneStyle bgTopDownpadding2">
        <button (click)="addCombo()">DONE</button>
    </div>
</div>