@import "src/styles.scss";

.comboName{
    padding: 4px 0px 0px 0px;
}
.checkbox{
    float: left;
    margin: 5px 12px;
    --background-checked: #002F68;//#88e5db;
    --checkmark-width: 2px;
    --background: #0a0a0a36;
    --border-width: 0px;
    --border-radius: 50%;
    width: 30px;
    height: 30px;
}

.comboInput{
    border: 2px solid $primary-color1;
    border-radius: 10px;
    --padding-start: 14px;
    --padding-end: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.doneStyle{
    text-align: center;
    position: sticky;
    bottom: 90px;
    left: 40%;
    width:fit-content;
    button{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #002F68;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 1px 1px 10px 2px #4a4545c2;
    }
}
.addBtn{
    background: green;width: 25px;text-align: center;color: #ffffff;padding: 5px;border-radius: 6px;height: 40px;
}
.minBtn{
    background: red;width: 25px;text-align: center;color: #ffffff;padding: 5px;border-radius: 6px;height: 40px;
}
.checkbx{
    height: 100%;
    width: 100%;
    border-radius: 25%;
}