<div class="vendor-header">
  <div>
    <h4 class="m-0 fw-semibold">Food Items</h4>
  </div>
  <div class="header-actions" *ngIf="!editMode">
    <div class="input-wrapper">
      <mat-form-field appearance="outline" class="w-100 search-input">
        <input matInput type="text" placeholder="Search by item name" [(ngModel)]="searchText"
          (ngModelChange)="onSearchChange($event)" />
        <button mat-icon-button matSuffix aria-label="Search" class="search-icon">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button class="btn-add" mat-raised-button color="primary" (click)="addFooditem()" *appHasPermission="'FOOD_ITEM:ADD'">
      <mat-icon>add</mat-icon>
      <span class="d-none d-md-inline ms-2">Add Food Item</span>
    </button>
  </div>
</div>

<div class="container-fluid b2b-food-item">
  <!-- LIST MODE -->
  <div *ngIf="!editMode">
    <div class="row">
      <div class="col-12" *ngIf="pagedFoodItems.length > 0; else noRecords">
        <div *ngFor="let item of pagedFoodItems" class="mt-2">
          <app-b2b-food-item-card [foodItem]="item" (deleteItem)="deleteFoodItem($event)"
            (editItem)="editFoodItem($event)"></app-b2b-food-item-card>
        </div>

        <!-- MATERIAL PAGINATOR -->
        <div class="mt-3 d-flex justify-content-end">
          <mat-paginator [length]="filteredLength" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [pageSizeOptions]="[10, 50, 100, 200, 500]" (page)="onPageChange($event)" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>

    <ng-template #noRecords>
      <div class="center mt-3">
        No records found for this filter
      </div>
    </ng-template>
  </div>

  <!-- EDIT / ADD MODE -->
  <div class="" *ngIf="editMode">
    <mat-card class="mainFoodCard">
      <div class="topDiv">
        <h2 class="mb-0">
          {{ editType === 'edit' ? 'Edit Food Item' : 'Add Food Item' }}
        </h2>
      </div>
      <app-b2b-food-item-form [editType]="editType" [editfoodItemObj]="editfoodItemObj"
        (gotoPreviousState)="gotoPreviousState($event)"></app-b2b-food-item-form>
    </mat-card>
  </div>
</div>