<div class="bgsidepadding1">
  <!-- <div class="labelText">Add Menu Items</div> -->
  <div class="ms-2 addBtn inline" *ngIf="true || btnPolicy?.addMenu" (click)="open(); resetValues()">
    +
  </div>
  <div class="mt-2">
    <div class="row cardDesign" *ngFor="let item of filteredMenuList; let i = index">
      <div class="col-sm-12 col-md-6 col-lg-2">
        <img [src]="displayImgUrl + item.imageUrl" class="uploadedImage" />
      </div>
      <div class="col-sm-12 col-md-10 col-lg-10">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4">
            <div class="row">
              <div class="col-6 col-md-8 col-lg-8">
                <div class="labelText">ItemName</div>
                <div class="labelData">{{ item.itemName }}</div>
              </div>
              <div class="col-6 col-md-4 col-lg-4">
                <div *ngIf="item.itemType === 'Veg'" class="vegIcon typeIcon inline"></div>
                <div *ngIf="item.itemType === 'NonVeg'" class="nonvegIcon typeIcon inline"></div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4">
            <div class="row">
              <div class="col-6 col-md-5 col-lg-8">
                <div class="labelText">Price</div>
                <div class="labelData">{{ item.price }}</div>
              </div>
              <!-- <div class="col-6 col-md-7 col-lg-4">
                                <div class="labelText">Priority</div>
                                <div class="labelData">{{item.priority}}</div>
                            </div> -->
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4">
            <div class="row">
              <div class="col-6 col-md-7 col-lg-6 d-flex justify-content-between">
                <i class="bi bi-pencil-square editDeltesaveIcon" *ngIf="true || btnPolicy?.editMenu"
                  (click)="edit(item, i)"></i>
                <i *ngIf="true || btnPolicy?.deleteMenu" class="bi bi-trash editDeltesaveIcon"
                  (click)="showPopup(item, i)"></i>
                <div>
                  <input class="me-1" type="checkbox" [checked]="item.isActive"
                    (change)="changeMenuActivation(item,$event)" />
                  <label class="labelText form-label">Active</label>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-12 col-md-4 col-lg-4">
            <div class="row">
              <div class="col-6 col-md-7 col-lg-5">
                <div class="labelText">Category</div>
                <div class="labelData">{{ item.category }}</div>
              </div>
              <div class="col-6 col-md-5 col-lg-8">
                <div class="labelText">Sub Category</div>
                <div class="labelData">{{ item.subCategory }}</div>
              </div>
              <div class="col-6 col-md-5 col-lg-8">
                <div class="labelText">Precedence</div>
                <div class="labelData">{{ item.precedence }}</div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-12 col-md-4 col-lg-4">
            <div class="row">
              <div class="col-6 col-md-7 col-lg-4">
                <div class="labelText">Is Active</div>
                <div class="labelData">{{ item.isActive }}</div>
              </div>
            </div>
          </div> -->

          <div class="col-12 col-md-4 col-lg-4 mt-2">
            <div class="row">
              <div class="col-6 col-md-7 col-lg-12">
                <div class="labelText">Description</div>
                <div class="labelData">{{ item.description }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center labelText mt-2" *ngIf="filteredMenuList.length==0">No items found</div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <div class="header2 bold" id="modal-basic-title" *ngIf="!showUpdateBtn">Add Menu Item</div>
      <div class="header2 bold" id="modal-basic-title" *ngIf="showUpdateBtn">Edit Menu Item</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="form">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <input #f type="file" class="uploadInput" accept="image/*" capture="camera"
              (change)="handleFileInput($event)" />
            <img class="uploadedImage" [src]="
                showUpdateBtn
                  ? displayImgUrl + imageUrl
                  : imageUrl
                  ? imageUrl
                  : 'assets/images/dummyUpload.png'
              " *ngIf="!imageReplaced" />
            <img class="uploadedImage" [src]="imageUrl ? imageUrl : 'assets/images/dummyUpload.png'"
              *ngIf="imageReplaced" />
            <div class="uploadIcon" (click)="f.click()">
              Upload <i class="bi bi-upload"></i>
            </div>
            <!-- <input #f type="file" class="uploadInput" accept="image/*" capture="camera"
          (change)="handleFileInput($event)" />
        <img (click)="f.click()" [src]="imageUrl ? displayImgUrl + imageUrl : 'assets/images/dummyUpload.png'" class="uploadedImage" />
        <div class="uploadIcon" (click)="f.click()">
          Upload <i class="bi bi-upload"></i>
        </div> -->
          </div>
          <!-- <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Category</label>
            <select class="custom-select" name="role" formControlName="category" (change)="setCategory($event)">
              <option disabled selected value>-- select category --</option>
              <option [value]="cat.name" *ngFor="let cat of outletObj.category">
                {{ cat.name }}
              </option>
            </select>
          </div> -->
          <div class="col-12 col-md-6 col-lg-4" *ngIf="categorySelected">
            <label class="labelText form-label">Sub Category</label>
            <select class="custom-select" name="role" formControlName="subCategory">
              <option disabled selected value>-- select sub category --</option>
              <option [value]="subcat" *ngFor="let subcat of subcategoryList">
                {{ subcat }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="itemName" />
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Price</label>
            <input type="number" class="form-control" placeholder="Price" formControlName="price" />
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label">Subsidy Amount (In Rupess ₹)</label>
            <input type="number" class="form-control" placeholder="Subsidy Amount" formControlName="subsidy" />
          </div>

          <div class="col-subsidysm-12 col-md-6 col-lg-4">
            <label class="labelText">Item Type</label>
            <div>
              <input class="me-1" type="radio" id="itemTypeVeg" formControlName="itemType" value="Veg" />
              <label class="labelText form-label" for="itemTypeVeg">Veg</label>
              <input class="me-1 ms-3" type="radio" id="itemTypeNonVeg" formControlName="itemType" value="NonVeg" />
              <label class="labelText form-label" for="itemTypeNonVeg">NonVeg</label>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <input class="me-1" type="checkbox" id="isActive" formControlName="isActive"
              [checked]="form.controls['isActive'].value" (change)="checkStatus($event,'')" />
            <label class="labelText form-label" for="isActive">Active</label>
          </div>
          <!-- <div class="col-sm-12 col-md-6 col-lg-4">
            <input class="me-1" type="checkbox" id="doNotChangeInFuture" formControlName="doNotChangeInFuture" />
            <label class="labelText form-label" for="doNotChangeInFuture">Do Not Change subsidy In Future</label>
          </div> -->


          <div class="col-sm-12 mt-2">
            <label class="labelText form-label" for="description">Description</label>
            <input class="form-control me-1" type="text" id="description" formControlName="description" />
            <button (click)="defineDescription()" class="createCombo mt-3">
              {{showUpdateBtn ? 'Edit Combo Description':'Create Combo Description'}}
            </button>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <label class="labelText form-label" for="precedence">Precedence</label>
            <input class="form-control me-1" type="number" placeholder="Precedence" id="precedence"
              formControlName="precedence" />
          </div>

          <div class="col-sm-12">
            <label class="labelText form-label" for="description">Select MealTime</label>
            <mat-chip-listbox formControlName="mealTimingInfo" aria-label="Type selection" multiple>
              <mat-chip-option *ngFor="let chip of mealTimeList" [value]="chip.mealType">
                <div class="chip-option">
                  <div class="title">{{ chip?.mealType }}</div>
                </div>
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="inline bgpadding1">
        <button class="btn-primary btn-sm btn me-2 mt-2" (click)="modal.close('add')" *ngIf="!showUpdateBtn">
          Submit
        </button>
        <button class="btn-success btn-sm btn me-2 mt-2" (click)="modal.close('update')" *ngIf="showUpdateBtn">
          Update
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #comboContent let-modal>
    <div class="modal-header">
      <div class="header2 bold" id="modal-basic-title">Create Combo</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-combo-popup [itemContains]="form.value.itemContains"
        (comboout)="comboout($event); modal.dismiss('cancel')"></app-combo-popup>
    </div>
  </ng-template>
</div>