@use '/src/styles/theme/mixins' as mixin;
@use '/src/styles.scss' as color;
@import 'src/styles.scss';

.uploadInput {
  display: none;
}

.uploadedImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.uploadIcon {
  width: 84px;
  background: $secondary-color3;
  border-radius: 5px;
  text-align: center;
  color: white;
  position: relative;
  top: -15px;
  left: 8px;
  font-size: 13px;
  padding: 4px 0px;
  cursor: pointer;
}

.chip-option {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .title {
    font-size: small;
  }

  .time {
    font-size: x-small;
  }
}


.addtnc{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: $secondary-color3;
    
}
.removetnc{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 2px;
    background: $primary-color1;
}
.cardDesign{
  @include mixin.card-design(color.$primary-offset-color1);
}

.search-input,.filter-field {
  @include mixin.mat-form-field-responsive(); 
}