:host ::ng-deep .card-hover {
  border-radius: 20px;
  background-color: #f8f9fa;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
:host ::ng-deep .card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

:host ::ng-deep .money {
  color: #949595;
}


::ng-deep .dashboardContainer .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .dashboardContainer .mdc-notched-outline__leading {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important ;
}
::ng-deep .dashboardContainer .mdc-notched-outline__trailing {
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important ;
}
